* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Merge;
  src: url(../font/merge_light.otf);
}

body {
  font-family: Merge;
  font-size: 16px;
  background: linear-gradient(to bottom, darkviolet ,indigo 20%,black 77%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

main{
  color: white;
  margin-top: 10vh;
  height: 90vh;
  animation-duration: 2s;
}

.review iframe{
  position: absolute;
  left: 5vw;
  top: 27vh;
  border-radius: 17px;
}

@media(max-width:640px){
  .review iframe{
    left: 20%;
    width: 300px;
    height: 270px;
  }
}

a{
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 20px 0px;
  width: 100%;
  display: block;
}

.login-div {
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(900px);
  border-radius: 7px;
  padding: 40px;
  width: 270px;
  margin: auto;
  margin-top: 10vh;
  box-shadow: 
  0px 0px 7px white,
  0px 0px 70px indigo;
}

.logo {
  position: relative;
  background: url("../img/utilities/srry.png");
  background-position: center;
  background-size: 100px;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 50%;
}

.logo::after{
  content: '';
  top: -12px;
  left: -12px;
  width: 100px;
  height: 100px;
  position:absolute;
  border-radius: 100%;
  background: radial-gradient(transparent 0%,transparent 65%,darkmagenta 65%,darkmagenta 100%);
  /* animation: rotate 1s linear infinite; */
  z-index: -1;
}

@keyframes rotate{
  0%{
    background: crimson;
  }
  100%{
    background: dodgerblue;
  }
}

.titulo p{
  border-radius: 3px;
  text-align: center;
  margin-top: 24px;
  padding: 7px;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 2px 2px 5px 0px skyblue;
}

.subtitulo {
  text-align: center;
  margin-top: 10px;
  letter-spacing: 7px;
}

.campos {
  margin-top: 55px;
}

.usuario,
.contraseña {
  margin-bottom: 30px;
  border-radius: 7px;
  background: #fff;
  box-shadow: inset 1px 2px 3px 1px gray,2px 2px 1px 0px white;
}

input {
  color: #005555;
  border: none;
  outline: none;
  background: none;
  margin: 20px 10px;
}

svg {
  height: 25px;
  margin: 2px 15px -7px 15px;
}

button {
  outline: none;
  border: none;
  width: 100%;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
  background: indigo;
  border-radius: 7px;
  box-shadow: 2px 2px 2px black;
  transition: 0.5s;
}

button:hover {
  background: #000;
  box-shadow: 0px 0px 0px 2px darkmagenta;
}

input:active{
	border: none;
	outline: none;
}

input:focus{
	outline: none;
	border: none;
}

.forgot a{
	color: #fff;
}

.forgot a:hover{
	color: dodgerblue;
}
