* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Merge,Serif;
  src: url(../../font/merge_light.otf);
}

body {
  font-family: Merge,serif;
  animation-name: fondo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes fondo{
  
   0%{

    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #00ade6 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffffff), color-stop(50%, #d8f8fc), color-stop(50%, #00e6ff), color-stop(50%, #00e6ff), color-stop(100%, #00ade6));
    background: -webkit-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #00ade6 100%);
    background: -o-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #00ade6 100%);
    background: -ms-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #00ade6 100%);
    background: linear-gradient(to right, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #00ade6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ade6', GradientType=1 );
  }

  20%{
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #7769ff 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffffff), color-stop(50%, #d8f8fc), color-stop(50%, #00e6ff), color-stop(50%, #00e6ff), color-stop(100%, #7769ff));
    background: -webkit-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #7769ff 100%);
    background: -o-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #7769ff 100%);
    background: -ms-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #7769ff 100%);
    background: linear-gradient(to right, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #7769ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#7769ff', GradientType=1 );  

  }

  40%{

    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #0077ff 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #ffffff), color-stop(50%, #d8f8fc), color-stop(50%, #00e6ff), color-stop(50%, #00e6ff), color-stop(100%, #0077ff));
    background: -webkit-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #0077ff 100%);
    background: -o-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #0077ff 100%);
    background: -ms-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #0077ff 100%);
    background: linear-gradient(to right, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #0077ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0077ff', GradientType=1 );
    
  }

  50%{
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #9d00ff 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffffff), color-stop(50%, #d8f8fc), color-stop(50%, #00e6ff), color-stop(50%, #00e6ff), color-stop(100%, #9d00ff));
    background: -webkit-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #9d00ff 100%);
    background: -o-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #9d00ff 100%);
    background: -ms-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #9d00ff 100%);
    background: linear-gradient(to right, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #9d00ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9d00ff', GradientType=1 );
  }

  75%{  
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #b000e7 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffffff), color-stop(50%, #d8f8fc), color-stop(50%, #00e6ff), color-stop(50%, #00e6ff), color-stop(100%, #b000e7));
    background: -webkit-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #b000e7 100%);
    background: -o-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #b000e7 100%);
    background: -ms-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #b000e7 100%);
    background: linear-gradient(to right, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #00e6ff 50%, #b000e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b000e7', GradientType=1 );
  }

  100%{
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #007ea8 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #ffffff), color-stop(50%, #d8f8fc), color-stop(50%, #00e6ff), color-stop(100%, #007ea8));
    background: -webkit-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #007ea8 100%);
    background: -o-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #007ea8 100%);
    background: -ms-linear-gradient(left, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #007ea8 100%);
    background: linear-gradient(to right, #ffffff 0%, #d8f8fc 50%, #00e6ff 50%, #007ea8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007ea8', GradientType=1 );
    
  }
}

main{
  font-family: Merge,serif;
  color: #005555;
  margin-top: 10vh;

  height: 90vh;

  animation-duration: 2s;

}

a{
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 20px 0px;
  width: 100%;
  display: block;
}
.forgot{
	padding: 20px;
}

.forgot a{
	color: indigo;
}

.forgot a:hover{
	color: crimson;
}

/* --------------------- */
/* --------------------- */

.login-div {
  background: #fff;        /* sdaasdasd */
  border-radius: 7px;
  padding: 40px;
  margin: auto;
  /* box-sizing: border-box; */

  width: 270px;
  
  
  box-shadow: 
  0px 0px 0px 3px #ecf0f3,
  1px 5px 7px 0px rgba(0,0,255,0.2),
  -2px -2px 1px 7px transparent,
  1px 1px 1px 0px blue;

  /* box-shadow: 
  5px 7px 20px 1px black,
  12px 12px 3px 1px rebeccapurple; */
  
}

.logo {
  background: url("../../img/flower.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /* background: white; */
  margin: 0 auto;
  box-shadow: 
  3px 3px 3px 1px #5f5f5f,
  0px 0px 0px 10px #ecf0f3,
  22px 16px 16px #a7aaaf,
  -5px -5px 20px #ffffff;
  
  /* opacity:50%; */
  /* filter:blur(0.3px); */
	/* x and y:-18px; */
	/* #ecf0f3 */
}

.titulo p{
  background: lightskyblue;
  border-radius: 3px;
  text-align: center;
  font-size: 28px;
  margin-top: 24px;
  padding: 7px;

  font-weight: 700;
  letter-spacing: 1px;

}

.subtitulo {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  letter-spacing: 7px;
}
/* ---------------- */

.campos {
  margin-top: 55px;
}
/* imputs */
.usuario,
.contraseña {
  margin-bottom: 30px;
  border-radius: 7px;
  background: #ecf0f3;
  box-shadow: 
  inset 4px 2px 7px 1px gray, 
  inset -2px -4px 7px 1px white;
}

input {
  color: #005555;
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
  margin: 20px 10px;
}

svg {
  height: 25px;
  margin: 2px 15px -7px 15px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background: #24cfaa;
  border-radius: 7px;
  box-shadow: 
  -0px -0px 0px 3px #fe77,
  -3px -3px 6px 1px #fff7,
  4px 5px 3px 1px gray,
  10px 10px 20px lightgray;
  transition: 0.3s;
}

button:hover {
  background: #2fdbb6;
}

button:active {
  background: #1da88a;
}



/* ------------------- */



input:active{
	border: none;
	outline: none;
}

input:focus{
	outline: none;
	border: none;
}

