*{
	margin: 0;
	padding: 0;
}

:root{
	--color1:teal;
	--color2:#e9e9e9;
	--color3:#000;
	--color4:#ee7e57;
	--color5:aqua;

}

@font-face {
	font-family: Merge;
	src: url('../font/merge_light.otf');
}

html{
	scroll-behavior: smooth;
}

body{
	font-size: 16px;
	font-weight: 77;
	font-family: Merge;
	background: #e9e9e9;
	overflow-y: auto;
	box-sizing: border-box;
	/* cursor: url('../img/'); */
}

body::-webkit-scrollbar{
	background: black;
	width: 7px;
	padding: 2px;
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb{
	background: #ee7e57;
	border-radius: 10px;
	border-right: 2px solid rgb(255, 218, 201);
	border-left: 2px solid darkorange;
}

header{
	background:rgba(0,0,0,0);
	width: 100%;
	display: flex;
	height: 70px;
	justify-content: space-around;
	overflow: hidden;
	position: absolute;
	padding-top: 69px;
	z-index: 7;
	/* transform: skewY(-4deg); */

}
.reloj{
	color: white;
}

h2{
	color: white;
}

section h2{
	color:salmon;
	text-align: center;
	text-shadow: 2px 2px 7px black;
	padding-bottom: 16px;
}

section h2::selection{
	background: black;
}

.time{
	background: linear-gradient(to right,#1277,#005594,black,salmon);
	width: 100%;
	border-radius: 40px;
	color: white;
	padding: 12px;
}

.h2{
	background: rgba(77, 0, 77, 0.7);
	width: 30vw;
	padding: 20px 10px;
	margin-top: 25vh;
	margin-left: 30%;
	/* border-radius: -40deg 0deg 77deg 0deg; */
	transform: skewx(-45deg);
	

	animation-name: move;
	animation-duration: 2s;
	animation-iteration-count: 2;
	animation-timing-function: linear;
	animation-direction: alternate-reverse;
	
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0002);
}
@keyframes move {
	0%{background:#0004;transform: translate(10vh);  margin-top : 25vh;}
	25%{background:#cdc4;transform: translate(20vh); margin-top : 25vh;}
	50%{background:#0004;transform: translate(30vh); margin-top : 25vh;}
	75%{background:#cdc4;transform: translate(40vh); margin-top : 25vh;}
	100%{background:#0004;margin-top: 25vh;margin-left: 30%; }
}
.h2:hover{
	animation: two 0.3s linear 0s infinite !important;
}

@keyframes two {
	100%{transform: rotate(360deg);}
}

p{
	color:#005555; 
}

p::selection{
	background:var(--color5);
}

button{
	border: none;
	margin: 2px 4px;
	background: transparent;
}

main a{
	text-decoration: none;
	display: inline-block;
	font-family: 'merge','cambria';
	border-radius: 20%;
	background: black;
	padding: 4px;
	width: 100%;
	color: #e1e1e1;
}

main a:hover{
	background: crimson;
	color: white;
	transition: .2s;
}
/*------------------*/

.myPage{
	background: linear-gradient(to right, 
	white 0%,
	white 50%,
	black 50%,
	black 100%);
	font-size: 17px;
	height: 42px;
	border: solid red 0px;
	border-radius: 10px;
	margin: 10px;
	padding: 5px;
}

h1{
	background: linear-gradient(to right, 
	black 0%, 
	black 50%, 
	white 50%, 
	white 100%);
	color:white;
	-webkit-background-clip:text;
	background-clip: text;
	-webkit-text-fill-color:transparent;

}

.nav{
	padding-top: 20px;

}

ul{
	width: 100%;
	list-style: none;
	display: inline;
}

li{
	display: inline;
}

li a{
	text-decoration: none;
	border-bottom:3px solid white;
	padding: 10px;
	margin: 0px 10px;
	color: white;
	/* color:lightseagreen; */
}

.nav a:hover{
	background: linear-gradient(to bottom, transparent 70%,cyan 100%);
	border-bottom: 3px solid black;
}

.nav a:active{
	background: linear-gradient(to top,
	skyblue 98% ,
	white 1%);
	transition: .2s;
}
/*------------------*/

.wrapper{
	background: linear-gradient(to bottom,
	indigo 10%,
	skyblue 20%,
	lightblue,
	rgb(0, 79, 158));
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 70px;
}

.representation{
	background: #cb60b3;
	background: -moz-linear-gradient(-45deg, #cb60b3 0%, #700050 11%, #c146a1 24%, #700050 27%, #a80077 30%, #700050 30%, #db36a4 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, #cb60b3), color-stop(11%, #700050), color-stop(24%, #c146a1), color-stop(27%, #700050), color-stop(30%, #a80077), color-stop(30%, #700050), color-stop(100%, #db36a4));
	background: -webkit-linear-gradient(-45deg, #cb60b3 0%, #700050 11%, #c146a1 24%, #700050 27%, #a80077 30%, #700050 30%, #db36a4 100%);
	background: -o-linear-gradient(-45deg, #cb60b3 0%, #700050 11%, #c146a1 24%, #700050 27%, #a80077 30%, #700050 30%, #db36a4 100%);
	background: -ms-linear-gradient(-45deg, #cb60b3 0%, #700050 11%, #c146a1 24%, #700050 27%, #a80077 30%, #700050 30%, #db36a4 100%);
	background: linear-gradient(135deg, #cb60b3 0%, #700050 11%, #c146a1 24%, #700050 27%, #a80077 30%, #700050 30%, #db36a4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=1 );

	background-attachment: fixed;
	background-position-x: center;
	background-size: 100%;
	margin-bottom: 7vh;
	width: 100%;
	height: 70vh;
	color: white;
	text-align: center;
	border-radius: 0px 0px 50% 0px;
}

hr{


	background: #00404a;
	background: -moz-linear-gradient(left, #00404a 0%, #00384a 17%, #ff4000 17%, #ff4000 17%, #ff4000 38%, #ff8800 38%, #ff8800 38%, #ff8800 59%, #ffb300 59%, #ffb300 59%, #ffd000 81%, #fffccc 81%, #fffccc 82%, #fffccc 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #00404a), color-stop(17%, #00384a), color-stop(17%, #ff4000), color-stop(17%, #ff4000), color-stop(38%, #ff4000), color-stop(38%, #ff8800), color-stop(38%, #ff8800), color-stop(59%, #ff8800), color-stop(59%, #ffb300), color-stop(59%, #ffb300), color-stop(81%, #ffd000), color-stop(81%, #fffccc), color-stop(82%, #fffccc), color-stop(100%, #fffccc));
	background: -webkit-linear-gradient(left, #00404a 0%, #00384a 17%, #ff4000 17%, #ff4000 17%, #ff4000 38%, #ff8800 38%, #ff8800 38%, #ff8800 59%, #ffb300 59%, #ffb300 59%, #ffd000 81%, #fffccc 81%, #fffccc 82%, #fffccc 100%);
	background: -o-linear-gradient(left, #00404a 0%, #00384a 17%, #ff4000 17%, #ff4000 17%, #ff4000 38%, #ff8800 38%, #ff8800 38%, #ff8800 59%, #ffb300 59%, #ffb300 59%, #ffd000 81%, #fffccc 81%, #fffccc 82%, #fffccc 100%);
	background: -ms-linear-gradient(left, #00404a 0%, #00384a 17%, #ff4000 17%, #ff4000 17%, #ff4000 38%, #ff8800 38%, #ff8800 38%, #ff8800 59%, #ffb300 59%, #ffb300 59%, #ffd000 81%, #fffccc 81%, #fffccc 82%, #fffccc 100%);
	background: linear-gradient(to right, #00404a 0%, #00384a 17%, #ff4000 17%, #ff4000 17%, #ff4000 38%, #ff8800 38%, #ff8800 38%, #ff8800 59%, #ffb300 59%, #ffb300 59%, #ffd000 81%, #fffccc 81%, #fffccc 82%, #fffccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00404a', endColorstr='#fffccc', GradientType=1 );
	
	
	padding: 3px 0px;
	margin: 16px;
	border: none;

}

/*------------------*/

	main{
		padding: 20px 20px;
		width: 50%;
		display: flex;
		flex-direction: column;
	}

	main div .img{
		background: url(../img/earth.jpg);
		height: 270px;
		width: 270px;
		float: left;
		margin-right: 17px;
		border-radius: 50%;
		background-size: cover;
		animation: earht 17s linear infinite;
		box-shadow:
		1px 1px 0.7px 0px #121212,
		2px 2px 7px 0px #272727,
		inset 1px 0.7px 1px 0px white,
		inset 7px 1px 7.7px 0px gray;
	}

	@keyframes earht{
		0%   {background-position: 0;}
		100% {background-position: 167%;}
	  }

section{
	  background: rgba(255,255,255,0.3);
	  margin-bottom: 10px;
	  border-radius: 3px;
	  margin-top: 10px;
	  padding: 7px;
	  color: white;
  }

aside{
	/* background:rgba(0,0,0,0.7); */
	/*background: linear-gradient(120deg , skyblue, white , blue);*/
	display: inline-block;
	padding: 20px 20px;
	position: sticky;
	overflow-y: scroll;
	max-height: 700px;
	top: 77px;
	width: 277px;
	/* border-radius: 0px 5px 5px 0px; */
}

aside::-webkit-scrollbar{

	background: white;
	border-radius: 5px;
	width: 4px;	
}

aside::-webkit-scrollbar-thumb{
	background: #ee7e57;
	width: 10px;
	border-radius: 5px;
}

.aside{
	background: rgba(255,255,255,0.3);
	padding: 7px;
	color: white;
}

.redesContainer{
	margin: auto;
	text-align: center;
}

.contador{
	display: inline-block;
}

.fa-code{color: rgb(255,255,255);}/*rgb(83,84,85);*/
.fa-facebook-square{color: rgb(66,103,178);}
.fa-youtube{color: rgb(255,0,0);}
.fa-twitter{color: rgb(29,161,242);}


/* --------------------- */
.adds{
	
	background: dodgerblue;
	background: -moz-linear-gradient(-45deg, dodgerblue 0%, dodgerblue 37%, skyblue 37%, dodgerblue 49%, skyblue 67%, dodgerblue 67%, skyblue 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, dodgerblue), color-stop(37%, dodgerblue), color-stop(37%, skyblue), color-stop(49%, dodgerblue), color-stop(67%, skyblue), color-stop(67%, dodgerblue), color-stop(100%, skyblue));
	background: -webkit-linear-gradient(-45deg, dodgerblue 0%, dodgerblue 37%, skyblue 37%, dodgerblue 49%, skyblue 67%, dodgerblue 67%, skyblue 100%);
	background: -o-linear-gradient(-45deg, dodgerblue 0%, dodgerblue 37%, skyblue 37%, dodgerblue 49%, skyblue 67%, dodgerblue 67%, skyblue 100%);
	background: -ms-linear-gradient(-45deg, dodgerblue 0%, dodgerblue 37%, skyblue 37%, dodgerblue 49%, skyblue 67%, dodgerblue 67%, skyblue 100%);
	background: linear-gradient(135deg, dodgerblue 0%, dodgerblue 37%, skyblue 37%, dodgerblue 49%, skyblue 67%, dodgerblue 67%, skyblue 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='dodgerblue', endColorstr='skyblue', GradientType=1 );
	background-attachment: fixed;
	color: white;
	display: flex;
	justify-content: space-evenly;
	padding: 70px 0px;
	margin: 0;
	text-align: center;
	/* margin-bottom: 5px; */
	/* box-shadow: 
	inset 0px 2px 3px 0px #2525,
	inset 0px 4px 3px 0px orangered,
	0px 2px 7px 1px #2f0000,
	0px 4px 7px 3px #252525; */
}
.adds div{
	/* background: tomato; */
}

.adds h2, .adds h4{
	font-size: 7vh;
	word-spacing: 17px;
	letter-spacing: 7px;
	color: white;
}
.adds img{
	filter: blur(0px);
	border:7px solid;
	border-radius: 7px;
	width: 20%;
}



/*------------------*/
footer{
	background: #2d3e50;
	color: white;

	padding: 77px 0px;
	width: 100%;

	box-shadow: 
	inset 0px 2px 3px 0px #2525,
	inset 0px 4px 7px 0px black,
	0px 2px 7px 1px #2f0000,
	0px 4px 7px 3px #252525;
}

footer section{
	background: transparent;
	justify-content: center;
	display: flex;
	margin: auto;
	width: 70%;
	/* background: rgb(66, 91, 118); */
	/* height: 200px; */
}

footer section h2{
	padding: 10px;
	/* cursor: wait; */

	box-shadow:
	inset 0px 2px 3px 0px #2525,
	inset 0px 4px 4px 0px black,
	-1px -1px 1px 1px #252525,
	1px 1px 2px 2px lightslategray;
}

footer section img{
	border: 3px solid white;
}

footer section div{
	width: 20%;
	padding: 0px 40px;
	display: inline-block;
	border-left: 4px solid #008394;
}

footer img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	margin: 0px 77px 0px 0px;
}

footer hr{
	background: white; 
	padding: 1px; 
	width: 70%;
	margin: auto;
}

footer p{
	color: #7fffff;
	font-size: 12px;
}

footer h3{
	/* text-decoration: underline; */
	margin-bottom: 10px;
	color: white;
}



#go{
	margin: auto;
	font-size: 20px;
	text-align: center;
	font-family: merge,Serif;
	border-radius: 100%;
	cursor: pointer;
	position: fixed;
	bottom: 3vh;
	right: 2vh;	
}
#go a{
	text-decoration: none;
	border-radius: 100%;
	display: block;
	color: white;
}
#go a:hover svg{
	border:2px solid cornflowerblue;
}




/* ----------------------------- */

@media(max-width: 750px){
	header h1{
		display: flex;
		justify-content: center;
	}
	main,aside{
		width:90%;
	}
	.nav{
		width: 97%;
		padding: 0;
		text-align: center;
		margin: 10px 0px;
	}
	.nav a{
		border-radius: 0px;
	}
	.representation{
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	header{
		height: 210px;
		flex-direction: column;
	}
	.reloj table{
		width: 70%;
		margin: auto;
	}
	nav a{
		display: block;
	}
	.adds h2{
		font-size: 20px;
		word-spacing: 0px;
		letter-spacing: 0px;
	}
	footer section h2{
		padding: 0;
	}
	footer img{
		display: none;
		width: 16%;
		height: 100px;
		margin-left: 16px;
	}
}
@media(max-width: 400px){
	p{
		font-size: 12px;
	}
	footer{
		width: 99%;
	}
	footer div{
		padding: 0;
	}

}