*{
	margin: 0;
	padding: 0;
}

:root{
	--color1:teal;
	--color2:#e9e9e9;
	--color3:#000;
	--color4:#ee7e57;
	--color5:aqua;

}

@font-face {
	font-family: Merge;
	src: url(../font/merge_light.otf);
}

html{
	scroll-behavior: smooth;
}

body{
	font-size: 16px;
	font-weight: 77;
	font-family: Merge;
	background: #e9e9e9;
	overflow-y: auto;
	box-sizing: border-box;
	/* cursor: url('../img/'); */
}

body::-webkit-scrollbar{
	background: black;
	width: 7px;
	padding: 2px;
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb{
	background: #ee7e57;
	border-radius: 10px;
	border-right: 2px solid rgb(255, 218, 201);
	border-left: 2px solid darkorange;
}

header{
	background:rgba(0,0,0,0);
	width: 100%;
	display: flex;
	height: 70px;
	justify-content: space-around;
	overflow: hidden;
	position: absolute;
	padding-top: 69px;
	z-index: 7;
	/* transform: skewY(-4deg); */

}
.reloj{
	color: white;
}

h2{
	color: white;
}

section{
	transition-duration: .5s;
}

section:hover{
	background: #25255555;
}

section h2{
	color:salmon;
	text-align: center;
	text-shadow: 2px 2px 7px black;
	padding-bottom: 16px;
}

section h2::selection{
	background: black;
}

.time{
	background: linear-gradient(to right,#1277,#005594,#252555);
	width: 95%;
	border-radius: 7px;
	color: white;
	padding: 12px;
}

.h2{
	background: rgba(255,255,255, 0.1);
	width: 30vw;
	padding: 20px 10px;
	margin-top: 25vh;
	margin-left: 30%;
	transform: skewx(-45deg);
	animation-name: move;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	backdrop-filter: blur(30px);
	animation-timing-function: cubic-bezier(3, 1, 3, 1);
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0001);
}

@keyframes move {
	0%{background:#0004; margin-top : 25vh;}
	25%{background:#e7e4;margin-top : 27vh;}
	50%{background:#0004; margin-top : 30vh;}
	75%{background:#e7e4; margin-top : 40vh;}
	100%{background: none; border:2px solid #fff1; margin-top: 30vh;transform: skewx(0deg);padding: 7vh 2vh;border-radius: 30px;}
}

p{
	color:#d4d4d4;
	font-size: 17px;
	text-shadow: 1px 1px 2px #252525;
}

p::selection{
	background: lightsteelblue;
}

main a{
	background: rgba(255,255,255,0.2);
	text-decoration: none;
	text-shadow: 1px 1px 2px #252525;
	font-family: Merge, 'Serif';
	display: inline-block;
	padding: 5px 10px;
	margin: 5px;
	color: white;
	border: 1px solid rgba(255,255,255,0.5);
	border-right: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	border-radius: 7px;
}

main a:hover{
	background: rgba(255,255,255,0.5);
}
/*------------------*/

.myPage{
	background: linear-gradient(to right, 
	white 0%,
	white 50%,
	#252555 50%,
	#252555 100%);
	font-size: 17px;
	height: 42px;
	border: solid red 0px;
	border-radius: 10px;
	margin: 10px;
	padding: 5px;
}

h1{
	background: linear-gradient(to right, 
	#252555 0%, 
	#252555 50%, 
	white 50%, 
	white 100%);
	color:white;
	-webkit-background-clip:text;
	background-clip: text;
	-webkit-text-fill-color:transparent;

}

.nav{
	padding-top: 20px;

}

ul{
	width: 100%;
	list-style: none;
	display: inline;
}

li{
	display: inline;
}

li a{
	text-decoration: none;
	border-bottom:3px solid white;
	padding: 10px;
	margin: 0px 10px;
	color: white;
	/* color:lightseagreen; */
}

.nav a:hover{
	background: linear-gradient(to bottom, transparent 70%,cyan 100%);
	border-bottom: 3px solid cyan;
}

.nav a:active{
	background: linear-gradient(to bottom, transparent 50%,cyan 100%);
}
/*------------------*/

.wrapper{
	background: linear-gradient(45deg,#252555 40%,dodgerblue 40% 100%);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 20vh;
}

.representation{
	/* background: #cb60b3;
	background: -moz-linear-gradient(-45deg, #cb60b3 0%, indigo 11%, #c146a1 24%, indigo 27%, black 30%, indigo 30%, #db36a4 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, #cb60b3), color-stop(11%, indigo), color-stop(24%, #c146a1), color-stop(27%, indigo), color-stop(30%, black), color-stop(30%, indigo), color-stop(100%, #db36a4));
	background: -webkit-linear-gradient(-45deg, #cb60b3 0%, indigo 11%, #c146a1 24%, indigo 27%, black 30%, indigo 30%, #db36a4 100%);
	background: -o-linear-gradient(-45deg, #cb60b3 0%, indigo 11%, #c146a1 24%, indigo 27%, black 30%, indigo 30%, #db36a4 100%);
	background: -ms-linear-gradient(-45deg, #cb60b3 0%, indigo 11%, #c146a1 24%, indigo 27%, black 30%, indigo 30%, #db36a4 100%);
	background: linear-gradient(135deg, #cb60b3 0%, indigo 11%, #c146a1 24%, indigo 27%, black 30%, indigo 30%, #db36a4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=1 ); */
	background: linear-gradient(45deg,dodgerblue 50%,#252555 50% 100%);
	background-attachment: fixed;
	background-position-x: center;
	background-size: 100%;
	width: 100%;
	height: 70vh;
	color: white;
	text-align: center;
	overflow: hidden;

	/* border-radius: 0px 0px 50% 0px; */
}

hr{

	background: #00404a;
	background: -moz-linear-gradient(left, #00404a 0%, #00384a 17%, #ff4000 17%, #ff4000 17%, #ff4000 38%, #ff8800 38%, #ff8800 38%, #ff8800 59%, #ffb300 59%, #ffb300 59%, #ffd000 81%, #fffccc 81%, #fffccc 82%, #fffccc 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #00404a), color-stop(17%, #00384a), color-stop(17%, #ff4000), color-stop(17%, #ff4000), color-stop(38%, #ff4000), color-stop(38%, #ff8800), color-stop(38%, #ff8800), color-stop(59%, #ff8800), color-stop(59%, #ffb300), color-stop(59%, #ffb300), color-stop(81%, #ffd000), color-stop(81%, #fffccc), color-stop(82%, #fffccc), color-stop(100%, #fffccc));
	background: -webkit-linear-gradient(left, #00404a 0%, #00384a 17%, #ff4000 17%, #ff4000 17%, #ff4000 38%, #ff8800 38%, #ff8800 38%, #ff8800 59%, #ffb300 59%, #ffb300 59%, #ffd000 81%, #fffccc 81%, #fffccc 82%, #fffccc 100%);
	background: -o-linear-gradient(left, #00404a 0%, #00384a 17%, #ff4000 17%, #ff4000 17%, #ff4000 38%, #ff8800 38%, #ff8800 38%, #ff8800 59%, #ffb300 59%, #ffb300 59%, #ffd000 81%, #fffccc 81%, #fffccc 82%, #fffccc 100%);
	background: -ms-linear-gradient(left, #00404a 0%, #00384a 17%, #ff4000 17%, #ff4000 17%, #ff4000 38%, #ff8800 38%, #ff8800 38%, #ff8800 59%, #ffb300 59%, #ffb300 59%, #ffd000 81%, #fffccc 81%, #fffccc 82%, #fffccc 100%);
	background: linear-gradient(to right, #00404a 0%, #00384a 17%, #ff4000 17%, #ff4000 17%, #ff4000 38%, #ff8800 38%, #ff8800 38%, #ff8800 59%, #ffb300 59%, #ffb300 59%, #ffd000 81%, #fffccc 81%, #fffccc 82%, #fffccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00404a', endColorstr='#fffccc', GradientType=1 );
	
	padding: 3px 0px;
	margin: 16px;
	border: none;

}

/*------------------*/

	main{
		padding: 20px 20px;
		width: 50%;
		display: flex;
		margin-top: 50vh;
		flex-direction: column;
	}

	main div .img{
		background: url(../img/earth.jpg);
		height: 270px;
		width: 270px;
		float: left;
		margin-right: 17px;
		border-radius: 50%;
		background-size: cover;
		animation: earht 17s linear infinite;
		box-shadow:
		1px 1px 0.7px 0px #121212,
		2px 2px 7px 0px #272727,
		inset 1px 0.7px 1px 0px white,
		inset 7px 1px 7.7px 0px gray;
	}

	@keyframes earht{
		0%   {background-position: 0;}
		100% {background-position: 167%;}
	  }

.information{
	background: radial-gradient(indigo 10%, #252555 70% 100%);
	padding: 20vh 0vw;
}

.information div{
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	overflow: hidden;
	margin-top: 7vh;
}

.information div img{
	transition-duration: .5s;
	border-radius: 7px;
	width: 34vw;
	height: 36vh;
}

.information h2{
	text-align: center;
	margin-bottom: 10vh;
	font-size: 4vh;
	text-shadow: 2px 2px 2px #252525;
}
.information p{
	font-size: 1rem;
}
.information a{
	align-content: center;
	align-items: center;
	text-align: center;
	background: indigo;
	color: white;
	border: 1px solid white;
	transform: skewx(-27deg);
	text-decoration: none;
	margin-top: 1vh;
	padding: 20px;
	width: 10vw;
	display: block;
}

.information a:hover{
	background: aliceblue;
	color: indigo;
}


section{
	  background: rgba(255,255,255,0.2);
	  box-shadow: 0px 5px 25px #0005;
	  margin-bottom: 10px;
	  border-radius: 3px;
	  margin-top: 10px;
	  padding: 20px 77px;
	  color: white;
	  overflow: hidden;
  }

aside{
	background:rgba(0,0,0,0.5);
	display: inline-block;
	padding: 20px 20px;
	position: sticky;
	overflow-y: scroll;
	max-height: 40vh;
	width: 277px;
	margin-top: 50vh;
	/* border-radius: 0px 5px 5px 0px; */
}

aside h2{
	text-align: center;
}

aside::-webkit-scrollbar{

	background: white;
	border-radius: 5px;
	width: 4px;	
}

aside::-webkit-scrollbar-thumb{
	background: #ee7e57;
	width: 10px;
	border-radius: 5px;
}

.aside{
	background: rgba(255,255,255,0.3);
	padding: 7px;
	color: white;
}

.redesContainer{
	margin: auto;
	text-align: center;
}

.contador{
	display: inline-block;
}

.fa-code{color: rgb(255,255,255);}/*rgb(83,84,85);*/
.fa-facebook-square{color: rgb(66,103,178);}
.fa-youtube{color: rgb(255,0,0);}
.fa-twitter{color: rgb(29,161,242);}


/* --------------------- */
.adds{
	
	background: dodgerblue;
	background: -moz-linear-gradient(-45deg, dodgerblue 0%, dodgerblue 37%, #252555 37%, dodgerblue 49%, #252555 67%, dodgerblue 67%, #252555 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, dodgerblue), color-stop(37%, dodgerblue), color-stop(37%, #252555), color-stop(49%, dodgerblue), 
	color-stop(67%, #252555), color-stop(67%, dodgerblue), color-stop(100%, #252555));
	background: -webkit-linear-gradient(-45deg, dodgerblue 0%, dodgerblue 37%, #252555 37%, dodgerblue 49%, #252555 67%, dodgerblue 67%, #252555 100%);
	background: -o-linear-gradient(-45deg, dodgerblue 0%, dodgerblue 37%, #252555 37%, dodgerblue 49%, #252555 67%, dodgerblue 67%, #252555 100%);
	background: -ms-linear-gradient(-45deg, dodgerblue 0%, dodgerblue 37%, #252555 37%, dodgerblue 49%, #252555 67%, dodgerblue 67%, #252555 100%);
	background: linear-gradient(135deg, dodgerblue 0%, dodgerblue 37%, #252555 37%, dodgerblue 49%, #252555 67%, dodgerblue 67%, #252555 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='dodgerblue', endColorstr='#252555', GradientType=1 );
	/* background: linear-gradient(-45deg,black 40%,dodgerblue 40% 70%, white 70% 100%); */
	background-attachment: fixed;
	color: #252555;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	min-height: 70vh;
	/* box-shadow: 
	inset 0px 2px 3px 0px #2525,
	inset 0px 4px 3px 0px orangered,
	0px 2px 7px 1px #2f0000,
	0px 4px 7px 3px #252525; */
}

.adds h2, .adds h4{
	font-size: 4vh;
	word-spacing: 17px;
	letter-spacing: 7px;
	color: white;
	text-shadow: 2px 2px 2px #252525;
}

.adds div{
	margin-top: 10vh;
}

.adds div:nth-child(1){
	padding-top: 10vh;
}

.adds div img{
	width: 30vw;
	height: 32vh;
	border: 2px solid white
}



/*------------------*/
footer{
	background: #252555;
	min-height: 50vh;
	color: white;
	box-shadow: 
	inset 0px 2px 3px 0px #2525,
	inset 0px 4px 7px 0px black,
	0px 2px 7px 1px #2f0000,
	0px 4px 7px 3px #252525;
}

footer section{
	background: transparent;
	margin: auto;
	padding-top: 17vh;
}

footer section:hover{
	border: none;
}

footer section .footer{
	justify-content: space-around;
	padding: 40px;
	display: flex;
}

footer section article{
	background: rgba(255,255,255,0.2);
	margin-top: 20px;
	border-radius: 7px;
	text-align: center;
	padding: 20px;
}

footer section h2{
	padding: 10px;
	/* cursor: wait; */

	box-shadow:
	inset 0px 2px 3px 0px #2525,
	inset 0px 4px 4px 0px black,
	-1px -1px 1px 1px #252525,
	1px 1px 2px 2px lightslategray;
}

footer p{
	color: #7fffff;
	font-size: 12px;
}

footer h3{
	/* text-decoration: underline; */
	margin-bottom: 10px;
	color: white;
}

/* ------------------------------------ */

#go{
	margin: auto;
	font-size: 20px;
	text-align: center;
	font-family: merge,Serif;
	border-radius: 100%;
	cursor: pointer;
	position: fixed;
	bottom: 3vh;
	right: 2vh;	
}
#go a{
	text-decoration: none;
	border-radius: 100%;
	display: block;
	color: white;
}
#go a:hover svg{
	border:2px solid cornflowerblue;
}




/* ----------------------------- */

@media(max-width: 1080px){
	.daily{
		font-size: 12px;
	}
	.adds img{
		width: 300px;
		height: 250px !important;
	}
}

@media(max-width: 750px){

	header h1{
		display: flex;
		justify-content: center;
	}
	main,aside{
		width:90%;
	}
	main div .img{
		animation: none;
		width: 100%;
		margin-bottom: 20px;
	}

	.nav{
		width: 97%;
		padding: 0;
		text-align: center;
		margin: 10px 0px;
	}
	.nav a{
		border-radius: 0px;
	}

	.h2{
		animation: none;
		margin-top: 300px;
		transform: skewx(0deg);
		margin-left: 20%;
		width: 60%;
		font-size: 12px;
	}

	.representation{
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	header{
		height: 210px;
		flex-direction: column;
	}
	.reloj table{
		width: 70%;
		margin: auto;
	}

	.adds img{
		width: 200px;
		height: 170px !important;
	}

	nav a{
		display: block;
	}
	.adds h2{
		font-size: 20px;
		word-spacing: 0px;
		letter-spacing: 0px;
	}

	footer section h2{
		padding: 0;
	}
	footer img{
		display: none;
		width: 16%;
		height: 100px;
		margin-left: 16px;
	}
}
@media(max-width: 400px){
	section{
		overflow: hidden;
		padding: 0;
	}
	footer{
		box-shadow: none;
		font-size: 10px;
	}
	footer div{
		padding: 0;
	}
	p{
		font-size: 12px;
	}

}