<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="title" content="Portfolio | Jimmy Yahir Gutierrez">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Explore the web development resume of Jimmy Yahir Gutierrez haku haku777 haku bishamon. Discover showcased projects and skills in front-end and back-end development.">
	<meta name="robots" content="index, follow">
	<link rel="canonical" href="https://haku777.com/APortfolio/components/resume/resume.html">
	<meta property="title" content="Web Developer Resume cv - Jimmy Yahir Gutierrez">
	<meta property="image" content="https://haku777.com/img/versiones/v7.avif">
	<meta property="og:image" content="https://haku777.com/img/versiones/v7.avif">
	<meta property="og:title" content="Web Developer Resume cv - Jimmy Yahir Gutierrez">
	<meta property="og:description" content="Explore the web development resume of Jimmy Yahir Gutierrez haku haku777 haku bishamon. Discover showcased projects and skills in front-end and back-end development.">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@exampledeveloper">
	<meta name="twitter:title" content="Web Developer Resume cv - Jimmy Yahir Gutierrez">
	<meta name="twitter:description" content="Explore the web development resume of Jimmy Yahir Gutierrez haku haku777 haku bishamon. Discover showcased projects and skills in front-end and back-end development.">
	<meta name="twitter:image" content="https://haku777.com/img/versiones/v7.avif">
	<link rel="stylesheet" href="css/resume.css">
	<link rel="shortcut icon" href="../../../img/utilities/yo.avif">
	<link rel="alternate" lang="en" href="../../../index_es.html">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="theme-color" content="#4b0082" />
  <title>Resume | CV | Jimmy Yahir Gutierrez</title>
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<section class="titles">
				<h1 hidden>Web Developer Resume cv | Jimmy Yahir Gutierrez | haku | haku777 | haku bishamon</h1>
				<div>
					<h2>JIMMY YAHIR GUTIERREZ BALLEN</h2>
					<h2>jimmy1076667239@gmail.com</h2>
				</div>
			</section>
		</div>
			
		<main>
			<section  class="personalInformation">
				<h2>PERSONAL INFORMATION</h2><br>
				<h3>Contact Information</h3><br>
					<h3>Phone:</h3>
					<h3>3138577727</h3><br>

				<h3>Linkedin:</h3>
				<a href="https://www.linkedin.com/in/jimmy-haku/" target="_blanck">Perfil on linkedin</a><br><br>

				<h2>Currently Learning:</h2><hr><br>
					<h3>Artificial Intelligence</h3>
					<h3>Unit proofs</h3>
					<h3>Automatization</h3>

				<h3>Web Page</h3>
				<a href="https://haku777.com" target="_blanck">https://haku777.com</a><br><br>

				<h2>Skills:</h2><hr><br>	
					<h3>Html5</h3>
					<h3>Css3</h3>
					<h3>C#</h3>
					<h3>.Net</h3>
					<h3>SQL Server</h3>
					<h3>Javascript</h3><br>

				<h2>Platforms:</h2><hr><br>
					<h3>Visual studio</h3>
					<h3>SSMS</h3>
					<h3>Oracle</h3>
					<h3>GitHub</h3>
					<h3>GitLab</h3><br>

				<h2>Portfolio</h2>
				<h3><a href="https://haku777.github.io" target="_blanck">https://haku777.github.io</a></h3><br>
			</section>

			<section class="generalInformation">
				
				<div>
					<h2>PROFILE</h2>
					<div>
						<a class="download" href="components/resume/resume_e.pdf" download>&#128279;</a>
						<a href="../../new.html">Back</a>
					</div>
				</div>
				<hr><br>
				<h3>General Information</h3><br>		
				<h3>I am a proactive person eager to learn. I have experience as a
					Full Stack web developer and knowledge in multiple technologies
					such as .Net with over 4 years of experience. I have employed
					agile methodologies like SCRUM, provided basic support in
					networking, and conducted software testing and analysis. I am
					passionate about development and following programming best
					practices. I consider myself capable and experienced in utilizing
					modern and innovative technologies in development.
					"I believe that in programming there are no impossibilities, only
					things waiting to be discovered.</h3>
				<br>
				<h2>Experience</h2><br>

					<h3>Evolution Technologies Group (September 2021-Present)</h3><br>
						<h3>Currently working as a web developer, utilizing .NET, C#, SQL
							Server, GIT, Gitflow, .NET Framework in different versions
							including 5.0, Full Stack, Continuous Integration, Oracle,
							DevExpress, Razor, LINQ, Azure DevOps, API, Postman, Html5,
							Css3, JavaScript, Bootstrap, Microservices, decision-making with
							the team, problem-solving, and implementing improvements
							based on specifications. Worked on multiple projects.</h3><br>

					<h3>IDAE SOLUCIONES (October 2018 - December 2020)</h3><br>
						<h3>Adjusted and improved SAMM installation and functionality
							validation for clients. Developed using Visual Studio 2008 with
							Visual Basic ASP.NET, .Net Framework 2.0 and 3.5. Direct client
							contact, networking support, and remote development experience
							using agile methodologies (SCRUM).</h3><br>

					<h3>PERIFERIA (IT GROUP) (November 2017 - May 2018)</h3><br>
						<h3>Worked as a software testing analyst and manager, 
							using programs like Mantis bug TRAKE.</h3><br>

				<h2>Knowledge</h2><br>

					<h3>Html5, Css3, Javascript >ES6, SQL Server, C#, Git, Github, Gitlab, API, ASP.NET, Azure
						DevOps, Phyton, Java, Visual Basic, JQuery, Bootstrap, NodeJS, Materialize, Sass, less,
						MySql, POO, PHP, Angular, Larabel, Word, Excel, Unity, xml,
						Wordpress(https://firstpagehaku.wordpress.com).</h3><br><br>

				<h2>Education</h3><br>

					<h3>Technologist (April 2016 – April 2018)</h3><br>
						<h3>Analysis and Development of Information Systems (ADSI), <br>
							High School Diploma (2014).</h3><br>

					<h3>English</h3><br>
						<h3>Intermediate B1 level of English. I am constantly learning the language as it is not
							only necessary but also something I enjoy.</h3><br>

				<h2>Hobbies / Interests</h2><br>

					<h3>Research</h3><br>
							<h3>I enjoy researching modern technologies and web development. International news
								is also of interest to me as it allows me to see different perspectives beyond my
								immediate surroundings.</h3><br>
								
					<h3>Video Games</h3><br>
						<h3>Contrary to the belief that video games are a negative pastime, I believe they are
							not a waste of time. They are not only entertaining but also useful for improving
							reflexes, spatial skills, concentration, and determination. Additionally, they teach
							perseverance towards a goal.</h3><br>

					<h3>Continuous Learning</h3><br>
						<h3>Studying other languages such as English, French, and Japanese.</h3><br>
						<h3>I like to take notes on everything related to development topics that I plan to implement.</h3><br>
						<h3>Reading, which helps me clear my mind and expand my knowledge in various fields.</h3><br>
			</section>
		</main>
	</div>
	<footer>
		<h2>Create by Jimmy Yahir Gutierrez jimmy1076667239@gmail.com<code>(🅷🅰🅺🆄)</code>&nbsp;&copy;&nbsp;<span title="Year" id="currentYear"></span> All rights reserved.</h2>
	</footer>


<script>
	const currentYear = new Date().getFullYear();
	document.getElementById('currentYear').textContent = currentYear;
</script>
</body>
</html>