<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/resume.css">
		<title>HojaVida</title>
	</head>

	<body>
		<header>
			<div>
				<a href="../../new.html">Back</a>
			</div>
			<h2>Resume (CV)</h2>
		</header>
		<br>


<div class="wrapper">
	<div class="container">
		<section class="titles">
			<div><img src="../../../img/utilities/yo4.jpeg" alt=""></div>
			<div>
				<h2>JIMMY YAHIR GUTIERREZ BALLEN</h2>
				<h2>jimmy1076667239@gmail.com</h2>
			</div>
		</section>
	</div>
		
	<main>
		<section  class="personalInformation">
			<h3>INFORMACION PERSONAL</h3><br>
			<h3>Informacion de contacto</h3><br>
				<h4>email:</h4><br>
					<h5>jimmy1076667239@gmail.com</h5><br>
				<h4>Teléfono:</h4><br>
				<h5>3138577727</h5><br>

			<h4>Linkedin:</h4><br>
			<h5><a href="https://www.linkedin.com/in/jimmy-haku/" target="_blanck">Perfil on linkedin</a></h5><br>


			<h4>Me gustaría aprender:</h4>
				<h5>Inteligencia artificial</h5>
				<h5>Automatización</h5><br>

			<h4>Página Web (en desarrollo):</h4>
			<h5><a href="https://haku777.github.io" target="_blanck">https://haku777.github.io/</a></h5><br>

			<h4>Habilidades:</h4><!-- SKILLS -->		
				<h5>Html5</h5>
				<h5>Css3</h5>
				<h5>Sass</h5>
				<h5>Javascript</h5>
				<h5>.Net</h5>
				<h5>SQL Server</h5>

			<h4>Plataformas:</h4>
				<h5>Visual studio</h5>
				<h5>SSMS</h5>
				<h5>GitHub</h5>
				<h5>GitLab</h5><br>

			<h4>Edad: 24</h4><br>

			<h4>Portafolio (en desarrollo)</h4>
			<h5><a href="https://haku777.github.io" target="_blanck">https://haku777.github.io</a></h5><br>
		</section>

		<section class="generalInformation">
			

			<h3>PERFIL</h3><br>
			<hr><br>
			<h4>Informacion general</h4><br>		
			<h5>Soy una Persona proactiva con ganas de aprender, tengo
				experiencia como desarrollador web, empleando metodologías
				agiles como SCRUM, he realizado apoyo básico en redes, también
				gestión y análisis de pruebas de software. Me apasiona el
				desarrollo realizando buenas prácticas de programación. me
				considero una persona con capacidad y con experiencia en temas
				de desarrollo empleando tecnologías modernas y novedosas.
				“creo que en el área de programación no hay imposibles, solo
				cosas por descubrir”.</h5>
			<br>
			<h3>Experiencia</h3><br>

				<h4>Evolution Technologies Group (septiembre 2021-Actualidad)</h4><br>
					<h5>Actualmente trabajo en la empresa desempeñando el cargo de
						desarrollador web.</h5><br>


				<h4>IDAE SOLUCIONES (octubre 2018 – diciembre 2020)</h4><br>
					<h5>ajustes y mejoras, trabajando temas como instalación y
						validación del funcionamiento de SAMM en cliente, apoyo en
						redes y conexión de la empresa, experiencia como desarrollador
						remoto utilizando metodologías agiles (SCRUM).</h5><br>

				<h4>PERIFERIA (IT GROUP) (noviembre 2017 – mayo 2018)</h4><br>
					<h5>Trabaje como analista y gestor de pruebas de software en la
						compañía manejando programas como Mantis bug TRAKE</h5><br>


			<h3>Conocimientos</h3><br>

				<h5>Html5, Css3, Javascript, SQL Server, Git, Github, Gitlab, API,
					C#, .Net, Azure DevOps,Phyton, JQuery, Bootstrap, NodeJS,
					Materialize, Sass, MySql, POO, PHP, Angular, Larabel, Word,
					Excel, Unity, Wordpress(https://firstpagehaku.wordpress.com).</h5><br><br>

			<h3>Educación</h4><br>

				<h4>Tecnólogo (abril 2016 - abril 2018)</h4><br>
					<h5>Análisis y Desarrollo de Sistemas de Información (ADSI), bachiller (2014).</h5><br>

				<h4>Ingles</h4><br>
					<h5>Conocimiento de Ingles nivel Intermedio B1, estoy en constante aprendizaje del
					idioma ya que no solo es necesario, sino que también me gusta el idioma en sí.</h5><br>

			<h3>pasatiempos / aficiones</h3><br>

				<h4>Investigación</h4><br>
						<h5>Investigar sobre las tecnologías modernas y el desarrollo web, Las noticias
							internacionales también son de mi interés así puedo ver desde otras perspectivas y
							no quedarme solo con lo que me rodea.</h5><br>

				<h4>Aprendizaje Continuo</h4><br>

					<ul>
						<li>Estudio de otros idiomas como el inglés francés y el japones.</li><br>
						<li>Me gusta anotar todo acerca de lo que voy a implementar de temas de desarrollo.</li><br>
						<li>La lectura, me gusta para despejar mi mente y expandir mi conocimiento en otros ámbitos.</li><br>
					</ul> 

				<h4>Videojuegos</h4><br>
					<h5>Aunque muchos piensan en los videojuegos como un pasatiempo negativo, en
					realidad no es una pérdida de tiempo. No sólo son entretenidos, también son útiles
					para mejorar los reflejos, la habilidad espacial, la concentración y la
					determinación. Además, se aprende a levantarse en pro de un objetivo.</h5><br>
		</section>
	</main>
</div>
<footer>
	<p>creado por Jimmy Yahir Gutierrez <code>(🅷🅰🅺🆄)</code> &#169; copyright 2021 version V2.7</p>
	<p>pdt: agregar boton de descarga para imprimir como pdf y otro para guardar en local</p>
</footer>
</body>
</html>