<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iframes</title>
</head>
<body>
    <main>
        <div id="map" style="width: 700px; height: 500px;"></div>

    </main>
    
    
    <script>
function iniciarMap(){
    var coord = {lat:4.7470205 ,lng: -74.121597};
    var map = new google.maps.Map(document.getElementById('map'),{
      zoom: 10,
      center: coord
    });
    var marker = new google.maps.Marker({
      position: coord,
    //   map: map
    });
}



// function iniciarMap(){            
//             function localizacion(posicion){
//                 var latitude = posicion.coords.latitude;
//                 var longitude = posicion.coords.longitude;
//                 var coord = {lat:latitude ,lng: longitude};
//                 var map = new google.maps.Map(document.getElementById('map'),{
//                     zoom: 10,
//       center: coord
//     });
//     var marker = new google.maps.Marker({
//         position: coord,
//         map: map
//     });
// }

// function error(){
//  output.innerHTML = "<p>No se pudo obtener tu ubicación</p>";
// }
//   navigator.geolocation.getCurrentPosition(localizacion,error);
// }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
</body>
</html>