<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/parallax.css">
	<title>Paralax</title>
</head>
<body>
	<main>
		<section class="img1" id="img1">
			<div>
				<article>
					<nav>
						<ul>
							<li><a href="../../new.html">Back</a></li>
							<li><a href="../../../index.html">Menu</a></li>
							<li><a href="#img2">Services</a></li>
							<li><a href="#img3">About us</a></li>
							<li><a href="#">help</a></li>
						</ul>
					</nav>
					<h2>Parallax</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ad consequuntur rem impedit cumque non praesentium id doloribus.</p>
				</article>
				<article>
					<img src="../../../img/pexelFree/code.jpg" alt="">
				</article>

			</div>
		</section>

		<section class="img2" id="img2">
			<div>
				<h2>Services</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa nisi suscipit dolore. Harum voluptate nisi tempora, rem aliquam possimus fugiat veniam eveniet nesciunt illum quis dolore ut voluptatibus exercitationem?</p>
				<a href="#">Button</a>
			</div>
		</section>
		
		<section class="img3" id="img3">
			<div>
				<h2><a href="#img1">Startup</a></h2>
				<h2><a href="#img1">Home</a></h2>
				<h2><a href="#img2">Services</a></h2>
				<h2><a href="#img3">About</a></h2>
			</div>
		</section>

	</main>

</body>
</html>