<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="../../../img/information/c.png" type="image/x-icon">
	<title>banner</title>
	<style>
		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Josefin Sans', sans-serif;
		}
		body{
			background: #fff;
		}
		main
		{
			margin: auto;
			margin-top: 40vh;
			width: 17vw;
			height: 17vw;
			border: 17px solid #428bca;
			border-top: 17px solid #e1ecf6;
			border-radius: 50%;
			animation: load 3.7s linear infinite;
		}
		@keyframes load {
			0%{transform: rotate(-360deg);}			
		}
	</style>
</head>
<body>
	<main>
	</main>
</body>
</html>



