<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOL</title>
    <link rel="stylesheet" href="css/lol.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="../index.html">Back</a>
                <a href="../../page.html">Menu</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <h2>Search Image</h2>
    <section>
        <div>
            <input type="text" id="buscar" name="buscar" placeholder="example: reloj" value="">
            <input type="submit" id="buscar" name="buscar" value="Search">
        </div>
        </section>
        <section>
            <div id="resultados" name="resultados">
            </div>
        </section>
    </main>


    <script>
        
        let buscar = document.getElementById('buscar').addEventListener('change', buscarImagen);
        function buscarImagen() {
            let buscarValor = document.getElementById('buscar').value;
            console.log(buscarValor);
            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", `https://pixabay.com/api/?key=5782415-b3d87a084492871cc6157ae22&q=${buscarValor}&image_type=photo&per_page=50`, true);
            xhttp.send();

        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {

                console.log(xhttp);
                let respuesta = JSON.parse(xhttp.responseText);
                
                let resultados = document.getElementById('resultados');
                resultados.innerHTML ='';
                buscarValor.innerHTML ='';
                console.log(respuesta.hits);
                for(let items of respuesta.hits){
                    resultados.innerHTML +=(`<img src="${items.largeImageURL}" width="300" height="300">`);
                }
            };       
        }
    }
    buscarImagen()
    </script>

</body>
</html>