<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background: cornflowerblue;
            background: lightslategray;
        }
    </style>
</head>
<body>
    <h2>Fechas de cumpleanos</h2>
    16 de julio mama 45
    3 de octubre sara 7
    4 de febrero 24 ktha
    16 de mayo 47 jorge
    5 de mayo 47 papa

    capricornio 23 dic - 21 enero
    tauro
    virgo 23 agost -22 sep

    cancer 22 jun - 21 julio
    sajitario 23 nov -22 dic
    libra 23 sep - 22 0ct
    escorpion 23 oct - 22 nov
    
    acuario 22 ene - 17 febre
    pisis 18 feb - 19 mayo

    leo 22 jul - 22 ago
    aries
    sajitario


tierra
    capricornio
    tauro
    virgo


agua
    cancer
    escorpio
    pisis

aire
    geminis
    acuario
    libra

fuego
    leo
    aries
    sagitario



</body>
</html>