<html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>api lol</title>
    </head>

    <body>
        <div class="lol" id="lol">
            
        </div>


        <script>

            let content = document.querySelector("#lol");

            const xhttp = new XMLHttpRequest();
            xhttp.open("GET", "https://la1.api.riotgames.com/lol/league-exp/v4/entries/RANKED_FLEX_SR/GOLD/IV?page=2", true);
            // xhttp.setRequestHeader("Access-Control-Allow-Origin" , "*")
            xhttp.setRequestHeader('Content-type', 'http://127.0.0.1:5500/haku777.github.io/components/pruebas/lol.html')
            xhttp.send();

            xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
            
            let res = JSON.parse(xhttp.responseText);
            let sumonername = res.name;
            console.log(sumonername);
                        
        };       
    }

        </script>
    </body>
</html>