work
<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-junior-bogota-en-bogota-dc-12CBA7220C479D4461373E686DCF3405 -->

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-frontend-junior-programador-web-sistemas-developer-software-profesionales-en-bogota-dc-9639296959121BFD61373E686DCF3405 -->

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-si-tienes-un-nivel-de-ingles-b2-y-vives-en-la-ciudad-de-bogota-esta-es-tu-oportunidad-de-empleo-medio-tiempo-bn-en-bogota-dc-975B3529AC87AF8161373E686DCF3405 -->

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-junior-en-medellin-EC14C9E22E37AE6461373E686DCF3405 -->

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-aspnet-webformas-mvc-netcore-en-bogota-dc-C9E399F42DDFDF8761373E686DCF3405 -->

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-front-end-en-apartado-B9A9BE063E06263461373E686DCF3405 -->


<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-front-end-en-cali-8424889E2940623E61373E686DCF3405 -->


clave 2000 s a (nop)
///////////////////

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-net-junior-en-bogota-dc-21C61B917858671761373E686DCF3405 -->

control box corp(nop)
<!-- /////////////////// -->

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-fronted-javascriptangular-en-colombia-AE2EBC9C2E6D218361373E686DCF3405
<!--  -->
bits Americas
///////////////////

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-front-end-1-ano-de-experiencia-en-medellin-F0B41682625CB78661373E686DCF3405

movilbox
///////////////////

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-frontend-junior-programador-web-sistemas-developer-software-profesionales-en-bogota-dc-9639296959121BFD61373E686DCF3405 -->

MANPOWER PROFESSIONAL LTDA
-------------------------------------------------------------------

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-programador-web-en-bogota-dc-2CC326217182092161373E686DCF3405 -->

<!-- aplicar con conocimiento de js si o si -->
<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-zoho-en-bogota-dc-D602911F9BED466761373E686DCF3405 -->

<!-- aplicar cuando tenga claro node js -->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-dia-en-medellin-F3C320402E09BF3C61373E686DCF3405

<!-- 8.000.000 ingles 2anos de experiencia .net -->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-net-en-bogota-dc-EDFB26EFF9296B6C61373E686DCF3405  <!--8 millones-->

<!--  -->
<!-- aplicando actualmente -->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-medellin-en-medellin-5F8C5FAE75C41FC961373E686DCF3405

<!--  -->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-junior-1-ano-de-experiencia-en-desarrollo-en-bogota-dc-D4864C057BB4977F61373E686DCF3405
<!--  -->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-en-armenia-2E56474AC80E920D61373E686DCF3405


https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-junior-net-en-medellin-9DFC71F7D070FD6161373E686DCF3405 <!--ahh no creo-->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-trabajo-remoto-en-bogota-dc-D0F3A3C4D82223B961373E686DCF3405 <!--ahh no creo-->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-junior-aplicaciones-y-net-en-cota-E4756B59D5A60C6661373E686DCF3405 <!--ahh no creo-->
<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-en-barranquilla-33B1128A1412057E61373E686DCF3405 -->

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-mysql-php-java-scrip-en-bogota-dc-AB9958F7EF2A43B361373E686DCF3405
<!--  -->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-floridablanca-en-floridablanca-8333CF0C58CD09E061373E686DCF3405<!--ahh no creo-->

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-frontend-ecommerce-en-bogota-dc-D86A6967E576A04261373E686DCF3405  jquery, maquetacion con photoshop

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-front-junior-angular-y-node-js-en-bogota-dc-EA81E401A1776ABA61373E686DCF3405 -->

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-de-sofware-en-cota-C8FE26CE265EBB2F61373E686DCF3405
<!--  -->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-bogota-en-bogota-dc-C1B109696668816A61373E686DCF3405?utm_source=Email&utm_campaign=auto_cand_alertacargosdiaria&utm_medium=title3_cycle1_d2021031206_notag&fgoa=True
<!--  -->
<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-programador-de-software-junior-teletrabajo-en-bogota-dc-B8C609C8A9410ADB61373E686DCF3405 -->

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-front-end-en-bogota-dc-289293AA63B32A1A61373E686DCF3405
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-junior-tecnologo-en-sistemas-en-medellin-F40A715110F3377E61373E686DCF3405


https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-junior-tecnologo-en-sistemas-en-medellin-F40A715110F3377E61373E686DCF3405


https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrolladora-senior-en-bogota-dc-8CD3EE4E2965617C61373E686DCF3405
<!--  -->
<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-java-junior-en-bogota-dc-7521DF5A6B0CFF4E61373E686DCF3405 -->

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-ingeniero-junior-desarrollador-de-software-en-bogota-dc-F7938100EC17D19B61373E686DCF3405
parece idae

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-fullstack-para-la-ciudad-de-cali-en-cali-96537E26B6B3CEE161373E686DCF3405 -->








https://co.indeed.com/trabajo?q=desarrollador%20web&l=Bogot%C3%A1%2C%20Cundinamarca&vjk=0208b0dfe483631b

https://co.indeed.com/trabajo?q=desarrollador%20web&l=Bogot%C3%A1%2C%20Cundinamarca&vjk=ffdb32a48ae51fc3

https://agenciapublicadeempleo.sena.edu.co/spe-web/spe/oferta/dashboard

https://co.indeed.com/ver-empleo?jk=385dfeaf8b43372d&q=desarrollador&l=Bogot%C3%A1,+Cundinamarca&tk=1fa45hfb1u8h1807&from=ja&alid=6081ffdf9e05057c851af686&utm_campaign=job_alerts&utm_medium=email&utm_source=jobseeker_emails&rgtk=1fa45hfb1u8h1807

https://co.indeed.com/ver-empleo?jk=c4d0080c5bb2dd84&q=desarrollador&tk=1fa3g15gju9l6801&from=ja&alid=6070844b2b46115eb728099b&utm_campaign=job_alerts&utm_medium=email&utm_source=jobseeker_emails&rgtk=1fa3g15gju9l6801

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-software-en-bogota-dc-6A0DC2E0CFDAB88961373E686DCF3405?utm_source=Email&utm_campaign=auto_cand_alertacargosdiaria&utm_medium=title3_cycle1_d2021070808_notag&fgoa=True

https://co.indeed.com/ver-empleo?jk=2b8677e0664bab47&q=desarrollador&tk=1f9ub7eisu9l6806&from=ja&alid=6070844b2b46115eb728099b&utm_campaign=job_alerts&utm_medium=email&utm_source=jobseeker_emails&rgtk=1f9ub7eisu9l6806

https://co.indeed.com/ver-empleo?jk=3839a1cedb95e5f1&q=desarrollador+web&l=Bogot%C3%A1,+Cundinamarca&tk=1f9nsdqk3ubt4800&from=ja&alid=60839ea55320435c7f1ce87a&utm_campaign=job_alerts&utm_medium=email&utm_source=jobseeker_emails&rgtk=1f9nsdqk3ubt4800

https://co.indeed.com/ver-empleo?jk=34cedcb2ce2a3240&q=desarrollador&tk=1f9mk1pheu9l6805&from=ja&alid=6070844b2b46115eb728099b&utm_campaign=job_alerts&utm_medium=email&utm_source=jobseeker_emails&rgtk=1f9mk1pheu9l6805

https://co.jobomas.com/desarrollador-java-fullstack-con-experiencia_iid_312820661?utm_source=suggested_job_view&utm_medium=email_new_ad_inter&token=ede5efe052699813d206e1c96fd8cf7e615ae73e8845ce6ba5911e27b2cfbf14be70ba63fcb7f344f0c98d618e8c0cece66d6b61a8c55033b40b5d45e4f64d69885d7872e9bb5e8cb93db8a4cea579b93d0e8b1a3b0c2014



https://acciontrabajo.com.co/empleo-de-desarrolladores-front-end-back-end-bogota-cundinamarca-inc-bogota-bioege?utm_source=JD&utm_medium=JD&utm_campaign=JD

https://www.youtube.com/watch?v=coVtdZRoAFc


https://acciontrabajo.com.co/empleo-de-agente-call-center-sin-experiencia-bogota-cundinamarca-inc-bogota-bifioo?utm_source=JD&utm_medium=JD&utm_campaign=JD

https://co.indeed.com/ver-empleo?jk=c51bd1b89cd3d853&q=desarrollador+web&l=Bogot%C3%A1,+Cundinamarca&tk=1faci9gn8ub9680i&from=ja&alid=60839ea55320435c7f1ce87a&utm_campaign=job_alerts&utm_medium=email&utm_source=jobseeker_emails&rgtk=1faci9gn8ub9680i

https://welovemoons.mymoons.co/?utm_source=google&utm_medium=cpc&utm_campaign=co_2020_search_branded&gclid=CjwKCAjwlrqHBhByEiwAnLmYUJFhc8CO6d0pBBBquk63eEKYOP6d2XqGcwyuGo8qE_2NU02DkM0KuhoCwpUQAvD_BwE




https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-de-software-con-expereincia-minimo-de-2-anos-en-bogota-dc-5FF65B6C0D5492BA61373E686DCF3405?utm_source=Email&utm_campaign=auto_cand_alertacargosdiaria&utm_medium=title3_cycle1_d2021071407_VerOffertaFirstApply&fgoa=True


2,500

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrolladora-de-software-3-anos-de-experiencia-en-cali-80A17636845F13A161373E686DCF3405

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-de-contenido-para-videojuegos-en-bogota-dc-341645D6035440F361373E686DCF3405

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-de-software-junior-teletrabajo-en-bogota-dc-63685E965E097C3D61373E686DCF3405

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrolladores-frontend-angular-en-bogota-dc-B8B92A59A05ED20061373E686DCF3405

https://co.indeed.com/trabajo?q=desarrollador%20web&l=Bogot%C3%A1%2C%20Cundinamarca&vjk=0208b0dfe483631b

https://co.indeed.com/trabajo?q=desarrollador%20web&l=Bogot%C3%A1%2C%20Cundinamarca&vjk=ffdb32a48ae51fc3

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-junior-visual-studio-sql-server-en-bogota-dc-C07A3FB0293DD4A861373E686DCF3405?utm_source=auto_cand&utm_campaign=auto_cand_alertsummary&utm_medium=Email&fgoa=True

https://co.jobomas.com/desarrollador-junior_iid_315171618

https://developer.riotgames.com/apis#account-v1/GET_getByAccessToken

https://utweb.trontv.com/gui/index.html?v=1.2.2.3593&localauth=localapie56a3bfaf4406abd:#/library

file:///C:/Users/jimmy/Desktop/Untitled-4.html

https://firstpagehaku.wordpress.com/


https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrolladora-front-end-en-bogota-dc-7BC977359F24672061373E686DCF3405?utm_source=Email&utm_campaign=auto_cand_alertacargosdiaria&utm_medium=title3_cycle2_d2021060810_ActiveCompanyTag&fgoa=True

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-gran-oportunidad-laboral-recien-egresados-desarrollador-de-software-junior-en-bogota-dc-6E6D0F39000F5CF261373E686DCF3405?utm_source=Email&utm_campaign=auto_cand_alertacargosdiaria&utm_medium=title3_cycle1_d2021060605_notag&fgoa=True

https://co.indeed.com/ver-empleo?jk=c70b6c2c979c067e&q=desarrollador&tk=1f7m83oouudaf801&from=ja&alid=6070844b2b46115eb728099b&utm_campaign=job_alerts&utm_medium=email&utm_source=jobseeker_emails&rgtk=1f7m83oouudaf801

https://acciontrabajo.com.co/empleo-de-desarrollador-full-stack-bogota-cundinamarca-inc-bogota-biobuc?utm_source=JD&utm_medium=JD&utm_campaign=JD


https://co.jobomas.com/desarrollador-front-end_iid_309470052?utm_source=suggested_job_view&utm_medium=email_new_ad_inter&token=ede5efe052699813d206e1c96fd8cf7e615ae73e8845ce6ba5911e27b2cfbf14be70ba63fcb7f344f9e7ae931574a347104d47ab6122a3bde83b856e68ac6ca2ca4abd740be822057930563097bdf4ba76dbc21b3a53b72e

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-en-bogota-dc-54F31784D5950BD361373E686DCF3405?utm_source=Email&utm_campaign=auto_cand_alertacargosdiaria&utm_medium=title3_cycle2_d2021060909_VerOffertaFirstApply&fgoa=True


https://www.youtube.com/watch?v=PCtqCaQyN7Y

https://www.binance.com/es-LA/my/wallet/account/main

https://articulo.mercadolibre.com.co/MCO-588514286-esika-cyzone-colonia-prints-perfume-locin-colonia-prints-_JM#position=4&search_layout=stack&type=item&tracking_id=ce601299-30fd-4bd6-b997-1559b1e4c690



teoria de grafos

http://jommaz.github.io/index.html



https://mx.jobomas.com/php-front-end-software-developer_iid_308593594





https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-movil-yo-web-tecnologo-o-profesional-en-sistemas-experiencia-minima-de-1-ano-en-cali-C089174580BFCA5161373E686DCF3405



https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-en-bucaramanga-B769ADA46326BA5861373E686DCF3405


https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-de-aplicaciones-web-con-experiencia-en-php-jsjquery-y-mysql-en-medellin-BA0CCFF11276F14F61373E686DCF3405


https://persona.computrabajo.com.co/Candidate/Match/Comparison?im=09897976D5F2A37F7E5CCE1038C1C049


https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-php-java-scrip-bases-de-datosmysql-en-bogota-dc-07E970E92928C00061373E686DCF3405


https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrolladores-web-2-anos-de-experiencia-se-requiere-urgente-en-bogota-dc-A6EE8C993E9D674961373E686DCF3405



https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-mysql-php-java-scrip-en-bogota-dc-AB9958F7EF2A43B361373E686DCF3405

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-full-stack-en-bogota-dc-A788A031F2913B4E61373E686DCF3405


https://www.computrabajo.com.co/trabajo-de-desarrollador-web?q=desarrollador+web&prov=4



https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-ingeniero-de-sistemas-o-carreras-afines-desarrollador-bi-en-bogota-dc-EC493447816779B761373E686DCF3405?utm_source=Email&utm_campaign=auto_cand_alertacargosdiaria&utm_medium=title3_cycle1_d2021060308_notag&fgoa=True



https://www.youtube.com/watch?v=r3eM2peh2hU   crud mvc php


https://co.jobomas.com/c/empleos-en-torre_usaquen_bogota_colombia-P_5


https://www.youtube.com/watch?v=C0gDdaI2o4s




http://haku777.herokuapp.com/components/NetGrid

https://www.youtube.com/watch?v=I2L5yCtpar8 voz  atexto con javase

https://www.youtube.com/watch?v=TtKPhnJDIL0 emails desde php

https://www.youtube.com/watch?v=mEw4HPoD-nA realidad virtual

https://www.youtube.com/watch?v=41xCGwVI498  frecuencia de sonido con javase

https://www.youtube.com/watch?v=bqrQ7b9s8tw&list=PL_WGMLcL4jzVY1y-SutA3N_PCNCAG7Y46&index=3 angular curso

https://www.youtube.com/watch?v=WOSaNbpHNqU hover efect buton where i am




https://www.tabnine.com/?device=c&country={country}&campaign=208800395&utm_term=&utm_campaign=brand&utm_sou


https://www.youtube.com/watch?v=M7MXb_OysrE


https://jovenesalau.educacionbogota.edu.co/InscripcionJovenesU/#/estrategia

https://www.outsystems.com/p/modern-development/?utm_source=google&utm_medium=cpc&utm_campaign=Aquisition_G_LATAM_Search_Production_Brand&utm_term=outsystems&utm_content=Try-for-free&gclid=EAIaIQobChMIzMyo7IGn8QIVkYvICh2sownYEAAYASAAEgLnQvD_BwE


https://github.com/nipusan/mis-tareas-escolares/blob/main/src/app/pages/home/home.component.ts

https://update.angular.io/?l=3&v=4.4-12.0

https://docs.oracle.com/javase/7/docs/api/

http://worldclockapi.com/

https://developers.google.com/identity/protocols/oauth2

https://developers.facebook.com/docs/apis-and-sdks?locale=es_ES

https://www.google.com/search?q=firebase&source=lmns&bih=856&biw=1360&safe=active&hl=es&sa=X&ved=2ahUKEwjRvvGSnanxAhV2dzABHUWeDtoQ_AUoAHoECAEQAA




crear pagina con muchas imagenes y que cargen a medida de que se va avanzando con scroll






https://co.jobomas.com/desarrollador-web_iid_312060323?utm_source=suggested_job_view&utm_medium=email_new_ad_inter&token=ede5efe052699813d206e1c96fd8cf7e615ae73e8845ce6ba5911e27b2cfbf14be70ba63fcb7f344f0c98d618e8c0cecd7a34757e7e74a0e397649e3242661fa2199b22014384b32c8d6bf78079247148bafd0f9b1bd6a27


https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-se-labora-lunes-a-viernes-contratacion-inmediata-excelentes-ingresos-en-bogota-dc-5B794CA1B8CC150961373E686DCF3405?utm_source=Email&utm_campaign=auto_cand_alertacargosdiaria&utm_medium=title3_cycle1_d2021070106_VerOffertaFirstApply&fgoa=True


https://co.indeed.com/ver-empleo?jk=3839a1cedb95e5f1&q=desarrollador&tk=1f9hf8fveu9l6802&from=ja&alid=6070844b2b46115eb728099b&utm_campaign=job_alerts&utm_medium=email&utm_source=jobseeker_emails&rgtk=1f9hf8fveu9l6802


https://co.jobomas.com/desarrollador-net_iid_312062266?utm_source=suggested_job_view&utm_medium=email_new_ad_inter&token=ede5efe052699813d206e1c96fd8cf7e615ae73e8845ce6ba5911e27b2cfbf14be70ba63fcb7f344f0c98d618e8c0cecb70922c2d396c89b36ba69777dbe7308b28809282de5bf04545ba0cc0d704f4a8a73c8afe46c4518


https://co.indeed.com/ver-empleo?jk=903847d0ea021751&q=desarrollador+web&l=Bogot%C3%A1,+Cundinamarca&tk=1f9inkdq8ubt4801&from=ja&alid=60839ea55320435c7f1ce87a&utm_campaign=job_alerts&utm_medium=email&utm_source=jobseeker_emails&rgtk=1f9inkdq8ubt4801


https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-front-end-web-en-bogota-dc-851D2A67695A7AFB61373E686DCF3405?utm_source=Email&utm_campaign=auto_cand_alertacargosdiaria&utm_medium=title3_cycle1_d2021070205_VerOffertaFirstApply&fgoa=True






https://www.redtrabaje.com/co/trabajos/desarrollador?ordenacao=1

https://www.redtrabaje.com/co/trabajos-en-bogota/desarrollador/598953

https://jp.indeed.com/%E6%B1%82%E4%BA%BA?q=developer&l=%E6%9D%B1%E4%BA%AC%E9%83%BD&vjk=4e5eab83d86db009

https://www.youtube.com/watch?v=5vV5VdeK_kg android studio

https://co.indeed.com/ver-empleo?jk=0f85e7eeaab394ef&q=desarrollador+web&l=Bogot%C3%A1,+Cundinamarca&tk=1f9b0efkkuebg801&from=ja&alid=60839ea55320435c7f1ce87a&utm_campaign=job_alerts&utm_medium=email&utm_source=jobseeker_emails&rgtk=1f9b0efkkuebg801    wordpress an shopify


https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-fullstack-en-bogota-dc-B51EA29B8F8ED74561373E686DCF3405?utm_source=Email&utm_campaign=auto_cand_alertacargosdiaria&utm_medium=title3_cycle1_d2021062606_VerOffertaFirstApply&fgoa=True

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-tecnico-en-sistemas-contrato-por-3-meses-bogota-en-bogota-dc-086F8D8D72A6D8E561373E686DCF3405?utm_source=Email&utm_campaign=auto_cand_alertacargosdiaria&utm_medium=title3_cycle1_d2021062808_ActiveCompanyTag&fgoa=True




https://www.youtube.com/watch?v=WOSaNbpHNqU

https://www.youtube.com/watch?v=le8G-10DCtg


323





computrabajo
indeed
redtrabaje
ticjob

neuvoo
trabajo.org
talent.com




https://www.freelancer.cl/
https://www.upwork.com/
https://www.workana.com/es/

https://www.incap.edu.co/




Estamos buscando tecnicos, tecnologos o estudiantes de últimos semestres o profesionales en INGENIERÍAS para el cargo de DESARROLLADOR JUNIOR, conocimientos en desarrollo web,HTML,PHP, Javascrip y Laravel, salario de $2.000.000 a $2.500.000 si estas interesado envíanos tu hoja de vida al correo Ver el correo electrónico en rh.woobsing.com en el asunto: Desarrollo Web.
