<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Text</title>
        <link rel="stylesheet" href="css/text.css">
    </head>
    <body>

        <main>
            <section class="links">
                <a href="../index.html">Back</a>
                <h2>Textos</h2>
                <a href="../../page.html">Menu</a>
            </section>

            <section>

            <object data="asd" usemap="#map1" type="image/png" width="135" height="155">
                <map>
                    <area shape="" coords="" href="" alt="area">
                </map>
            </object>


            <!-- https://www.htmlquick.com/es/reference/tags/area.html -->
            <map name="image-map-1">
                <area href="../../tutorials.html" alt="Tutoriales HTML" shape="circle" coords="67,73,47">
                <area href="../../tutorials.html" alt="Tutoriales HTML" shape="rect" coords="60,54,142,99">
            </map>

            <img src="/assets/images/image-map-1-es.png" usemap="#image-map-1" alt="Mapa de imagen de ejemplo">
            <!--  -->

            <ad-dress>adresss</ad-dress>    

            <blockquote cite="https://ss">blockquote</blockquote>

            <!-- desplasamiento entre limites Atr: alternate,scroll(defect),slide-->
            <!-- behavior="alternate"  -->
            <!-- lugar de inicio a fin -->
            <!-- direction="rigth" -->
            <!-- alineamiento de texto -->
            <!-- align=bottom solo funciona para lo dentro de comillas-->
            <!-- background -->
            <!-- bgcolor="skyblue" -->
            <!-- velocidad de recorrido -->
            <!-- scrollamount=10 -->
            <!-- lentitud de recorrido -->
            <!-- scrolldelay =20 -->
            <marquee
            behavior="alternate" 
            direction="rigth"
            width=300px 
            height=70px
            ALIGN=middle
            BGCOLOR="skyblue"
            scrollamount=7
            scrolldelay =20

            >Marquee "¡Hola!"</marquee>¡Hola!  <br>

            <textarea name="" id="" cols="20" rows="2">textarea</textarea>  <br>


            <figure>
            <img src="../../img/akali.PNG" alt="" width="70">
            <fig-caption>fig-caption</fig-caption>
            </figure>
            <pre>preeeeeeeeeee</pre>
            <bdi>bdiiii</bdi> <br>
            <bdo dir="">bdoooo</bdo> <br>
            <rp>rpppp</rp> <br>
            <p>lorem <rt>lorem</rt>rttt</p>
            <rtc>rtcccccc descontinuando</rtc>
            <rb>rbbb  descontinuando</rb> <br>

            <br>
            <hr>
            <br>

            <h1>h1</h1>
            <h2>h2</h2>
            <h3>h3</h3>
            <h4>h4</h4>
            <h5>h5</h5>
            <h6>h6</h6>

            <!-- titulo en tablas -->
            <caption>captionnnnn</caption>
            <br>
            <!--  -->
            <br>
            <fieldset>
                <legend>legenddd</legend>
                fieldsettttt
            </fieldset>
            <br>


            <audio controls>audio
            <source src="../../song/Halo.mp3">
                <!-- subtitulos -->
            <track></track>
            </audio> <br><br>


            <!-- https://gist.github.com/jsturgis/3b19447b304616f18657 -->
            <video controls width="300" height="160" poster="../../img/sky.jpg">video
                <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/Sintel.mp4" type="video/mp4">
                <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/Sintel.mp4" type="video/webm">
                <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/Sintel.mp4" type="video/ogg">

                <img src="../../img/cup.jpg" alt="">

            <!-- subtitles -->
                <track src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4">
            </video><br><br>

            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/RrkqiYZbuH8"></iframe> -->

            <!--  -->

            <picture>
                <source media="(min-width: 1280px)" srcset="../../img/error.PNG">
                <source media="(max-width: 520px)" srcset="../../img/error.PNG">
                <img class="float-right" src="../../img/error2.PNG" alt="etc" width="100" sizes="(min-width: 75em) 25vw, (max-width: 20em) 80vw, 50vw">
            </picture>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, fugit nobis! Vel quis eaque accusantium fuga aperiam minima facere, officia minus eligendi ullam sint! A, laboriosam aspernatur</p>
                
                
            <br>
            <progress value="7" max="10"></progress> 
            <br>
            <br>

            <meter id="disk_c" value="7" min="0" max="10">2 out of 10</meter> 
            <br>


            <br>
            <details> <!--lista descriptiva-->
                <summary>details summary dl dt dt dd</summary>
                <dl>
                    <!-- los margenes de los dd se eliminan por el css *{} -->
                    <dt>File name: dl dt dt texto dd</dt>
                        <dd>yourfile.mp4   ddddddddddd</dd>
                    <dt>File size:</dt>
                        <dd>100 MB</dd>
                    <dt>Duration:</dt>
                        <dd>00:05:27</dd>
                </dl>
            </details>
            <br>
            

            <datalist id="browsers">
                <option value="Edge">
                <option value="Firefox">
                <option value="Chrome">
                <option value="Opera">
                <option value="Safari">
            </datalist>

            <br>

            <del>dellll</del>  <br>
            <ins>insssss</ins>  <br>
            <u>uuuuuuuuu</u>  <br>
            <i>iiiiiiiiiiii</i>  <br>
            <b>bbbbbbbbbbbb</b>  <br>
            <strong>stronggggggggg</strong> <br>
            <mark>markkkkkkkkkkkk</mark> <br> 
            <figure>figureeeeeeee</figure> <br>
            <figcaption>figcaptionnnnnn</figcaption> <br>
            <dialog open>(Dialog)ahora el css puede ir dentro del body</dialog>  <br>


            <!-- listas -->
            <ol>
            <li>ol li</li>
            <li>ol li</li>
            </ol>

            <ul>
            <li>ul li</li>
            <li>ul li</li>
            </ul>
            <p>ppppppppppppppppp</p> <br>
            <span>spannnnnnnnnnnnnn</span> <br>
            <em>emmmmmmmmmm</em> <br>
            <s>ssssssssss</s> <br>
            <cite>citeeeeeeeeeee</cite> <br>
            <p>Lorem <sup>suppppppppppp</sup> lorem</p>   
            <p>Lorem <sub>subbbbbbbbbb</sub> lorem</p> 
            <small>small</small> <br>
            <q>qqqqqqqqqqqqqqq</q> <br>
            <dfn>dfnnnnn</dfn> <br>
            <abbr title="">abbrrrrrrrrrr</abbr> <br>
            <br>
            <wbr>wbr para texto muy largoooo&shy;wbr</wbr> <br>
            <kbd>kbddddd</kbd> <br>   
            <samp>sampppppp</samp> <br>
            <var>varrrrrrrrrrrrr</var> <br>
            <p><time>12:47</time>12:47</p>  <br>
            <data>dataaaaaaaaaaaaa</data> <br>
            <code>codeeeeeeeeeeeee</code>  <br>



            <p>cosas que ni que</p>
                
                
                
                <!-- evalida en edge solo es un borde -->
            <!-- agrega en clic derecho para buscar en la pagina de ..... -->
            <center style="margin-top: 30px;">

                <button contextmenu="rightclickmenu">Pulsa sobre mí</button>
                
                <menu type="context" id="rightclickmenu"></menu>
                <menu item type="checkbox" label="Ir a la web de Hostalia"></menu>
            </center>

            El tag "<menuitem>" puede ser de tres tipos diferentes: checkbox, command y radio.



            <!-- obciones vacias en desplegable -->
            <center style="margin-top: 30px;">

            <select>
                <option value="1">1</option>
                <option></option>
                <option value="3">3</option>
            </select>

            </center>

            <!-- no se muestra hasta que ..... -->
            <template>
                <img src="../../img/n.PNG" alt="">
            </template>

            <!-- ruby  para los sub caracteres que van ensima-->

            <ruby>
                漢 <rt> ㄏㄢˋ </rt>
            </ruby>

            <!-- rp para que no se suban los subcaracteres-->
            <ruby>
                漢 <rt><rp>(</rp>ㄏㄢˋ<rp>)</rp></rt>
            </ruby>

            <!-- medidor -->

            <form oninput="x.value=parseInt(a.value)+parseInt(b.value)">
                <input type="range" id="a" value="50">
                <input type="number" id="b" value="25">
                <output name="x" for="a b"></output>
            </form>

            <!-- tipos de decoration -->


              
              <h4 class="decoration1">overline</h4>
              <h4 class="decoration2">line-through</h4>
              <h4 class="decoration3">underline</h4>
              <h4 class="decoration4">underline overline</h4>

            <!-- embed en textos videos audios etc -->
            <br>
            <embed type="video/webm" src="../../img/01ce48aaf82c01259471fba35bb70f01.jpg" width="200" height="200"> 

            <!-- datalist al escribir busca en la lista que esta-->


            <datalist id="browsers">
                <option value="Edge">
                <option value="Firefox">
                <option value="Chrome">
                <option value="Opera">
                <option value="Safari">
            </datalist>



            <!-- 
            Nuevas Etiquetas

            article
            aside
            audio
            bdi
            canvas
            datalist
            details
            dialog
            embed
            figcaption
            figure
            footer
            header
            main
            mark
            menuitem
            meter
            nav
            output
            picture
            progress
            rp
            rt
            ruby
            section
            source
            summary
            template
            time
            track
            video
            wbr

            Etiquetas descontinuadas

            acronym
            applet
            basefont
            big
            center
            dir
            font
            frame
            frameset
            noframes
            strike
            tt -->




            <!-- https://lenguajehtml.com/html/semantica/etiquetas-html-de-texto/ -->

            </section>
        </main>
    </body>
</html>

