<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EComerce | inicio</title>
</head>
<body>



    <header>
        logo
        marca
        buscador
        rutas
        menu
    </header>

    <main>
        carrusel
    </main>

    <aside>
        costo
        cantidad
        cliente
        vendedor

        datos personales

        cuenta

        pagos
    </aside>

    <section>
        productos aleatorios
    </section>

puntuacion


    <footer>
        contacto
        redes sociales
    </footer>

</body>
</html>