<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="sass/index.css">
  <title>IKBO | Rock, Paper, Scissors</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
</head>

<body>
  <main>
    <section>
      <div class="header">
        <img src="images/logo.svg" alt="">
        <div>
          <h2>score</h2>
          <span id="score"></span>
        </div>
      </div>
    </section>
    <section>
      <div class="game">
        <div class="paper" id="paper">
          <img src="images/icon-paper.svg" alt="">
        </div>
        <div class="scissors" id="scissors">
          <img src="images/icon-scissors.svg" alt="">
        </div>
        <div class="rock" id="rock">
          <img src="images/icon-rock.svg" alt="">
        </div>
        <div class="house" id="house">
        </div>
      </div>

        <h2 class="result" id="result"></h2>
      <div class="container">
        <span></span>
       <button id="again">Play Game</button>
        <span class="rules" id="rules">Rules</span>
      </div>

      <div class="ruleson" id="ruleson">
        <img id="close" src="images/icon-close.svg" alt="">
        <h2>Rules</h2>
        <img src="images/image-rules.svg" alt="">
      </div>


      <div class="attribution">
        Challenge by <a href="">IKBO</a>. 
        Coded by <a href="https://haku777.github.io/components/portfolio/new.html" target="_blank">Jimmy Yahir Gutierrez</a>.
      </div>
    </section>

  </main>

  


  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>