<!DOCTYPE html>
<html lang="en">
	

<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/reloj.css">
	<title>Reloj</title>


</head>
<body>

	<main>
		<section>
			<div class="links">
					<a href="../index.html">Back</a>
					<a href="../../page.html">Menu</a>
			</div>
		</section>

		<section>
	
				<div class="fecha">
					<h2 id="days"></h2>
					<h2 id="day"></h2>
					<h2>de</h2>
					<h2 id="months"></h2>
					<h2>del</h2>
					<h2 id="years"></h2>
				</div>
				
				
				<div class="date">
					
					<h2 id="hours"></h2>
					<h2>:</h2>
					<h2 id="minutes"></h2>
					<h2>:</h2>
					
					<div class="am-pm">		
						<h2 id="seconds"></h2>
					</div>
						<h2 id="ampm"></h2>
				</div>

		</section>
	</main>

	<script src="javascript/reloj.js"></script>
</body>
</html>















