<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/hojaVida.css">
		<title>HojaVida</title>
	</head>

	<body>
		<header>
			<h2>hoja de vida</h2>
			<a href="../components.html">Back</a>
			<a href="../../page.html">Menu</a>	
		</header>
		<br>

<main>
<section  class="personalInformation">
	<div>

		<h3>INFORMACION PERSONAL</h3><br>
		<h3>Informacion de contacto</h3><br>
		<h4>email:</h4><br>
		<h5>jimmy1076667239@gmail.com</h5><br>
		<h4>Teléfono:</h4><br>
		<h5>3138577727</h5><br>
		<hr>
		<h4>Linkedin:</h4><br>
		<h5><a href="https://www.linkedin.com/in/jimmy-haku/" target="_blanck">Perfil on linkedin</a></h5><br>
		
		
		<h4>Me gustaría aprender:</h4>
		<h5>Inteligencia artificial</h5>
		<h5>Automatización</h5><br>
		
		<h4>Página Web (en desarrollo):</h4>
		<h5><a href="https://haku777.github.io" target="_blanck">https://haku777.github.io/</a></h5><br>
		
		<h4>Habilidades:</h4><!-- SKILLS -->		
		<h5>Html5</h5>
		<h5>Css3</h5>
		<h5>Sass</h5>
		<h5>JavaScript</h5><br>
	
		<h4>Plataformas:</h4>
		<h5>Visual studio code</h5>
		<h5>GitHub</h5>
		<h5>GitLab</h5><br>
		
		<h4>Edad: 23</h4><br>
		
		<h4>Portafolio (en desarrollo)</h4>
		<h5><a href="https://haku777.github.io" target="_blanck">https://haku777.github.io</a></h5><br>

		<!-- <p>LINK PAGE PORTAFOLIO( PAGINAS DESARROLLADAS(10 PAGINAS DISTINTAS EN VARIOS LENGUAJES (EJE, CREAR UNO EN BOOTSTRAP, JQUERY, MATERIAL DESING, FLEXBOX, REJILLAS FALCON MASTER(AGREGAR LAS TECNOLOGIAS QUE QUIERO APRENDER Y QUE ME GUSTA APRENDER(JOBBIES(PLANTILLAS))))))</p> -->



		<!-- TIPO DE TRABAJOS A APLICAR -->

		<!-- <h5>Web Design</h5>
		<h5>Web Develop</h5>
		<h5>Movil Develop</h5>
		<h5>Empathy</h5>
		<h5>Passion for teaching</h5>
		<h5>Desarrollo guiado por pruebas/Desarrollo guiado por comportamiento (TDD/BDD)</h5><br> -->



	</div>
</section>
<section class="generalInformation">
	<div>
		<h2>JIMMY YAHIR GUTIERREZ BALLEN</h2>
		<h2>jimmy1076667239@gmail.com</h2>
		<br><br><br><br><br><br><br>
		<h3>PERFIL</h3><br>
		<hr><br>
		<h4>Informacion general</h4><br>		
		<h5>Soy una Persona proactiva con ganas de aprender, tengo experiencia como desarrollador web desempeñando el cargo como desarrollador web junior empleando metodologías agiles como SCRUM, conocimiento básico en redes y también poseo conocimiento sobre gestión y análisis de pruebas de software. tengo pasión por la programación empleando buenas prácticas de programación. me considero una persona con capacidad y con experiencia en temas de desarrollo empleando tecnologías novedosas y modernas. ‘En la programación para mí no hay imposibles solo cosas por descubrir’.</h5>
		<br>
		<h4>Experiencia</h4><br>
		<h5>Practicas 6 meses de experiencia como analista y gestor de pruebas de software en la compañía Periferia (it group).</h5>
		<i>Noviembre 2017 – mayo 2018</i><br><br>

		<h5>Trabaje como desarrollador en asp.Net 2 años realizando actividades como ajustes y mejoras en la plataforma de la compañía Idea Soluciones, trabajando temas como instalación y validación del funcionamiento de la plataforma SAMM en cliente, apoyo en redes y conexión de la empresa, experiencia como desarrollador remoto utilizando metodologías agiles (SCRUM) por cuarentena.</h5>
		<i>octubre 2018 – diciembre 2020</i><br><br>

		<h5>Actualmente estoy en la etapa de creación de página personal empleando mis conocimientos en programación como: Html5, Css3, JavaScript, Php (basico Crud), Python (básico), jQuery, Bootstrap, Materialize, Sass, GitHub, SQL Server, Api, MySQL etc.</h5>
		<br>
		<h4>Educación</h4><br>
		<h5>Soy Tecnólogo en Análisis y Desarrollo de Sistemas de Información (ADSI), bachiller (2014), Conocimiento de Ingles nivel Intermedio B1.</h5>		

	</div>
</section>
</main>

		<footer>
			<h2>&#169; by HAKU</h2>
			<p>pdt: agregar boton de descarga para imprimir como pdf y otro para guardar en local</p>

		</footer>

	</body>
</html>