* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
}
.wrapper {
  color-scheme: auto;
  font-family: Cambria, Tahoma ,Arial;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
h1{
  text-align: center;
  padding: 40px;
  color: #333;
}
h2{
  padding: 20px;
  color: #333;
}

main {
  background: linear-gradient(to bottom, #61cdff, #fff);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
  padding: 17px;
  color: #333;
}

.date{
  max-height: 70px;
  aspect-ratio: 1/1;
}


.information{
  width: 40%;    
  height: 500px;
  padding: 10px;
}
.next{
  font-size: 27px;
  padding: 7px;
  color: #fff;
  background-color: #333;
  cursor: pointer;
  /* writing-mode: vertical-lr; */
}

main .card .percentage{
  border: 2px solid #333;
  border-radius: 7px;
  padding: 10px;
  width: 100%;
  height: 100%;
}


fieldset{
  border: 2px solid #333;
  border-radius: 7px;
  padding: 10px;
  & p{
    text-align: left;
    font-size: 3ch;
  }
}

legend{
  font-size: 70px;
}

.info{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.year{
  display: flex;
  align-items: center;
}
.percent{
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
}

legend,span, #daysLeft{
  color: #ff0033;
  text-shadow: 0px 1px #252525;
}

a{
  background-color: crimson;
  text-decoration: none;
  display: block;
  color: #fff;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 3px;
}

.Photos{
  background: #000;
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 20000;
  overflow: hidden;
  & img{
    max-height: 94vh;
  }
  & p{
    position: absolute;
    border: 0.5px solid crimson;
    font-size: 27px;
    margin: 10px;
    color: #fff;
    top: 50vh;
    width: 20px;
    border-radius: 3px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    z-index: 40000;
    padding: 4px;
    padding-right: 30px !important;
  }
}

.Photos p:nth-child(4){
  right: 0;
}

.showPhotos{
  display: block;
}

.change{
  cursor: pointer;
}

@media(max-width:750px){
  .card,.information{
    width: 100%;
    height: 100%;
  }
  main{
    flex-direction: column;
  }
  .card, .information{
    width: 70%;
  }

  .Photos{
    & img{
      max-width: 90vw;
      object-fit: cover;
    }
  }
}