<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocabulary</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>VOCABULARY</h1>
        <fieldset>
            <legend>
                <code>Remember Words</code>
            </legend>
            <h2>These words change automatically every five seconds</h2>
        </fieldset>
    </header>
    
    <div class="wrapper">
        <div class="main">
            <div class="data">
                <section>
                    <article>
                        <h3 id="id" hidden></h3>
                        <h3 id="word">WORD</h3>
                    </article>

                    <article>
                        <h3 id="definition">MEANING</h3>
                    </article>
                </section>
            </div>
        </div>
    </div>
    
    <footer>
        <b>CREATE BY JIMMY YAHIR GUTIERREZ (HAKU BISHAMON)</b>
    </footer>
</body>

<script>
    
    (() =>{ 
        let Word = document.querySelector("#word");
        let Meaning = document.querySelector("#definition");

        fetch('https://haku-api-nodejs.herokuapp.com/api/getwords')
            .then(response => response.json())
            .then(data => Asignacion(data));

        let Data = null;
        
        function Asignacion(data){
            Data = data;
            console.log(Data.Vocabulary.length);
        }

        if (Data == null){
            console.log("datos en: " + Data);
            fetch('database/english.json')
            .then(response => response.json())
            .then(data => Asignacion(data));
        }
        
        function Intervalo(){
                let random = Math.floor(Math.random() * Data.Vocabulary.length);
                let word = Data.Vocabulary[random].word;
                Word.innerHTML = word;

                let meaning = Data.Vocabulary[random].meaning;
                Meaning.innerHTML = meaning;
            }
        const interval = setInterval(Intervalo,5000);
    })(); 

</script>
</html>