<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script class="https://unpkg.com/sweetalert/dist/sweetalert.min.js" src="js/sweetAlerts.js"></script>
		
		<!--para esta pagina solo se usara el 2 o sea este jeje-->
		<script class="https://cdn.jsdelivr.net/npm/sweetalert2@10" src="js/sweetAlertsTwo.js"></script>
		
		<!--agregamos jquery para poder cambiar el fondo-->
		<script type="text/js" src="../jquery/jquery.js"></script>
		
		<link rel="shortcut icon" type="image/x-icon" href="../../img/bird.jpeg">
		<link rel="stylesheet" href="css/alert.css">
		<title>Alerts</title>
	</head>
<body>
	<main>
		<section class="links">

			<a href="../../new.html">Back</a>
			<a href="../../../page.html">Home</a>
		</section>
		<section>

			<div class="content">
								
				<h2>Alerts</h2>
				<br>
				<a href="#"><p onclick="loadImagen()">Load image</p></a>
				<a href="#"><p onclick="loadPage()">Load page</p></a>
				<a href="#"><p onclick="loadColor()">Load Color</p></a>
				<a href="#"><p onclick="changeColor()" id="cambio" name="cambio">Change color</p></a>
			
			
		</div>
	</section>
	</main>

	<!--agregamos el archivo donde estaran los js de las funciones a utilizar-->
	<script src="js/sweetAlertsAdd.js"></script>
</body>
</html>
