*
    margin: 0
    padding: 0
    box-sizing: border-box

@font-face
    font-family: Halo
    src: url(../../../../font/halo/halo.ttf)

body
    background: linear-gradient(black,indigo,darkblue)
    height: 100vh
    overflow: hidden

main
    background: radial-gradient(dodgerblue,indigo)
    font-family: halo
    font-size: 2rem
    height: 90vh
    width: 80vw
    padding: 7vh
    margin: auto
    margin-top: 5vh
    border-radius: 7px
    text-align: center
    color: #fff
    box-shadow: 2px 2px 20px 2px black

    section
        font-size: 1.2rem
        display: flex
        justify-content: space-between
        overflow: hidden
        div:nth-child(1)
            background: rgb(55,55,55)
            padding: 7vh
            height: 50vh
            width: 50%
        div:nth-child(2)
            background: rgba(0,0,0,0.2)
            padding: 7vh
            height: 50vh
            width: 50%

        .percent
            background: white
            width: 300px !important
            height: 300px !important
            border-radius: 50%
            margin: auto
            margin-top: 20px