*{
	margin: 0;
	padding: 0;
}

main{
	background: #d1d1d1;
	padding: 20px;
}

img{
	width: 48%;
	height: 400px;
	border: 10px solid #008394;
	margin: 3px;
}

div{
	padding: 10px;
}

a{
	background:#c1c1c1;
	color: #005555;
	padding: 7px;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px;
	width: 77px;
}

a:hover{
	background:crimson;
}