<!DOCTYPE html>
<html lang="en" data-website-id="1" data-oe-company-name="haku777" xml:lang="en" xmlns="https://www.w3.org/1999/xhtml/">
<head>
	<meta charset="UTF-8">
	<meta name="title" content="Task List Haku | Jimmy Yahir Gutierrez">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Explore the web development portfolio of Jimmy Yahir Gutierrez haku haku777 haku bishamon. Discover showcased projects and skills in front-end and back-end development.">
	<meta name="robots" content="index, follow">
	<meta name="theme-color" content="#4b0082"/>
	<link rel="canonical" href="https://haku777.com/index.html">
	<meta property="title" content="Task List Haku - Jimmy Yahir Gutierrez">
	<meta property="image" content="https://haku777.com/img/versiones/v7.avif">
	<meta property="og:image" content="https://haku777.com/img/versiones/v7.avif">
	<meta property="og:title" content="Task List Haku - Jimmy Yahir Gutierrez">
	<meta property="og:description" content="Explore the web development portfolio of Jimmy Yahir Gutierrez haku haku777 haku bishamon. Discover showcased projects and skills in front-end and back-end development.">
    <meta name="twitter:card" content="https://haku777.com/img/versiones/v77.avif">
    <meta name="twitter:site" content="@haku777">
	<meta name="twitter:title" content="Task List Haku - Jimmy Yahir Gutierrez">
	<meta name="twitter:description" content="Explore the web development portfolio of Jimmy Yahir Gutierrez haku haku777 haku bishamon. Discover showcased projects and skills in front-end and back-end development.">
	<meta name="twitter:image" content="https://haku777.com/img/versiones/v7.avif">
	<link rel="icon" href="https://haku777.com/img/utilities/yo.ico" >
	<link rel="alternate" lang="en" href="https://haku777.com/index_es.html">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Task List Haku | Jimmy Yahir Gutierrez</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body class="" style="background: lightgray;">
    <div class="navbar navbar-light bg-primary">
        <div class="container">
            <h1>
                <a href="https://haku777.com/APortfolio/components/task_localstorage/index.html" class="navbar navbar-brand text-light">HAKU LIST TASK</a>
            </h1>
        </div>
    </div>

    <div class="container">
        <div class="row pt-5">

            <div class="col-md-4 mb-2">
                <div class="card">
                    <div class="card-body">
                        <form class="d-grid" id="formTask">

                            <div class="form-group pb-2">
                                <input class="form-control" type="text" id="title" placeholder="titulo">
                            </div>

                            <div class="form-group pb-2">
                                <textarea class="form-control" placeholder="Agregar descripcion" id="description" rows="8" cols="80"></textarea>
                            </div>
                                
                                <button class="btn btn-danger" type="submit">
                                    Agregar
                                </button>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-md-8 col-sm-4 bg-light p-3" id="task">
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js.js"></script>
</body>
</html>
