<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		*{margin: 0;padding: 0;}
		.img1,.img2,.img3{background: url(../../img/flowers.jpg);background-attachment: fixed;background-size: 100% 100%; filter: blur(0.3px); height: 100vh; }
		.img2{background: url(../../img/capture.png);background-size: 110% 110%;background-attachment: fixed;}
		.img3{background: url(../../img/sun.jpg);background-size: 110% 110%;background-attachment: fixed;}
		a{padding: 20px; display: inline-block;text-decoration: none;background: teal;color: white;}
	</style>
</head>
<body>
	<div class="img1">
		<a href="../components.html">Back</a>
		<a href="../../page.html">Menu</a>
	</div>
	<div class="img2"></div>
	<div class="img3"></div>
</body>
</html>