<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/parallax.css">
	<title>Document</title>
</head>
<body>
	<main>
		<section class="img1">
			<div>
				<article>
					<nav>
						<ul>
							<li><a href="../components.html">Back</a></li>
							<li><a href="../../page.html">Menu</a></li>
							<li><a href="#img2">Services</a></li>
							<li><a href="#img3">About us</a></li>
							<li><a href="#">help</a></li>
						</ul>
					</nav>
					<h2>Parallax</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ad consequuntur rem impedit cumque non praesentium id doloribus, perspiciatis ratione expedita dolor officiis iure, libero laborum eius, dicta commodi. Quam.</p>
				</article>

				<article>
					<img src="../../img/gif/demential.gif" alt="">
				</article>
			</div>
		</section>

		<section class="img2" id="img2">
			<div>
				<h2>Services</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa nisi suscipit dolore. Harum voluptate nisi tempora, rem aliquam possimus fugiat veniam eveniet nesciunt illum quis dolore ut voluptatibus exercitationem?</p>
				<a href="#">Button</a>
			</div>
		</section>
		
		<section class="img3" id="img3">
			<div>
				<h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aliquid nostrum, unde beatae iste illum nemo debitis vero nihil, reiciendis consectetur illo eaque quam commodi facilis excepturi non nobis, perspiciatis provident itaque nesciunt id ratione alias atque? Ab, in nostrum.</h3>
			</div>
		</section>

	</main>

</body>
</html>