<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
		section{
			padding: 10px;
			border: 2px solid teal;
			margin: auto;
			margin-top: 40px;
			width: 20vw;
		}
		section div{
			width: 80%;
			border: 2px solid red;
			height: 150px;
			margin: auto;
		}
		img{
			position: relative;
			top: -100px;
			left: 25%;
			width: 50%;
			height: 200px;
			border: 2px solid blue;
		}
		section div:nth-child(5){
			background: salmon;
			margin-top: -210px;
		}
	</style>
</head>
<body>
	<section>
		<div></div>
		<div></div>
		<div></div>
		<img src="" alt="">
		<div></div>
	</section>
</body>
</html>