<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/alarm.css">
        <title>Alarm</title>

    </head>

    <body>
        <main>
            <section>
                <h2>Alarm</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum incidunt voluptate facilis.</p>
            </section>
           
            <section>
                
            </section>
           
           <script>
                
            </script>
        </main>
    </body>
</html>