*{
    margin: 0;
    padding: 0;
}

body{
    background: #e1e1e1;
}

main{
    background: lightslategray;
    padding: 40px 70px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
    box-sizing: border-box;
    width: 70%;
}

p{
    background: cyan;
    text-align: center;
    color: black;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 20px;
}
a{
    background: #008493;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
    color: #e1e1e1;
    padding: 10px;
    width: 50px;
}
a:hover{
    background: lightseagreen;
}
a::selection{
    background: none;
    outline: none;
}

.queBoton input{
    background: darkcyan;
    margin: 20px;
    border: none;
    padding: 20px;
    color: white;
    border-radius: 30px;
    
}