<!DOCTYPE html>
    <html lang="en">
<head>
    <meta class="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contador.css">
    <title>Counter</title>
</head>
<body>

    <main>

        <div>
            <a href="../index.html">Back</a>
            <a href="../../page.html">Menu</a>
        </div>
        <div class="container">
            <p class="contador">Click</p>
        </div>
        
        <div class="queBoton">
            <input type="button" onmousedown="detectarBoton(event);" value="BOTON Consola">
        </div>
        
    </main>
    
        
    <script src="js/contador.js"></script>
</body>
</html>