*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: Merge;
	src: url(../../../../font/merge_light.otf);
}

body{
	background: #000;
	font-family: Merge,serif;
	font-weight: lighter !important;
	letter-spacing: 1px;
	font-size: 1.7vw;
}

header{
	background: #252525;
	display: flex;
	width: 77%;
	margin: auto;
	padding: 0px 20px;
	text-align: center;
	justify-content: space-evenly;
	overflow: hidden;
	z-index: 100;
}

a{
	display: inline-block;
	margin: 7px;
	border-radius: 1px;
}

header h2{
	color: white;
	text-align: center;
	line-height: 200%;
}

header a{
	text-decoration: none;
	background: crimson;
	padding: 10px;
	color:white;
	transition-duration: .7s;
}

header a:hover{
	background: #272777;
}

.wrapper{
	box-shadow: 0px 0px 27px #eee,
	0px 0px 200px darkorchid;
	width: 77%;
	margin: auto;
}

.container{
	margin: auto;
	background: #eee;
	border-top: 20px solid indigo;
}

section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.titles div{
	display: inline-block;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.titles div:nth-child(1){
	background: indigo;
	padding: 10px;
	width: 30%;
}

.titles div:nth-child(1) img{
	width: 10vw;
	height: 10vw;
	border-radius: 50%;
}

.titles div:nth-child(2){
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: center;
	align-content: center;	
	align-items: center;
	word-wrap: normal;
	word-break: break-all;
	width: 70%;
	color: #0009;
}

main{
	background: #eee;
	margin: auto;
	display: flex;
	align-content: flex-start;
	overflow: hidden;
	z-index: 10;
}

.personalInformation{
	background: indigo;
	display: inline-block;
	white-space: normal;
	word-break: break-all;
	padding:40px 20px;
	color: #fff;
	width: 30%;
}

.generalInformation{
	display: inline-block;
	width: 70%;
	padding: 40px;
}

.generalInformation h5, li{
	color: #0009;
	padding-left: 20px;
	white-space: normal;
	Word-wrap: break-Word;
}

footer{
	margin-top: 70px;
	background: #272777;
	padding: 20px 60px;
	color: white;
}

@media(max-width:900px){
	body{
		font-size: 20px;
	}
}

@media(max-width:700px){
	
	.titles{
		flex-direction: column;
	}
	
	.titles div{
		width: 100% !important;
		display: flex;
		justify-content: center;
	}
	
	.titles div h2{
		font-size: 20px;
	}

	.titles div img{
		width: 70% !important;
		height: 100% !important;
	}

	main{
		flex-wrap: wrap;
	}

	.generalInformation, .personalInformation{
		width: 100%;
		padding: 77px !important;
	}
}
