<!DOCTYPE html>
<html lang="en" data-website-id="1" data-oe-company-name="haku777" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="title" content="EComerce - Web Developer Portfolio | Jimmy Yahir Gutierrez">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Explore the web development portfolio of Jimmy Yahir Gutierrez haku haku777 haku bishamon. Discover showcased projects and skills in front-end and back-end development.">
	<meta name="robots" content="index, follow">
	<meta name="theme-color" content="#4b0082"/>
	<link rel="canonical" href="https://haku777.com/APortfolio/components/EComerce/index.html">
	<meta property="title" content="Web Developer Portfolio - Jimmy Yahir Gutierrez">
	<meta property="image" content="https://haku777.com/img/versiones/v7.avif">
	<meta property="og:image" content="https://haku777.com/img/versiones/v7.avif">
	<meta property="og:title" content="Web Developer Portfolio - Jimmy Yahir Gutierrez">
	<meta property="og:description" content="Explore the web development portfolio of Jimmy Yahir Gutierrez haku haku777 haku bishamon. Discover showcased projects and skills in front-end and back-end development.">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@exampledeveloper">
	<meta name="twitter:title" content="Web Developer Portfolio - Jimmy Yahir Gutierrez">
	<meta name="twitter:description" content="Explore the web development portfolio of Jimmy Yahir Gutierrez haku haku777 haku bishamon. Discover showcased projects and skills in front-end and back-end development.">
	<meta name="twitter:image" content="https://haku777.com/img/versiones/v7.avif">
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" href="https://haku777.com/img/utilities/yo.avif">
	<link rel="alternate" lang="en" href="https://haku777.com/index_es.html">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>EComerce - EComerce - Jimmy Yahir Gutierrez</title>
</head>
<body>
	<header>
		<nav>
			<div class="title">
				<h1>Haku store</h1>
				<div class="search">
					<input type="text" placeholder="SEARCH">
					
				</div>
			</div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">services</a></li>
				<li><a href="#">suport</a></li>
				<li><a href="#">contact</a></li>
			</ul>
		</nav>
	</header>

	<main>
        carrusel
		<section>
			<h2>Title store</h2>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci ea itaque sit porro sapiente laudantium perferendis atque quia saepe hic, illum ducimus! Beatae dolore vel repudiandae tempora iure. Necessitatibus sunt ratione veritatis aliquid fugiat soluta cupiditate! Vitae aliquam tempore, ut vero quidem velit perferendis odit quisquam, doloremque non magni tenetur earum nesciunt repellat rerum similique perspiciatis odio voluptate ipsa architecto? Quod quibusdam fugit, cum distinctio eaque rerum iste quidem nihil fugiat beatae velit iusto error, id harum perspiciatis sapiente, accusamus obcaecati nemo? At neque asperiores magnam tempore, consectetur totam deleniti vero doloribus, labore perspiciatis esse nisi eum incidunt sit!</p>
			<button>Read more</button>
		</section>
		<section>
			<iframe src="../onePage/round.html" frameborder="0"></iframe>
		</section>
	</main>

    <aside>
        costo
        cantidad
        cliente
        vendedor

        datos personales

        cuenta

        pagos
    </aside>

    <section>
        productos aleatorios
    </section>

    <section>

        puntuacion
        redes sociales

    </section>


    <footer>
		<div class="footer">
			<div>
				<h2>Info Contact</h2>
				<div>
					<h3>Linkedin</h3>
					<h3>✉ Email: Jimmy1076667239@gmail.com</h3>
					<h3>github</h3>
					<h3>stackoverflow</h3>
					<h3>💻 Developer</h3>
				</div>
			</div>

			<div>
				<h2>General</h2>
				<div>
					<h3>IA</h3>
					<h3>proactive</h3>
					<h3>development</h3>
				</div>
			</div>
		</div>
		<h6>Create by Jimmy Yahir Gutierrez <code>(🅷🅰🅺🆄)</code>&nbsp;&copy;&nbsp;<span id="currentYear"></span> All rights reserved.</h6>
	</footer>
</body>
</html>