<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="../components.html">Back</a>
    <a href="../../page.html">Menu</a>
    <p>angular es 5 veces mas rapido que angularJS</p>
    <p>angular y angular js no son lo mismo</p>
    <p>angular es todo typescript(escritua mas rapida y moderna de javascript)</p>
    <p>angular y angular js son frameworks</p>
    <p>angular esta orientado a moviles y tiene mejor rendimiento</p>
    angular js se diseno para crear aps web spa (sigle page aplication)
    <p>Este doble-binding ofrece ventajas relevantes en la gestión avanzada de formularios.</p>

			<iframe src="https://www.campusmvp.es/recursos/post/las-10-principales-diferencias-entre-angularjs-y-angular.aspx" frameborder="0" width="70%" height="500"></iframe>
    
</body>
</html>