<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/pseudoElemento.css">
	<title>pseudoElemento</title>
</head>
<body>


	<main>
		<div class="pseudoElemento">
			
			<p class="paragraf">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione minus voluptate ab. Nisi, nobis neque dolor dolores tempore nemo sapiente.</p>
			
			<br>
			<br>		
			<h2>welcome</h2>

		</div>

	</main>











<br>
<br>
<br>
		<aside>		
			<a href="../components.html">Back</a>
			<a href="../../page.html">Menu</a>
				<div class="pseudoElemento">
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione minus voluptate ab. Nisi, nobis neque dolor dolores tempore nemo sapiente.</p>
				</div>
		</aside>

		<br>
		<aside>		
			<div class="pseudoElemento">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione minus voluptate ab. Nisi, nobis neque dolor dolores tempore nemo sapiente.</p>
			</div>
		</aside>

</body>
</html>