<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/pseudoElemento.css">
	<title>pseudoElemento</title>
</head>
<body>


	<main>
		<div class="pseudoElemento">
			
			<h3 class="paragraf">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione minus voluptate ab. Nisi, nobis neque dolor dolores tempore nemo sapiente.</h3>
			
			<br>
			<br>		
			<h2>welcome</h2>

		</div>

	</main>
	<br>
	<section>
		<a href="../components.html">Back</a>
		<a href="../../page.html">Menu</a>
		<div class="pseudoElemento">
			<h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione minus voluptate ab. Nisi, nobis neque dolor dolores tempore nemo sapiente.</h3>
		</div>
	</section>
	<br>
	<section>
		<div class="pseudoElemento">
			<h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione minus voluptate ab. Nisi, nobis neque dolor dolores tempore nemo sapiente.</h3>
		</div>
	</section>


<!-- ------------------------ -->

<!--flex-direction -->
<!--flex-wrap -->
<!--flex-flow  union de direction y wrap-->
<!--flex-grow -->
<!--flex-shrink -->
<!--flex-basis -->

<!-- justify-content -->
<!-- justify-content: center-->
<!-- justify-content: end-->
<!-- justify-content: flex-end-->
<!-- justify-content: flex-start-->
<!-- justify-content: first baseline-->
<!-- justify-content: last baseline-->
<!-- justify-content: left-->
<!-- justify-content: right-->
<!-- justify-content: safe-->
<!-- justify-content: space-around-->
<!-- justify-content: space-between-->
<!-- justify-content: space-evenly-->

<!-- justify-self -->
<!--  -->
<!--  -->

<!-- justify-items -->
<!--  -->
<!--  -->

<!-- justify-tracks -->
<!--  -->

<!-- text-justify -->
</body>
</html>