*{margin: 0;padding: 0;}
@font-face{
	font-family:Merge;
	src:url(../../../font/merge_light.otf)

}
body{
	font-family: Merge,serif;
}

main{
	background:url(../../../img/develop.jpg);
	/* background-size: 100% 100%; */
	background-repeat: no-repeat;
	padding: 40px 60px;
	height: 858px;
}

/*-------------------*/
.content{
	padding: 20px 40px;
	background:rgba(255,255,255,0.7);
	border-radius: 3px;
	color:#fff;
	margin: auto;
	width: 70%;
}
.clase_cambiar {
	background: #e1e1e1;
	color:#000;
}


/*-------------------*/
h2{
	text-align: center;
}

button{
	background: crimson;
	padding: 10px;
	border-radius: 3px;
	border:none;
}
a{
	text-decoration: none;
	color: white;
}

input{
	background: indigo;
	display: block;
	color: white;
	padding: 10px;
	width: 100px;
	border:none;
	margin: auto;
	border-radius: 3px;
	margin-bottom: 3px;
}