*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}


header{
    background: #ff0042;
    color: white;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 10px;
}

main{
    background: linear-gradient(140deg,crimson,dodgerblue);
    width: 100%;
    height: 100vh;;
}


#heros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero{
    background: black;
    display: flex;
    justify-content: center;
    margin: 4px;
}

.foto{
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.info{
    background: white;
    padding: 10px;
    width: 100%;
}
.foto, .voto img{
    overflow: hidden;
    cursor: pointer;
}

/* ----------------- */
.foto img{
    width: 16rem;
    height: 18rem;
    transition-duration: .7s;
}

.foto img:hover{
    transform: scale(1.7);
}

.info h3,.info .voto{
    display: block;
}

.info h3{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.info b{
    color: tomato;
}

.info img{
    width: 50px;
    height: 50px;
}

/* --------------- */

.voto, .likes, .dislikes{
    /* background: #cdcdcd; */
    padding: 10px 0px 0px 0px;
    display: flex !important;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.voto img{
    display: inline-block;
}

/* ----------------- */
#paginas{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#paginas span{
    background: radial-gradient(black,darkmagenta);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    padding: 0px 10px;
    margin-left: 20px;
    font-size: 2rem;
    transition-duration: .3s;
}

#paginas span:hover{
    background: radial-gradient(indigo,darkmagenta);
}




@media(max-width:1080px){


}
