*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: Merge;
    src:url(../../../font/merge_light.otf);
}

body{
    font-family: 'Cambria','poppins',Merge,sans-serif;
    font-size: 2rem;
}

body::-webkit-scrollbar{
    background: rgb(222,240,255);
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background: linear-gradient(to top, indigo, blue);
    border-radius: 3px;
}

h2{
    /* background: teal; */
    font-size: 2em;
    text-transform: uppercase;
}

p,a,h3{
    font-size: 1em;
    text-transform: capitalize;
}

cite{
    font-size: 20px;
    color: red;
}

section:nth-child(1){
    height: 100vh;
    justify-content: space-between;
    overflow: hidden;
}

section:nth-child(1) div:nth-child(1){
    background: linear-gradient(45deg,indigo, darkmagenta);
    color:white;
    max-height: 50vh;
    overflow: hidden;
}

#up{
    background: transparent;
    position: absolute;
    margin-top: 20vh;
    margin-left: 20vw;
    width: 50%;
}


section:nth-child(1) div:nth-child(2){
    background: linear-gradient(to top, white, indigo,transparent);
    margin: auto;
    color: white;
    height: 50vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 3rem;
}


section:nth-child(1) div img{
    border-radius: 50%;
    right:10vw;
    top: 35vh;
    width: 270px;
    position: absolute !important;
}

/* -------------------------- */

section:nth-child(2){
    background: radial-gradient(darkmagenta 30%,black 100%);
    background: white;
    color: #252555;
    padding: 70px;
    height: 100vh;
    overflow: hidden;
}

section:nth-child(2) .div{
    background: white;
    padding: 10vh;
    margin: auto;
    width: 90%;
    height: 80vh;
    display: flex;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgb(177,177,255);;
}

section:nth-child(2) div img{
    width: 40vw;
    height: 50vh;
    transition-duration: .5s;
    transform:matrix3d(630,0,0,0.7,0,700,0,0,0,0,1,0,0,0,0,700);
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    -webkit-box-reflect: below 1px linear-gradient(transparent,#004);
    box-shadow: 2px 10px 1px 2px #252525,0px 0px 25px white,0px 0px 50px dodgerblue,0px 0px 550px dodgerblue;
}

section:nth-child(2) div h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10vh;
}

section:nth-child(2) div p{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10vh;
}

section:nth-child(2) a{
    background: dodgerblue;
    padding: 20px 40px;
    display: block;
    text-decoration: none;
    transition-duration: .5s;
    text-transform: uppercase;
    color: white;
    text-align: center;
    border-radius: 3px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}

section:nth-child(2) div a:hover{
    background: rgb(0, 0, 177);
}


/* ------------------- */

section:nth-child(3){
    background: linear-gradient(rgb(75,45,131),rgb(209,209,245));
    color: white;
    height: 100vh;
    padding: 10vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
}
section:nth-child(3) h2{
    width: 100%;
    padding: 2vh;
    font-size: 2em;
    text-align: center;
}

section:nth-child(3) div{
    background: rgba(0,0,0,0.2);
    width: 50%;
    overflow: hidden;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}
section:nth-child(3) div:nth-child(1){
    background: #252555;
}
section:nth-child(3) div:nth-child(2){
    /* background: rgb(209,45,160); */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

section:nth-child(3) img,section:nth-child(4) img,section:nth-child(5) img,section:nth-child(6) img{
    transition-duration: .5s;
    height: 100%;
    width: 100%;
}

section:nth-child(3) img:hover{
    transform:scale(1.2);
    cursor: pointer;
}

section:nth-child(3) div:nth-child(2) a{
    /* background: rgb(69,169,255); */
    text-decoration: none;
    display: block;
    width: 77%;
    text-align: left;
    color: white;
    padding: 10px;
    margin: auto;
}

section:nth-child(3) div:nth-child(2) a:hover{
    background: rgb(69,120,255);
}
