<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperHeroes</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="img/1.jpg">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <header>
        <h2>SUPER HEROES</h2>
    </header>
    <main id="hero">

        <div id="tarjetas">
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=1"><img src="img/1.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>A-Bomb</b></h3>
                        <h3>Publisher: <b>Marvel Comic</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Human</b></h3>
                            <h3>Heignt: <b>"5'8","203 cm"</b></h3>
                            <h3>Weight: <b>"980 lb","441 kg"</b></h3>
                            <h3>Eye-color: <b>Yellow</b></h3>
                            <h3>Hair-color: <b>No hair</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=2"><img src="img/2.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Abe Sapien</b></h3>
                        <h3>Publisher: <b>Dark Horse Comics</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Icthyo Sapien</b></h3>
                            <h3>Heignt: <b>"6'3","195 cm"</b></h3>
                            <h3>Weight: <b>"145 lb","65 kg"</b></h3>
                            <h3>Eye-color: <b>Blue</b></h3>
                            <h3>Hair-color: <b>No hair</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=3"><img src="img/3.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Abin Sur</b></h3>
                        <h3>Publisher: <b>DC Comics</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Ungaran</b></h3>
                            <h3>Heignt: <b>"6'1","185 cm"</b></h3>
                            <h3>Weight: <b>"200 lb","90 kg"</b></h3>
                            <h3>Eye-color: <b>Blue</b></h3>
                            <h3>Hair-color: <b>No hair</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=4"><img src="img/4.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Abomination</b></h3>
                        <h3>Publisher: <b>Marvel Comics</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Human / Radiation</b></h3>
                            <h3>Heignt: <b>"6'8","203 cm"</b></h3>
                            <h3>Weight: <b>"980 lb","441 kg"</b></h3>
                            <h3>Eye-color: <b>Green</b></h3>
                            <h3>Hair-color: <b>No hair</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=5"><img src="img/5.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Abraxas</b></h3>
                        <h3>Publisher: <b>Marvel Comics</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Cosmic Entity</b></h3>
                            <h3>Heignt: <b>"-","0 cm"</b></h3>
                            <h3>Weight: <b>" lb","0 kg"</b></h3>
                            <h3>Eye-color: <b>Blue</b></h3>
                            <h3>Hair-color: <b>Black</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=6"><img src="img/6.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Absorbing Man</b></h3>
                        <h3>Publisher: <b>Marvel Comics</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Human</b></h3>
                            <h3>Heignt: <b>"6'4","193 cm"</b></h3>
                            <h3>Weight: <b>"270 lb","122 kg"</b></h3>
                            <h3>Eye-color: <b>Blue</b></h3>
                            <h3>Hair-color: <b>No hair</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=7"><img src="img/7.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Adam Monroe</b></h3>
                        <h3>Publisher: <b>NBC - Heroes</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Null</b></h3>
                            <h3>Heignt: <b>"-","0 cm"</b></h3>
                            <h3>Weight: <b>"- lb","0 kg"</b></h3>
                            <h3>Eye-color: <b>Blue</b></h3>
                            <h3>Hair-color: <b>Blond</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=8"><img src="img/8.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Adam Strange</b></h3>
                        <h3>Publisher: <b>Dc Comics</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Human</b></h3>
                            <h3>Heignt: <b>"6'1","185 cm"</b></h3>
                            <h3>Weight: <b>"195 lb","88 kg"</b></h3>
                            <h3>Eye-color: <b>Blue</b></h3>
                            <h3>Hair-color: <b>Blond</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=9"><img src="img/9.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Agent 13</b></h3>
                        <h3>Publisher: <b>Sharon Carter</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Female</b></h3>
                            <h3>Race: <b>Null</b></h3>
                            <h3>Heignt: <b>"5'8","173 cm"</b></h3>
                            <h3>Weight: <b>"135 lb","61 kg"</b></h3>
                            <h3>Eye-color: <b>Blue</b></h3>
                            <h3>Hair-color: <b>Blond</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <div id="tarjetas">
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=10"><img src="img/10.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Agent Bob</b></h3>
                        <h3>Publisher: <b>Marbel Comics</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Human</b></h3>
                            <h3>Heignt: <b>"5'10","178 cm"</b></h3>
                            <h3>Weight: <b>"181 lb","81 kg"</b></h3>
                            <h3>Eye-color: <b>Brown</b></h3>
                            <h3>Hair-color: <b>Brown</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=11"><img src="img/11.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Agent Zero</b></h3>
                        <h3>Publisher: <b>Marbel Comics</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Null</b></h3>
                            <h3>Heignt: <b>"6'3","191 cm"</b></h3>
                            <h3>Weight: <b>"230 lb","104 kg"</b></h3>
                            <h3>Eye-color: <b>-</b></h3>
                            <h3>Hair-color: <b>-</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=12"><img src="img/12.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Air-Walker</b></h3>
                        <h3>Publisher: <b>Marbel Comics</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Null</b></h3>
                            <h3>Heignt: <b>"6'2","188 cm"</b></h3>
                            <h3>Weight: <b>"140 lb","108 kg"</b></h3>
                            <h3>Eye-color: <b>Blue</b></h3>
                            <h3>Hair-color: <b>White</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=13"><img src="img/13.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Ajax</b></h3>
                        <h3>Publisher: <b>Marbel Comics</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Cyborg</b></h3>
                            <h3>Heignt: <b>"6'4","193 cm"</b></h3>
                            <h3>Weight: <b>"200 lb","90 kg"</b></h3>
                            <h3>Eye-color: <b>Brown</b></h3>
                            <h3>Hair-color: <b>Black</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=14"><img src="img/14.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Alan scott</b></h3>
                        <h3>Publisher: <b>DC Comics</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Null</b></h3>
                            <h3>Heignt: <b>"5'11","180 cm"</b></h3>
                            <h3>Weight: <b>"201 lb","90 kg"</b></h3>
                            <h3>Eye-color: <b>Blue</b></h3>
                            <h3>Hair-color: <b>Blond</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=15"><img src="img/15.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Alex Mercer</b></h3>
                        <h3>Publisher: <b>Wildstorm</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Human</b></h3>
                            <h3>Heignt: <b>"-","0 cm"</b></h3>
                            <h3>Weight: <b>"- lb","0 kg"</b></h3>
                            <h3>Eye-color: <b>-</b></h3>
                            <h3>Hair-color: <b>-</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
    
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=16"><img src="img/16.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Alex Woolsly</b></h3>
                        <h3>Publisher: <b>NBC - Heroes</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Null</b></h3>
                            <h3>Heignt: <b>"-","0 cm"</b></h3>
                            <h3>Weight: <b>"- lb","0 kg"</b></h3>
                            <h3>Eye-color: <b>-</b></h3>
                            <h3>Hair-color: <b>-</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=17"><img src="img/17.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Alfred Pennyworth</b></h3>
                        <h3>Publisher: <b>Dc Comics</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Human</b></h3>
                            <h3>Heignt: <b>"5'10","178 cm"</b></h3>
                            <h3>Weight: <b>"160 lb","72 kg"</b></h3>
                            <h3>Eye-color: <b>Blue</b></h3>
                            <h3>Hair-color: <b>Black</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=18"><img src="img/18.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Alien</b></h3>
                        <h3>Publisher: <b>Dark Horse Comics</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Xenomorph XX121</b></h3>
                            <h3>Heignt: <b>"8'0","244 cm"</b></h3>
                            <h3>Weight: <b>"375 lb","169 kg"</b></h3>
                            <h3>Eye-color: <b>-</b></h3>
                            <h3>Hair-color: <b>No hair</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <div id="tarjetas">
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=19"><img src="img/19.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Allan Quatermain</b></h3>
                        <h3>Publisher: <b>Wildstorm</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Null</b></h3>
                            <h3>Heignt: <b>"-","0 cm"</b></h3>
                            <h3>Weight: <b>"- lb","- kg"</b></h3>
                            <h3>Eye-color: <b>-</b></h3>
                            <h3>Hair-color: <b>-</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
    
            <section>
                <div class="card hero">
                    <div class="foto">
                        <a href="hero.php?id=20"><img src="img/20.jpg" alt=""></a>
                    </div>
                    <div class="info">
                        <h3>Name: <b>Amazo</b></h3>
                        <h3>Publisher: <b>Dc Comics</b></h3>
                        <div class="apariencia">
                            <h3>Gender: <b>Male</b></h3>
                            <h3>Race: <b>Android</b></h3>
                            <h3>Heignt: <b>"8'5","257 cm"</b></h3>
                            <h3>Weight: <b>"385 lb","173 kg"</b></h3>
                            <h3>Eye-color: <b>Red</b></h3>
                            <h3>Hair-color: <b>-</b></h3>
                        </div>
                        <div class="voto">
                            <div class="likes">
                                <img src="../../../img/svg/like.svg" alt="">
                            </div>
                            <div class="dislikes">
                                <img src="../../../img/svg/dislike.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
        </div>

    </main>

    <script>
function Heros() {

    const xhttp = new XMLHttpRequest();    
        
    xhttp.withCredentials = false;
    
    xhttp.setRequestHeader('Access-Control-Allow-Methods', 'GET');
    xhttp.setRequestHeader('Access-Control-Allow-Headers', 'Origin, X-Requested-With, Content-Type, Accept');
    xhttp.setRequestHeader('access-control-max-age', '86400');
    xhttp.setRequestHeader('Access-Control-Allow-Origin', '*');
    xhttp.setRequestHeader('Access-Control-Allow-Credentials', false);

    xhttp.open("POST", `https://superheroapi.com/api/793211591386644/1/image`, false);
    xhttp.send();        
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            let respuesta = JSON.parse(xhttp.responseText);
            // console.log(respuesta);
        };
    }
}
Heros();


// const datos = {
//   render: () => {
//       const ulrAPI ='https://superheroapi.com/api/793211591386644/1';

//       fetch(ulrAPI)
//       .then(res => res.json())
//       .then((json) => {
//           console.log(json, 'res.json')
//       })
//   }
// };

// datos.render();

    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>