<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperHeroes</title>
    <link rel="shortcut icon" href="../haku777.github.io/img/n.PNG">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <main>
        <!-- <header>
            <h2>SUPER HEROES</h2>
        </header> -->

        <section>
            <div class="card hero">
                
                <div class="foto">
                    <img src="https://www.superherodb.com/pictures2/portraits/10/100/870.jpg" alt="">
                </div>
                <div class="info">
                    <h3>nombre: <b>Elastigirl</b></h3>
                    <h3>publisher: <b>Dark Horse Comics</b></h3>
                    <div class="apariencia">
                        <h3>gender: <b>woman</b></h3>
                        <h3>race: <b>Humano</b></h3>
                        <h3>heignt: <b>"5'6","168 cm"</b></h3>
                        <h3>weight: <b>"125 lb","56 kg"</b></h3>
                        <h3>eye-color: <b>Brown</b></h3>
                        <h3>hair-color: <b>Brown</b></h3>
                    </div>
                    <div class="voto">
                        <img src="../haku777.github.io/img/svg/like.svg" alt="">
                        <img src="../haku777.github.io/img/svg/dislike.svg" alt="">
                    </div>

                </div>
            </div>
        </section>

        <section>
            <div class="card hero">
                
                <div class="foto">
                    <img src="https://www.superherodb.com/pictures2/portraits/10/100/870.jpg" alt="">
                </div>
                <div class="info">
                    <h3>nombre: <b>Elastigirl</b></h3>
                    <h3>publisher: <b>Dark Horse Comics</b></h3>
                    <div class="apariencia">
                        <h3>gender: <b>woman</b></h3>
                        <h3>race: <b>Humano</b></h3>
                        <h3>heignt: <b>"5'6","168 cm"</b></h3>
                        <h3>weight: <b>"125 lb","56 kg"</b></h3>
                        <h3>eye-color: <b>Brown</b></h3>
                        <h3>hair-color: <b>Brown</b></h3>
                    </div>
                    <div class="voto">
                        <img src="../haku777.github.io/img/svg/like.svg" alt="">
                        <img src="../haku777.github.io/img/svg/dislike.svg" alt="">
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="card hero">
                
                <div class="foto">
                    <img src="https://www.superherodb.com/pictures2/portraits/10/100/870.jpg" alt="">
                </div>
                <div class="info">
                    <h3>nombre: <b>Elastigirl</b></h3>
                    <h3>publisher: <b>Dark Horse Comics</b></h3>
                    <div class="apariencia">
                        <h3>gender: <b>woman</b></h3>
                        <h3>race: <b>Humano</b></h3>
                        <h3>heignt: <b>"5'6","168 cm"</b></h3>
                        <h3>weight: <b>"125 lb","56 kg"</b></h3>
                        <h3>eye-color: <b>Brown</b></h3>
                        <h3>hair-color: <b>Brown</b></h3>
                    </div>
                    <div class="voto">
                        <img src="../haku777.github.io/img/svg/like.svg" alt="">
                        <img src="../haku777.github.io/img/svg/dislike.svg" alt="">
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="card hero">
                
                <div class="foto">
                    <img src="https://www.superherodb.com/pictures2/portraits/10/100/870.jpg" alt="">
                </div>
                <div class="info">
                    <h3>nombre: <b>Elastigirl</b></h3>
                    <h3>publisher: <b>Dark Horse Comics</b></h3>
                    <div class="apariencia">
                        <h3>gender: <b>woman</b></h3>
                        <h3>race: <b>Humano</b></h3>
                        <h3>heignt: <b>"5'6","168 cm"</b></h3>
                        <h3>weight: <b>"125 lb","56 kg"</b></h3>
                        <h3>eye-color: <b>Brown</b></h3>
                        <h3>hair-color: <b>Brown</b></h3>
                    </div>
                    <div class="voto">
                        <img src="../haku777.github.io/img/svg/like.svg" alt="">
                        <img src="../haku777.github.io/img/svg/dislike.svg" alt="">
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="card hero">
                
                <div class="foto">
                    <img src="https://www.superherodb.com/pictures2/portraits/10/100/870.jpg" alt="">
                </div>
                <div class="info">
                    <h3>nombre: <b>Elastigirl</b></h3>
                    <h3>publisher: <b>Dark Horse Comics</b></h3>
                    <div class="apariencia">
                        <h3>gender: <b>woman</b></h3>
                        <h3>race: <b>Humano</b></h3>
                        <h3>heignt: <b>"5'6","168 cm"</b></h3>
                        <h3>weight: <b>"125 lb","56 kg"</b></h3>
                        <h3>eye-color: <b>Brown</b></h3>
                        <h3>hair-color: <b>Brown</b></h3>
                    </div>
                    <div class="voto">
                        <img src="../haku777.github.io/img/svg/like.svg" alt="">
                        <img src="../haku777.github.io/img/svg/dislike.svg" alt="">
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="card hero">
                
                <div class="foto">
                    <img src="https://www.superherodb.com/pictures2/portraits/10/100/870.jpg" alt="">
                </div>
                <div class="info">
                    <h3>nombre: <b>Elastigirl</b></h3>
                    <h3>publisher: <b>Dark Horse Comics</b></h3>
                    <div class="apariencia">
                        <h3>gender: <b>woman</b></h3>
                        <h3>race: <b>Humano</b></h3>
                        <h3>heignt: <b>"5'6","168 cm"</b></h3>
                        <h3>weight: <b>"125 lb","56 kg"</b></h3>
                        <h3>eye-color: <b>Brown</b></h3>
                        <h3>hair-color: <b>Brown</b></h3>
                    </div>
                    <div class="voto">
                        <img src="../haku777.github.io/img/svg/like.svg" alt="">
                        <img src="../haku777.github.io/img/svg/dislike.svg" alt="">
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="card hero">
                
                <div class="foto">
                    <img src="https://www.superherodb.com/pictures2/portraits/10/100/870.jpg" alt="">
                </div>
                <div class="info">
                    <h3>nombre: <b>Elastigirl</b></h3>
                    <h3>publisher: <b>Dark Horse Comics</b></h3>
                    <div class="apariencia">
                        <h3>gender: <b>woman</b></h3>
                        <h3>race: <b>Humano</b></h3>
                        <h3>heignt: <b>"5'6","168 cm"</b></h3>
                        <h3>weight: <b>"125 lb","56 kg"</b></h3>
                        <h3>eye-color: <b>Brown</b></h3>
                        <h3>hair-color: <b>Brown</b></h3>
                    </div>
                    <div class="voto">
                        <img src="../haku777.github.io/img/svg/like.svg" alt="">
                        <img src="../haku777.github.io/img/svg/dislike.svg" alt="">
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="card hero">
                
                <div class="foto">
                    <img src="https://www.superherodb.com/pictures2/portraits/10/100/870.jpg" alt="">
                </div>
                <div class="info">
                    <h3>nombre: <b>Elastigirl</b></h3>
                    <h3>publisher: <b>Dark Horse Comics</b></h3>
                    <div class="apariencia">
                        <h3>gender: <b>woman</b></h3>
                        <h3>race: <b>Humano</b></h3>
                        <h3>heignt: <b>"5'6","168 cm"</b></h3>
                        <h3>weight: <b>"125 lb","56 kg"</b></h3>
                        <h3>eye-color: <b>Brown</b></h3>
                        <h3>hair-color: <b>Brown</b></h3>
                    </div>
                    <div class="voto">
                        <img src="../haku777.github.io/img/svg/like.svg" alt="">
                        <img src="../haku777.github.io/img/svg/dislike.svg" alt="">
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="card hero">
                
                <div class="foto">
                    <img src="https://www.superherodb.com/pictures2/portraits/10/100/870.jpg" alt="">
                </div>
                <div class="info">
                    <h3>nombre: <b>Elastigirl</b></h3>
                    <h3>publisher: <b>Dark Horse Comics</b></h3>
                    <div class="apariencia">
                        <h3>gender: <b>woman</b></h3>
                        <h3>race: <b>Humano</b></h3>
                        <h3>heignt: <b>"5'6","168 cm"</b></h3>
                        <h3>weight: <b>"125 lb","56 kg"</b></h3>
                        <h3>eye-color: <b>Brown</b></h3>
                        <h3>hair-color: <b>Brown</b></h3>
                    </div>
                    <div class="voto">
                        <img src="../haku777.github.io/img/svg/like.svg" alt="">
                        <img src="../haku777.github.io/img/svg/dislike.svg" alt="">
                    </div>

                </div>
            </div>
        </section>
        
        


    </main>

    <script src="js/index.js"></script>
</body>
</html>