<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/colors.css">
        <title></title>
    </head>

    <body>

        <main>
            <section>
                <a href="../index.html">Back</a>
                    <h2>COLORS</h2>
                <a href="../../page.html">Menu</a>
            </section>

            <p class="color1"></p>
            <p class="color2"></p>
            <p class="color3"></p>
            <p class="color4"></p>
            <p class="color5"></p>
            <p class="color6"></p>
            <p class="color7"></p>
            <p class="color8"></p>
            <p class="color9"></p>
            <p class="color10"></p>
            <p class="color11"></p>
            <p class="color12"></p>
            <p class="color13"></p>
            <p class="color14"></p>
            <p class="color15"></p>
            <p class="color16"></p>
            <p class="color17"></p>
            <p class="color18"></p>
            <p class="color19"></p>
            <p class="color20"></p>
            <p class="color21"></p>
            <p class="color22"></p>
            <p class="color23"></p>
            <p class="color24"></p>
            <p class="color25"></p>
            <p class="color26"></p>
            <p class="color27"></p>
            <p class="color28"></p>
            <p class="color29"></p>
            <p class="color30"></p>
            <p class="color31"></p>
            <p class="color32"></p>
            <p class="color33"></p>
            <p class="color34"></p>
            <p class="color35"></p>
            <p class="color36"></p>
            <p class="color37"></p>
            <p class="color38"></p>
            <p class="color39"></p>
            <p class="color40"></p>
            <p class="color41"></p>
            <p class="color42"></p>
            <p class="color43"></p>
            <p class="color44"></p>
            <p class="color45"></p>
            <p class="color46"></p>
            <p class="color47"></p>
            <p class="color48"></p>
            <p class="color49"></p>
            <p class="color50"></p>
            <p class="color51"></p>
            <p class="color52"></p>
            <p class="color53"></p>
            <p class="color54"></p>
            <p class="color55"></p>
            <p class="color56"></p>
            <p class="color57"></p>
            <p class="color58"></p>
            <p class="color59"></p>
            <p class="color60"></p>
            <p class="color61"></p>
            <p class="color62"></p>
            <p class="color63"></p>
            <p class="color64"></p>
            <p class="color65"></p>
            <p class="color66"></p>
            <p class="color67"></p>
            <p class="color68"></p>
            <p class="color69"></p>
            <p class="color70"></p>
            <p class="color71"></p>
            <p class="color72"></p>
            <p class="color73"></p>
            <p class="color74"></p>
            <p class="color75"></p>
            <p class="color76"></p>
            <p class="color77"></p>
            <p class="color78"></p>
            <p class="color79"></p>
            <p class="color80"></p>

        </main>
    </body>
</html>