<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/colors.css">
        <title></title>
    </head>

    <body>

        <main>
            <section>
                <a href="../components.html">Back</a>
                    <h2>COLORS</h2>
                <a href="../../page.html">Menu</a>
            </section>

            <p class="color1">Color</p>
            <p class="color2">Color</p>
            <p class="color3">Color</p>
            <p class="color4">Color</p>
            <p class="color5">Color</p>
            <p class="color6">Color</p>
            <p class="color7">Color</p>
            <p class="color8">Color</p>
            <p class="color9">Color</p>
            <p class="color10">Color</p>
            <p class="color11">Color</p>
            <p class="color12">Color</p>
            <p class="color13">Color</p>
            <p class="color14">Color</p>
            <p class="color15">Color</p>
            <p class="color16">Color</p>
            <p class="color17">Color</p>
            <p class="color18">Color</p>
            <p class="color19">Color</p>
            <p class="color20">Color</p>
            <p class="color21">Color</p>
            <p class="color22">Color</p>
            <p class="color23">Color</p>
            <p class="color24">Color</p>
            <p class="color25">Color</p>
            <p class="color26">Color</p>
            <p class="color27">Color</p>
            <p class="color28">Color</p>
            <p class="color29">Color</p>
            <p class="color30">Color</p>
            <p class="color31">Color</p>
            <p class="color32">Color</p>
            <p class="color33">Color</p>
            <p class="color34">Color</p>
            <p class="color35">Color</p>
            <p class="color36">Color</p>
            <p class="color37">Color</p>
            <p class="color38">Color</p>
            <p class="color39">Color</p>
            <p class="color40">Color</p>

            

        </main>
    </body>
</html>