<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/colors.css">
        <title></title>
    </head>

    <body>

        <main>
            <section>
                <a href="../components.html">Back</a>
                    <h2>COLORS</h2>
                <a href="../../page.html">Menu</a>
            </section>

            <p class="color1">Color</p>
            <p class="color2">Color</p>
            <p class="color3">Color</p>
            <p class="color4">Color</p>
            <p class="color5">Color</p>
            <p class="color6">Color</p>
            <p class="color7">Color</p>
            <p class="color8">Color</p>
            <p class="color9">Color</p>
            <p class="color10">Color</p>
            <p class="color11">Color</p>
            <p class="color12">Color</p>
            <p class="color13">Color</p>
            <p class="color14">Color</p>
            <p class="color15">Color</p>
            <p class="color16">Color</p>
            <p class="color17">Color</p>
            <p class="color18">Color</p>
            <p class="color19">Color</p>
            <p class="color20">Color</p>
            <p class="color21">Color</p>
            <p class="color22">Color</p>
            <p class="color23">Color</p>
            <p class="color24">Color</p>
            <p class="color25">Color</p>
            <p class="color26">Color</p>
            <p class="color27">Color</p>
            <p class="color28">Color</p>
            <p class="color29">Color</p>
            <p class="color30">Color</p>
            <p class="color31">Color</p>
            <p class="color32">Color</p>
            <p class="color33">Color</p>
            <p class="color34">Color</p>
            <p class="color35">Color</p>
            <p class="color36">Color</p>
            <p class="color37">Color</p>
            <p class="color38">Color</p>
            <p class="color39">Color</p>
            <p class="color40">Color</p>
            <p class="color41">color</p>
            <p class="color42">color</p>
            <p class="color43">color</p>
            <p class="color44">color</p>
            <p class="color45">color</p>
            <p class="color46">color</p>
            <p class="color47">color</p>
            <p class="color48">color</p>
            <p class="color49">color</p>
            <p class="color50">color</p>
            <p class="color51">color</p>
            <p class="color52">color</p>
            <p class="color53">color</p>
            <p class="color54">color</p>
            <p class="color55">color</p>
            <p class="color56">color</p>
            <p class="color57">color</p>
            <p class="color58">color</p>
            <p class="color59">color</p>
            <p class="color60">color</p>
            <p class="color61">color</p>
            <p class="color62">color</p>
            <p class="color63">color</p>
            <p class="color64">color</p>
            <p class="color65">color</p>
            <p class="color66">color</p>
            <p class="color67">color</p>
            <p class="color68">color</p>
            <p class="color69">color</p>
            <p class="color70">color</p>
            <p class="color71">color</p>
            <p class="color72">color</p>
            <p class="color73">color</p>
            <p class="color74">color</p>
            <p class="color75">color</p>
            <p class="color76">color</p>
            <p class="color77">color</p>
            <p class="color78">color</p>
            <p class="color79">color</p>
            <p class="color80">color</p>

        </main>
    </body>
</html>