*
    margin: 0
    padding: 0
    box-sizing: border-box

@font-face
    font-family: Merge
    src: url(../../../font/merge_light.otf)

body
    font-family: 'Cambria','poppins',Merge,sans-serif
    ::-webkit-scrollbar
        background: rgb(222,240,255)
        width: 10px
    ::-webkit-scrollbar-thumb
        background: linear-gradient(to top, indigo, blue)
        border-radius: 3px

h2
    color: #fff
    font-size: 7vw
    text-align: center
    text-transform: uppercase
    text-shadow: 0px 2px 2px #252555

cite
    font-size: 20px
    color: crimson

section
    height: 100vh
    overflow: hidden

/* ------------------- *

section:nth-child(1)
    justify-content: space-between

section:nth-child(1) h2
    text-align: left

section:nth-child(1) h3
    font-size: 3rem

section:nth-child(1) h4
    font-size: 1.2rem

section:nth-child(1) div:nth-child(1)
    background: linear-gradient(45deg,indigo, darkmagenta)
    color: white
    max-height: 50vh

#up
    background: transparent
    position: absolute
    color: #fff
    margin-top: 20vh
    margin-left: 20vw
    width: 50%

section:nth-child(1) div:nth-child(2)
    background: linear-gradient(to top, white,indigo,transparent)
    margin: auto
    color: white
    height: 50vh
    padding: 20px
    display: flex
    justify-content: center
    flex-direction: column
    align-content: center
    align-items: center
    font-size: 3rem

section:nth-child(1) div img
    border-radius: 50%
    right: 10vw
    top: 35vh
    width: 27vh
    position: absolute !important
    height: 27vh

@media(max-width: 750px)
    section:nth-child(1) div h2,h3,h4
        z-index: 2
    section:nth-child(1) div img
        z-index: 1

/* -------------------------- *

section:nth-child(2)
    background: url("../../img/utilities/white.jpg")
    background-repeat: no-repeat
    background-size: cover
    font-size: 2vw
    color: #555555
    padding-top: 70px
    height: 100vh
    overflow: hidden

section:nth-child(2) .div
    background: rgba(77,177,255, 0.1)
    padding: 10vh
    margin: auto
    width: 90%
    height: 80vh
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    border-radius: 30px
    box-shadow: 1px 1px 7px 1px rgb(200,200,255)

section:nth-child(2) .div div
    padding-left: 40px !important

section:nth-child(2) div img
    width: 30vw
    height: 50vh
    transition-duration: .7s
    transform: matrix3d(770,0,0,0.7,70,800,0,0,0,0,1,0,0,0,0,700)
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1)
    -webkit-box-reflect: below 17px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4))
    box-shadow: 2px 10px 1px 2px #252525,0px 0px 5px white,0px 0px 25px dodgerblue,0px 0px 50px dodgerblue

section:nth-child(2) div p
    text-align: center
    padding: 4vw
    font-size: 2.7rem

section:nth-child(2) a
    background: dodgerblue
    padding: 20px 40px
    font-size: 1.2rem
    display: block
    text-decoration: none
    transition-duration: .5s
    text-transform: uppercase
    color: white
    text-align: center
    border-radius: 3px
    width: 17vw
    margin: auto

section:nth-child(2) div a:hover
    background: rgb(30, 30, 177)

@media(max-width: 1060px)
    section:nth-child(2) div img
        width: 20vw

@media(max-width: 750px)
    section:nth-child(2) div a
        width: 50vw

    section:nth-child(2) div img
        display: none

/* ------------------- *

section:nth-child(3)
    background: linear-gradient(to top,rgb(75,45,131),#a1a1ff,#fffcf7)
    font-size: 2rem
    color: white
    height: 100vh
    padding: 10vh
    overflow: hidden

section:nth-child(3) .container
    width: 100%
    height: 100vh
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    overflow: hidden

.proyects, .preview
    width: 50%
    height: 70vh
    z-index: 70

.proyects
    background: rgba(25,25,55,0.4)
    align-content: center
    align-items: center
    padding: 20px
    backdrop-filter: blur(30px)
    -webkit-backdrop-filter: blur(30px)
    border-radius: 30px 0px 0px 30px
    overflow-y: scroll

.preview
    border-radius: 0px 30px 30px 0px
    overflow: hidden

.proyects a
    text-decoration: none
    text-align: left
    display: block
    width: 77%
    color: white
    padding: 10px
    margin: auto
    transition-duration: .7s

.proyects a:hover
    background: rgb(209,45,131)
    border-radius: 30px
    padding-left: 3vw

section:nth-child(3) img
    width: 100%
    height: 100%
    transition-duration: .7s

section:nth-child(3) h2
    position: relative
    z-index: 20 !important

section:nth-child(3) img:hover
    transform: scale(1.2)

section:nth-child(3) .container::before
    background: linear-gradient(-45deg,rgb(75,45,131),rgb(209,45,131))
    content: ''
    position: absolute
    border-radius: 17px
    width: 30vw
    height: 40vh
    left: 3vw
    z-index: 1
    animation-name: XD
    animation-duration: 4s
    animation-iteration-count: infinite
    animation-timing-function: linear

@keyframes XD
    0% ,100%
        transform: translateY(-3vw)
    50%
        transform: translateY(15vw)

@media(max-width: 750px)
    section:nth-child(3) .container::before
        border-radius: 0px
        left: 0
        width: 50vw
    /* ------------Examples---------- *

section:nth-child(4)
    background: linear-gradient(to bottom,rgb(75,45,131),#a1a1ff,#e4fdff)
    font-size: 2rem
    padding: 3vh 7vh
    color: white
    text-align: center
    div
        .examples
            display: grid
            grid-template-columns: repeat(8, 1fr)
            grid-auto-rows: 30px
            gap: 10px
            a
                background: #7797
                text-decoration: none
                font-size: 20px
                color: #fff
                display: inline-block
                box-shadow: 1px 1px 1px #252555
                &:hover
                    background: rgba(0,0,0,0.2)
                    color: white

.ContentExamples
    height: 100vh
.examples
    height: 70vh
    overflow-y: scroll

/* ------------------------ /
section:nth-child(5)
    background: url("../../img/utilities/white.jpg")
    background-repeat: no-repeat
    background-size: cover
    display: flex
    justify-content: center
    flex-direction: column
    align-content: center
    align-items: center
    text-align: center
    color: #fff
    height: 100vh
    overflow: hidden

section:nth-child(5) .preview
    width: 80vw
    height: 60vh
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    flex-wrap: wrap
    img
        padding: 2px
        margin: 2px
        width: 10vw
        height: 8vw

@media (max-width: 900px)
    section:nth-child(5) .preview
        border-radius: 0px
        width: 100vw
        img
            width: 15vw
            height: 15vw


/* --------Contact----------- *

section:nth-child(6)
    background: linear-gradient(-45deg, #f7f7f7 47%,#efefef 47% 100%)
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-content: center
    align-items: center
    font-size: 1.7rem
    text-align: center
    color: #252555

section:nth-child(6) div
    display: flex
    flex-direction: row
    align-content: center
    align-items: center
    justify-content: space-between
    img
        border-radius: 50%
        width: 40vw
        height: 70vh
    form
        width: 40vw
        height: 60vh
        display: flex
        flex-direction: column
        justify-content: space-evenly
        align-content: center
        align-items: center
        label,input
            width: 70%
            display: inline-block
            text-shadow: 0px 0px 1px white
            input, textarea
                text-align: center
                outline: none
                color: #252555
                font-size: 2rem
                padding: 7px 0px
                border: none
                width: 100%

        input[type="submit"]
            background: dodgerblue
            text-transform: uppercase
            cursor: not-allowed
            text-shadow: none
            font-size: 1.7rem
            border: none
            color: white
            padding: 7px 0px
            width: 17vw
            &:hover
                background: tomato

@media(max-width: 750px)
    section:nth-child(6) div
        width: 100vw
        padding: 0px
        form
            width: 100%
            input[type="submit"]
                width: 40vw
        img
            display: none

    section:nth-child(3) img
        display: none

    .proyects
        width: 100%
        border-radius: 7px