*
    margin: 0
    padding: 0
    box-sizing: border-box

@font-face
    font-family: Merge
    src:url(../../../font/merge_light.otf)

body
    font-family: 'Cambria','poppins',Merge,sans-serif
    ::-webkit-scrollbar
        background: rgb(222,240,255)
        width: 10px
    ::-webkit-scrollbar-thumb
        background: linear-gradient(to top, indigo, blue)
        border-radius: 3px

h2
    /* background: teal */
    font-size: 2em
    text-transform: uppercase

p,a,h3
    font-size: 1em
    // text-transform: capitalize

cite
    font-size: 20px
    color: crimson

section
    height: 100vh
    overflow: hidden


/* ------------------- *

section:nth-child(1)
    justify-content: space-between


section:nth-child(1) div:nth-child(1)
    background: linear-gradient(45deg,indigo, darkmagenta)
    color:white
    max-height: 50vh


#up
    background: transparent
    position: absolute
    color: white
    font-size: 2vw
    margin-top: 20vh
    margin-left: 20vw
    width: 50%


section:nth-child(1) div:nth-child(2)
    background: linear-gradient(to top, white,indigo,transparent)
    margin: auto
    color: white
    height: 50vh
    padding: 20px
    display: flex
    justify-content: center
    flex-direction: column
    align-content: center
    align-items: center
    font-size: 3rem


section:nth-child(1) div img
    border-radius: 50%
    right: 10vw
    top: 35vh
    width: 270px
    position: absolute !important
    height: 300px

@media(max-width: 750px)
    section:nth-child(1) div img
        width: 20vw
        height: 20vh


/* -------------------------- *

section:nth-child(2)
    background: url("../../img/utilities/white.jpg")
    background-repeat: no-repeat
    background-size: cover
    color: #252555
    font-size: 2vw
    padding-top: 70px
    height: 100vh
    overflow: hidden


section:nth-child(2) .div
    background: rgba(77,177,255, 0.1)
    padding: 10vh
    margin: auto
    width: 90%
    height: 80vh
    display: flex
    overflow: hidden
    border-radius: 30px
    justify-content: space-between
    box-shadow: 1px 1px 7px 1px rgb(200,200,255)

section:nth-child(2) .div div
    padding-left: 40px !important

section:nth-child(2) div img
    width: 30vw
    height: 50vh
    transition-duration: .7s
    transform: matrix3d(770,0,0,0.7,70,800,0,0,0,0,1,0,0,0,0,700)
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1)
    -webkit-box-reflect: below 17px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4))
    box-shadow: 2px 10px 1px 2px #252525,0px 0px 5px white,0px 0px 25px dodgerblue,0px 0px 50px dodgerblue


section:nth-child(2) div h2
    text-align: center
    text-transform: uppercase
    margin-bottom: 10vh


section:nth-child(2) div p
    text-align: center
    width: 40vw
    font-size: 3vw
    // text-transform: capitalize
    margin-bottom: 10vh


section:nth-child(2) a
    background: dodgerblue
    padding: 20px 40px
    display: block
    text-decoration: none
    transition-duration: .5s
    text-transform: uppercase
    color: white
    text-align: center
    border-radius: 3px
    width: 17vw
    margin: auto
    margin-top: 20px


section:nth-child(2) div a:hover
    background: rgb(0, 0, 177)

@media(max-width: 1060px)
    section:nth-child(2) div img
        width: 20vw


@media(max-width: 750px)
    section:nth-child(2) div a
        width: 50vw

    section:nth-child(2) div img
        display: none

/* ------------------- *

section:nth-child(3)
    background: linear-gradient(to top,rgb(75,45,131),#a1a1ff,#fffcf7)
    font-size: 2rem
    color: white
    height: 100vh
    padding: 10vh
    overflow: hidden

section:nth-child(3) h2
    width: 100%
    padding-bottom: 2vh
    font-size: 2em
    text-align: center
    text-shadow: 2px 2px 2px #252555
    z-index: 2

section:nth-child(3) .container
    width: 100%
    height: 100vh
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    overflow: hidden

// section:nth-child(3) .container:after
//     content: 'please use scroll manually on the proyects'
//     position: relative
//     background: crimson
//     font-size: 14pt !important
//     padding: 10px 20px
//     border-radius: 10px
//     width: 27vw
//     top: -10vh
//     left: 0vw
//     z-index: 1

.proyects, .preview
    width: 50%
    height: 70vh

.proyects
    background: rgba(25,25,55,0.4)
    align-content: center
    align-items: center
    padding: 20px
    backdrop-filter: blur(30px)
    -webkit-backdrop-filter: blur(30px)
    border-radius: 30px 0px 0px 30px
    overflow-y: scroll

.preview
    border-radius: 0px 30px 30px 0px
    z-index: 2
    overflow: hidden

section:nth-child(3) .preview:after
    background: #7a7cf527
    content: 'Preview'
    text-align: center
    text-shadow: 0px 0px 3px #000
    position: absolute
    width: 140px
    height: 40px
    left: 70vw


.proyects a
    text-decoration: none
    text-align: left
    display: block
    width: 77%
    color: white
    padding: 10px
    margin: auto
    // transition-property: padding
    transition-duration: .7s

.proyects a:hover
    background: rgb(209,45,131)
    border-radius: 30px
    padding-left: 3vw

section:nth-child(3) img
    width: 100%
    height: 100%
    transition-duration: .7s

section:nth-child(3) img:hover
    transform: scale(1.2)

section:nth-child(3) .container::before
    background: linear-gradient(-45deg,rgb(75,45,131),rgb(209,45,131))
    content: ''
    position: absolute
    border-radius: 17px
    padding: 20vh 30vh
    // top: 210vh
    left: 3vw
    z-index: 0
    animation-name: XD
    animation-duration: 7s
    animation-iteration-count: infinite
    animation-timing-function: linear


@keyframes XD
    0%
        transform: translateY(-10vh)
    20%
        transform: translateY(15vh)
    40%
        transform: translateY(30vh)
    80%
        transform: translateY(15vh)
    100%
        transform: translateY(-10vh)

/* ------------Examples---------- *

section:nth-child(4)
    background: linear-gradient(to bottom,rgb(75,45,131),#a1a1ff,#e4fdff)
    font-size: 2rem
    padding: 3vh 7vh
    color: white
    text-align: center
    h2
        margin-bottom: 10vh
    div
        .examples
            display: grid
            grid-template-columns: repeat(8, 1fr)
            grid-auto-rows: 30px
            gap: 10px
            a
                background: #7797
                text-decoration: none
                font-size: 20px
                color: #fff
                display: inline-block
                box-shadow: 1px 1px 1px #252555
                &:hover
                    background: rgba(0,0,0,0.2)
                    color: white

.ContentExamples
    height: 100vh
.examples
    height: 70vh
    overflow-y: scroll

/* ------------------------ /
section:nth-child(5)
    background: url("../../img/utilities/white.jpg")
    background-repeat: no-repeat
    background-size: cover
    display: flex
    justify-content: center
    flex-direction: column
    align-content: center
    align-items: center
    text-align: center
    font-size: 2rem
    color: #252555
    height: 100vh
    overflow: hidden
    h2
        margin-top: 7vh

section:nth-child(5) div
    width: 80%

section:nth-child(5) div div
    width: 80%
    margin: auto
    margin-top: 7vh
    .preview
        background: dodgerblue

section:nth-child(5) div img
    display: inline-block
    width: 12vw
    height: 17vh


/* --------Contact----------- *

section:nth-child(6)
    background: linear-gradient(to top,rgb(129,173,198), #fff)
    font-size: 2rem
    text-align: center
    color: #252555
    h2
        text-shadow: 1px 1px 1px white


section:nth-child(6) div
    display: flex
    justify-content: space-evenly
    align-content: center
    align-items: center
    padding: 17px
    img
        border-radius: 50%
        width: 500px
        height: 70vh
    form
        width: 50%
        display: flex
        flex-direction: column
        align-content: center
        align-items: center
        label,input
            width: 70%
            display: inline-block
            text-transform: uppercase
            text-shadow: 0px 0px 1px white
            input, textarea
                display: inline-block
                text-align: center
                outline: none
                color: #252555
                font-size: 12px
                padding: 10px
                border: none
                width: 100%
                border-radius: 7px
                box-shadow: 2px 2px 5px gray,
                1px 1px 2px black,
                -1px -1px 2px #cdcdcd,
                -2px -2px 2px #f5f5f5

        input[type="submit"]
            background: dodgerblue
            border-radius: 3px
            cursor: not-allowed
            text-shadow: none
            font-size: 1rem
            border: none
            color: white
            margin-top: 20px
            padding: 10px
            width: 270px
            box-shadow: 2px 2px 5px gray,
            1px 1px 2px black,
            -1px -1px 2px #cdcdcd,
            -2px -2px 2px #f5f5f5
            &:hover
                background: blue

@media(max-width: 750px)
    section:nth-child(6) div
        width: 100%
        padding: 0px
        form
            width: 100%
        img
            display: none
            width: 100% !important

    section:nth-child(3) img
        display: none

    .proyects
        width: 100%
        border-radius: 7px

// section:nth-child(1),
// section:nth-child(2),
// section:nth-child(3),
// section:nth-child(4),
// section:nth-child(5)
    // display: none


