<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sass/birthday.css">
</head>
<body>
    <main>
        <h2>2021</h2>
        <section>
            <div>
            <h2><h2>Birthday dates</h2>
            <h2>16 de julio mama 45</h2>
            <h2>3 de octubre sara 8</h2>
            <h2>4 de febrero 24 ktha</h2>
            <h2>5 de mayo 48 papa</h2>
            <h2>16 de mayo 47 jorge</h2>
            <h2>21 Mayo nixon 27</h2>
            <h2>1 de junio tio raul</h2>
            <h2>16 de junio mama</h2>
            <h2>11 de julio nancy</h2>
            <h2>16 de julio maria 89</h2>
            <h2>2 de abril cumple 14 Ximena</h2>         
            
                capricornio 23 dic - 21 enero
                tauro
                virgo 23 agost -22 sep
            
                cancer 22 jun - 21 julio
                sajitario 23 nov -22 dic
                libra 23 sep - 22 0ct
                escorpion 23 oct - 22 nov
                
                acuario 22 ene - 17 febre
                pisis 18 feb - 19 mayo
            
                leo 22 jul - 22 ago
                aries
                sajitario
            

            tierra
                capricornio
                tauro
                virgo
            
            
            agua
                cancer
                escorpio
                pisis
            
            aire
                geminis
                acuario
                libra
            
            fuego
                leo
                aries
                sagitario
            </div>
            <div>
                <h2>Year percent</h2>
                <div class="percent" id="percent"></div>
            </div>
        </section>

        <div>
            <h2>Next birthday</h2>
        </div>
    </main>
    <script type="text/javascript" src="js/birthday.js"></script>
</body>
</html>