*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    background: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    width: 70vw;
    margin: auto;
    font-size: 3vw;
}

.wrapper .main{
    background: indigo;
    box-shadow: 0px 0px 70px indigo;
    margin: auto;
    margin-top: 10vh;
    width: 60vw;
    padding: 3px;
}

section{
    margin: auto;
}

article{
    background: #000;
    display: flex;
    font-size: 5vw;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    align-items: center;
    align-content: center;
}

h1,h2,code{
    color: crimson;
}

h3:nth-child(2){
    color: dodgerblue;
    word-wrap: break-all;
    word-wrap: break-word;
}

h3:nth-child(1){
    color: slateblue;
}

footer{
    color: teal;
    text-align: center;
}

@media (max-width: 750px){
    .wrapper .main{
        width: 100%;
        font-size: 12px !important;
    }
}