*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(#f1f1f1,#fff);
    height: 100vh;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    width: 70vw;
    margin: auto;
    font-size: 1.7vw;
}

.wrapper .main{
    background: #fff;
    box-shadow: 0px 0px 17px #ddd;
    margin: auto;
    margin-top: 10vh;
    width: 80vw;
    padding: 3px;
}

section{
    margin: auto;
}

article{
    background: #f1f1f1;
    display: flex;
    padding: 2vh 0vh;
    font-size: 7vw;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    align-items: center;
    align-content: center;
}

h1,h2,code{
    color: crimson;
}

h3:nth-child(2){
    color: dodgerblue;
    word-wrap: break-all;
    word-wrap: break-word;
}

h3:nth-child(1){
    color: slateblue;
}

footer{
    padding-top: 20px;
    color: gray;
    text-align: center;
}

@media (max-width: 750px){
    .wrapper .main{
        width: 100%;
        font-size: 12px;
    }
    article{
        font-size: 14vw;
    }
}