<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TitaMedia</title>
    <link rel="stylesheet" href="css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Questrial&display=swap" rel="stylesheet"> 

</head>
<body>
    <header>
        <div>
            <img src="img/VSO.png" alt="logo">
            <div>
                <h1>SNEAK</h1>
                <h2>CREATIVE PORTFOLIO</h2>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="">All</a></li>
                <li><a href="">Branding</a></li>
                <li><a href="">Web</a></li>
                <li><a href="">Photography</a></li>
                <li><a href="">App</a></li>
                <li><img src="img/buscar.png" alt=""></li>
            </ul>
        </nav>
    </header>

    <div class="wrapper">

        <main>
            <section>
                <h2>EXPLORER BEYOND HORIZON</h2>
                <p>magna mundi referrentur quo, no rebum dignissim qui.<br>per qoudsi accusata id, agam labores.</p>
                <button>VIEW OUR WORK</button>
            </section>
        </main>

        <section class="icons">
            <img src="img/buscar.png" alt="">
            <img src="img/VSO.png" alt="">
        </section>

        <section class="menu">
            <nav>
                <ul>
                    <li><a href="">All</a></li>
                    <li><a href="">Branding</a></li>
                    <li><a href="">Web</a></li>
                    <li><a href="">Photography</a></li>
                    <li><a href="">App</a></li>
                    <li><a href="">icono</a></li>
                </ul>
            </nav>
        </section>

        <section class="container">
            <div class="grid">
                <img src="../../../img/piper.jpeg" alt="">
                <img src="../../../img/particles.PNG" alt="">
                <img src="../../../img/year.jpg" alt="">
                <img src="../../../img/bird.jpeg" alt="">
                <img src="../../../img/port.jpg" alt="">
                <img src="../../../img/tr.png" alt="">
                <img src="../../../img/yo2.jpg" alt="">
            </div>
                <button>Show Me More</button>
        </section>
    </div>
        
        

    </div>


    <footer>
        <h3>icono 2016 -<strong>Sneak</strong> All Right Reserved</h3>
        <p>iconos</p>
    </footer>

    <script type="text/javascript" src="js/javascript.js"></script>
</body>
</html>