<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="shorcut icon" href="../../img/n.PNG">
    <link rel="stylesheet" href="css/portfolio.css">
</head>
<body>
    <main>
        <section>
            
            <div id="up">
                <h2>Hello</h2>
                <h3>welcome to my portfolio</h3>
                <cite>this page is currently in develop</cite>
            </div>
            <div>
                <img src="../../img/yo2.jpg" alt="">
                <h3>i'm Jimmy Yahir Gutierrez</h3>
                <h4><i>im developer</i></h4>
            </div>
            <div class="up">
                <a href="#up">
                    <svg width="50" height="50" viewBox="0 0 200 200" fill="peru"
                    style="background: black;border-radius: 100%;">
                    <polygon fill="gray"
                    points="40 120 100,70 160 120, 100 70"
                    stroke-width="20" stroke="skyblue" />
                    </svg>
                </a>
            </div>
        </section>


        <section>
            <div>
                <img src="../../img/error2.PNG" alt="">
                
                    <p>I'm a developer and i want to show you what can i do!</p>
                    <input type="submit" value="Hoja de vida">
                
            </div>
        </section>

    </main>
</body>
</html>