<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="shorcut icon" href="../../img/n.PNG">
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" href="css/portfolio.css">
</head>
<body>
    <main>
        <section>
            <div id="particles-js">
                <div id="up">
                    <h2>Welcome</h2>
                <h3>Hi, this is my portfolio</h3>
                <cite>this page is currently in develop</cite>
                </div>
            </div>
            <div>
                <img src="../../img/yo2.jpg" alt="">
                <h3>I'm Jimmy Yahir Gutierrez</h3>
                <h4><i>im developer</i></h4>
            </div>
            <div class="down">
                <a href="#down">
                    <svg width="50" height="50" viewBox="0 0 200 200" fill="peru"
                    style="background: black;border-radius: 100%;">
                    <polygon fill="gray"
                    points="40 70 100,140 160 70, 100 140"
                    stroke-width="20" stroke="skyblue" />
                    </svg>
                </a>
            </div>
        </section>


        <section>
            <div>
                <img src="../../img/error2.PNG" alt="">
                
                    <p>I'm a developer and i want to show you what can i do!</p>
                    <input type="submit" value="Hoja de vida">
                
            </div>
        </section>

    </main>






    <script>
        var count_particles, stats, update;
        stats = new Stats;
        stats.setMode(0);
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.left = '0px';
        stats.domElement.style.top = '0px';
        document.body.appendChild(stats.domElement);
        count_particles = document.querySelector('.js-count-particles');
        update = function() {
          stats.begin();
          stats.end();
          if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
            count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
          }
          requestAnimationFrame(update);
        };
        requestAnimationFrame(update);
      </script>
      <script src="particles.js"></script>
      <script src="js/app.js"></script>
</body>
</html>