<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="shorcut icon" href="../../img/n.PNG">
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link rel="stylesheet" href="css/portfolio.css">
</head>
<body>
    <main>
        <section>
            <div id="particles-js">
                <div id="up">
                    <h2>Welcome</h2>
                <h3>Hi, this is my portfolio</h3>
                <cite>this page is currently in develop</cite>
                </div>
            </div>
            <div>
                <img src="../../img/yo2.jpg" alt="">
                <h3>I'm Jimmy Yahir Gutierrez</h3>

            </div>
        </section>


        <section>
            <div class="div">
                <img src="../../img/code.png" alt="">
                
                <div>
                    <h2>Description</h2>
                    <p>I'm a developer and i want to show you what can i do!</p>
                    <a href="../hojaVida/hojaVida.html">Sheet of live(HV)</a>
                </div>                
            </div>
        </section>

        <section>
            <h2>Proyects</h2>
            <div>
                <a href="../php/index.php">Api Wheader</a>
                <a href="../Lol/lol.html">Api Search Image</a>
                <a href="../properties/properties.html">Properties</a>
                <a href="../parallax/parallax.html">Parallax</a>
                <a href="../">Old ceries</a>
                <a href="../">Api animes</a>
                <a href="../">Burger Menu</a>
                <a href="../">E-comerce</a>
                <a href="../">parqueadero en laravel</a>
                <a href="../">estadistica grafico cirular de barras etc</a>
            </div>                
            <div class="preview" id="preview">
                <img src="../../img/flowers.jpg" alt="">
            </div>
        </section>

    
        <section>
            <h2>Examples</h2>
            <div>
                <a href="../carousel/index.html">Carousel</a>
                <a href="../information/information.html">Information</a>
                <a href="../canvas/canvas.html">Cambas analogic Reloj Firma</a>
                <a href="../pruebas/">Pruebas CSS</a>
                <a href="../calendar/calendar.html">Calendario</a>
                <a href="../reloj/reloj.html">Digital Reloj</a>
                <a href="../pruebas/pruebasSVG.html">SVG</a>
                <a href="../pseudoElemento/pseudoElemento.html">etc...</a>
            </div>                
            <div class="preview" id="preview">
                <img src="../../img/flowers.jpg" alt="">
            </div>
        </section>

        <section>
            <h2>Skills</h2>
            <div>
                <a href="../">HTML5</a>
                <a href="../">CSS3</a>
                <a href="../">SASS</a>
                <a href="../">BOOTSTRAP</a>
                <a href="../">JAVASCRIPT</a>
                <a href="../">ANGULAR</a>
                <a href="../">MYSQL</a>
                <a href="../">SCRUM</a>
                <a href="../">MVC</a>
                <a href="../">SQL SERVER</a>
                <a href="../">PHP</a>
                <a href="../">LARAVEL</a>
                <a href="../">WORDPRESS</a>
                <a href="../">ASP .NET</a>
            </div>                
            <div class="preview" id="preview">
                <img src="../../img/flowers.jpg" alt="">
            </div>
        </section>

        <section>
            <h2>Contact</h2>
            <div>
                <form action="" method="POST">
                    <label for="user">User<input type="text"></label>
                    <label for="user">User<input type="text"></label>
                    <label for="user">User<input type="text"></label>
                    <input type="submit" value="Enviar">
                </form>
            </div>                
            <div class="preview" id="preview">
                <!-- <img src="../../img/flowers.jpg" alt=""> -->
            </div>
        </section>
    
    
    
    
    
    
    
    
    
    
    
    </main>

    <script>
        var count_particles, stats, update;
        stats = new Stats;
        stats.setMode(0);
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.left = '0px';
        stats.domElement.style.top = '0px';
        document.body.appendChild(stats.domElement);
        count_particles = document.querySelector('.js-count-particles');
        update = function() {
          stats.begin();
          stats.end();
          if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
            count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
          }
          requestAnimationFrame(update);
        };
        requestAnimationFrame(update);
      </script>
      <script src="particles.js"></script>
      <script src="js/app.js"></script>
</body>
</html>