<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/birthday.css">
    <title>Birthday</title>
</head>
<body>
    <main>
        <h2>2023</h2>
        <section>
            <div class="dates">
                <p>16 de junio mom = 47 2023</p>
                <p>3 de octubre sara = 10 2023</p>
                <p>4 de febrero ktha = 26 2023</p>
                <p>5 de mayo dad = 49 2023</p>
                <p>16 de mayo jorge = 47 2023</p>
                <p>2 de abril Ximena = 15 2023</p>
                <p>1 de junio tio raul = 50 2023</p>
                <p>11 de julio nancy = ?</p>
                <p>26 de agosto valentina = 19?</p>
                <p>16 de julio = maria 89</p>
                <p>30 de Marzo Milena = 30 2023</p>
                <p>20 de Julio maribel = 32 2023</p>
                <p>21 Mayo nixon = 29 2023</p>
                <p>21 Mayo nixon = 29 2023</p>
                <p>21 de diciembre Wendy = 25 2023</p> 
                <hr>
                <p> Aries: del 21 de marzo al 19 de abril</p>
                <p> Tauro: del 20 de abril al 20 de mayo</p>
                <p> Géminis: del 21 de mayo al 20 de junio</p>
                <p> Cáncer: del 21 de junio al 22 de julio</p>
                <p> Leo: del 23 de julio al 22 de agosto</p>
                <p> Virgo: del 23 de agosto al 22 de septiembre</p>
                <p> Libra: del 23 de septiembre al 22 de octubre</p>
                <p> Escorpio: del 23 de octubre al 21 de noviembre</p>
                <p> Sagitario: del 22 de noviembre al 21 de diciembre</p>
                <p> Capricornio: del 22 de diciembre al 19 de enero</p>
                <p> Acuario: del 20 de enero al 18 de febrero</p>
                <p> Piscis: del 19 de febrero al 20 de marzo</p>
                <hr>
                <p> Signos de Fuego: Aries, Leo y Sagitario.</p>
                <p> Signos de Tierra: Tauro, Virgo y Capricornio.</p>
                <p> Signos de Aire: Géminis, Libra y Acuario.</p>
                <p> Signos de Agua: Cáncer, Escorpio y Piscis.</p>
            </div>
            
            <div class="year">
                <h2>Year percent</h2>
                <div class="percent" id="percent"></div>
            </div>
        </section>
    </main>

<script type="text/javascript" src="js/birthday.js"></script>
</body>
</html>