*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top,white,skyblue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #555555;
}

main{
    background: rgba(0,0,0,0.2);
    /* padding: 20px; */
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(30px);
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 5vh;
    z-index: 10;
}

/* main::before{
    content: '';
    background: rgba(0,0,0,0.2);
    padding: 10vh;
    top: 10vh;
    left: 120px;
    z-index: 9;
    position: absolute;
}

main::after{
    content: '';
    background: rgba(0,0,0,0.2);
    padding: 10vh;
    top: 10vh;
    left: 100vh;
    z-index: 8;
    position: absolute;
} */

section{
    background: dodgerblue;
    display: inline-block;
    overflow: hidden;
    /* padding: 10px; */
    margin: 10px;
    /* width: 30%; */
    border-radius: 3px;
    box-shadow: 3px 3px 7px #cdcdcd;
}

/* ---------------- */

.hero{
    background: skyblue;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
}

.foto{
    /* background: teal; */
    /* padding: 10px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.info{
    background: white;
    /* padding: 10px; */
    width: 100%;
}

/* ----------------- */

.foto img{
    width: 15rem;
    height: 17rem;
    /* border-radius: 50%; */
}

.info h3,.info .voto{
    display: block;
}

.info b{
    color: tomato;
}

.info img{
    width: 50px;
    height: 50px;
}










@media(max-width:750px){
    main{
        background: red;
        padding: 20px;
        width: 100% !important;
    }

    section, .hero,main{
        padding: 0;
        width:100%;
    }
}


/* ---------------------------- */

@media(max-width:600px){
    .hero{
        flex-direction: column;
    }
    .foto, .info{
        display: flex;
        justify-content: center;
    }


    .info{
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}