work
<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-junior-bogota-en-bogota-dc-12CBA7220C479D4461373E686DCF3405 -->

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-frontend-junior-programador-web-sistemas-developer-software-profesionales-en-bogota-dc-9639296959121BFD61373E686DCF3405 -->

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-si-tienes-un-nivel-de-ingles-b2-y-vives-en-la-ciudad-de-bogota-esta-es-tu-oportunidad-de-empleo-medio-tiempo-bn-en-bogota-dc-975B3529AC87AF8161373E686DCF3405 -->

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-junior-en-medellin-EC14C9E22E37AE6461373E686DCF3405 -->

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-aspnet-webformas-mvc-netcore-en-bogota-dc-C9E399F42DDFDF8761373E686DCF3405 -->

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-front-end-en-apartado-B9A9BE063E06263461373E686DCF3405 -->


<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-front-end-en-cali-8424889E2940623E61373E686DCF3405 -->


clave 2000 s a (nop)
///////////////////

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-net-junior-en-bogota-dc-21C61B917858671761373E686DCF3405 -->

control box corp(nop)
<!-- /////////////////// -->

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-fronted-javascriptangular-en-colombia-AE2EBC9C2E6D218361373E686DCF3405
<!--  -->
bits Americas
///////////////////

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-front-end-1-ano-de-experiencia-en-medellin-F0B41682625CB78661373E686DCF3405

movilbox
///////////////////

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-frontend-junior-programador-web-sistemas-developer-software-profesionales-en-bogota-dc-9639296959121BFD61373E686DCF3405 -->

MANPOWER PROFESSIONAL LTDA
-------------------------------------------------------------------

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-programador-web-en-bogota-dc-2CC326217182092161373E686DCF3405 -->

<!-- aplicar con conocimiento de js si o si -->
<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-zoho-en-bogota-dc-D602911F9BED466761373E686DCF3405 -->

<!-- aplicar cuando tenga claro node js -->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-dia-en-medellin-F3C320402E09BF3C61373E686DCF3405

<!-- 8.000.000 ingles 2anos de experiencia .net -->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-net-en-bogota-dc-EDFB26EFF9296B6C61373E686DCF3405  <!--8 millones-->

<!--  -->
<!-- aplicando actualmente -->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-medellin-en-medellin-5F8C5FAE75C41FC961373E686DCF3405

<!--  -->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-junior-1-ano-de-experiencia-en-desarrollo-en-bogota-dc-D4864C057BB4977F61373E686DCF3405
<!--  -->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-en-armenia-2E56474AC80E920D61373E686DCF3405


https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-junior-net-en-medellin-9DFC71F7D070FD6161373E686DCF3405 <!--ahh no creo-->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-trabajo-remoto-en-bogota-dc-D0F3A3C4D82223B961373E686DCF3405 <!--ahh no creo-->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-junior-aplicaciones-y-net-en-cota-E4756B59D5A60C6661373E686DCF3405 <!--ahh no creo-->
<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-en-barranquilla-33B1128A1412057E61373E686DCF3405 -->

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-mysql-php-java-scrip-en-bogota-dc-AB9958F7EF2A43B361373E686DCF3405
<!--  -->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-floridablanca-en-floridablanca-8333CF0C58CD09E061373E686DCF3405<!--ahh no creo-->

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-frontend-ecommerce-en-bogota-dc-D86A6967E576A04261373E686DCF3405  jquery, maquetacion con photoshop

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-front-junior-angular-y-node-js-en-bogota-dc-EA81E401A1776ABA61373E686DCF3405 -->

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-de-sofware-en-cota-C8FE26CE265EBB2F61373E686DCF3405
<!--  -->
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-web-bogota-en-bogota-dc-C1B109696668816A61373E686DCF3405?utm_source=Email&utm_campaign=auto_cand_alertacargosdiaria&utm_medium=title3_cycle1_d2021031206_notag&fgoa=True
<!--  -->
<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-programador-de-software-junior-teletrabajo-en-bogota-dc-B8C609C8A9410ADB61373E686DCF3405 -->

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-front-end-en-bogota-dc-289293AA63B32A1A61373E686DCF3405
https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-junior-tecnologo-en-sistemas-en-medellin-F40A715110F3377E61373E686DCF3405


https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-junior-tecnologo-en-sistemas-en-medellin-F40A715110F3377E61373E686DCF3405


https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrolladora-senior-en-bogota-dc-8CD3EE4E2965617C61373E686DCF3405
<!--  -->
<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-java-junior-en-bogota-dc-7521DF5A6B0CFF4E61373E686DCF3405 -->

https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-ingeniero-junior-desarrollador-de-software-en-bogota-dc-F7938100EC17D19B61373E686DCF3405
parece idae

<!-- https://www.computrabajo.com.co/ofertas-de-trabajo/oferta-de-trabajo-de-desarrollador-fullstack-para-la-ciudad-de-cali-en-cali-96537E26B6B3CEE161373E686DCF3405 -->

