<!DOCTYPE html>
<html lang="en">
	<head>
		<!--https://sweetalert.js.org/guides/-->
		<script class="https://unpkg.com/sweetalert/dist/sweetalert.min.js" src="js/sweetAlerts.js"></script>
		<!--https://sweetalert2.github.io/-->
		
		<!--para esta pagina solo se usara el 2 o sea este jeje-->
		<script class="https://cdn.jsdelivr.net/npm/sweetalert2@10" src="js/sweetAlertsTwo.js"></script>

		<!--agregamos jquery para poder cambiar el fondo-->
		<script type="text/js" src="../jquery/jquery.js"></script>

		<meta charset="utf-8">
		<link rel="stylesheet" href="css/alert.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Alerts</title>
	</head>
<body>
	<main>
		<section>

			<button type="submit"><a href="../components.html">Back</a></button>
			<button type="submit"><a href="../../page.html">Home</a></button>
		</section>
		<section>

			<div class="content">
				
				
				<h2>Alerts</h2>
				<br>
				<input type="submit" value="view image" onclick="loadImagen()"><br>
				<input type="submit" value="load page" onclick="loadPage()"><br>
			<input type="submit" value="load color" onclick="loadColor()"><br>
			<input type="submit" id="cambio" name="cambio" value="change color" onclick="changeColor()"><br>
			
			
		</div>
	</section>
	</main>

	<!--agregamos el archivo donde estaran los js de las funciones a utilizar-->
	<script src="js/sweetAlertsAdd.js"></script>
</body>
</html>
