<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shorcut icon" href="../../img/n.PNG">
    <link rel="stylesheet" href="css/tematics.css">
</head>
<body>
	
	<header>
        <nav>
            <img src="../../img/examples/parallax.PNG" alt="">
            <ul>
                <li><a href="../portfolio/new.html">Back</a></li>
                <li><a href="../../page.html">Menu</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h2>Tematics</h2>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eius suscipit explicabo, fugit similique laborum fugiat, voluptate quis sint tempore, hic accusamus illum facilis fuga cupiditate nobis unde? Laudantium rerum facilis perferendis nam, quae architecto! Laborum, totam animi. Repellendus eligendi maiores maxime. Eum modi officia ab saepe excepturi sunt atque sed eveniet nulla corrupti fugit, eligendi id doloremque dolorem illum tempore laboriosam vero voluptatibus assumenda. Molestias, repudiandae temporibus cumque tempora quas praesentium necessitatibus consequatur explicabo hic iste nulla quod, commodi esse odit repellendus. Quisquam perferendis eaque deserunt quibusdam, aliquam fuga similique autem quasi quos cum quod eius odio obcaecati!</p>
                <!-- <p> -crear la pagina donde me muestre imajenes en las que al realizar hover
                    se desplege la informacion
                
                    -Colombia Joya Natural
                    -tienda
                    -hotel	
                    lugares exoticos
                
                    -pagina para la iglesia en ubate
                
                    canal comunitario de ubate tv
                
                    imagen de precentacion micky en blanco y negro
                    -ceries antiguas como el branndy y el sr bigotes
                        -danny phanton
                        -kimposible
                        -billy mandy
                        -los chicos del barrio
                        -futboll callejero
                        -doraemon
                        -Heidi(abuelito dime tu)
                        -pokemon
                        -chicas superpoderosas
                        -chicas super poderosas mejor animacion
                        -plaza cesamo
                        -la abeja maya
                        -jorge de la jungla(antigua)
                        -las locuras del emperador cuzco
                        -ben 10
                        -el perro cobarde
                        -jimmy neutron
                        -la casa de monstrulos
                        -rugarts
                        -dinosaurios
                        -los sustitutos
                        -kid vs kat
                        -jony bravo
                        -dexter
                        -edd edd y edy
                        -recreo
                        -lilo y stich
                        -happy three friends
                        -nino dragon
                        -vacas vaqueras
                        -los titanes(version antigua)
                        -pato aventuras
                        -mansion foster
                        -robot boy
                        -popeye marino(old)
                        -betty boop
                        -chowder
                        -shaun el cordero
                        -wallace y gromit
                        -winnie pooh (old) mis amigos tiger y pooh
                        -manny a la obra
                        -jake long: el dragon occidental
                        -la casa de los dibujos
                        -las chicas superpoderosas z
                        -el gato felix
                            el gato felix silvando</p> -->
            </div>
        </section>
    </main>
</body>
</html>