/*-----------------------------------*/
/*--------agregamosVariables---------*/
/*-----------------------------------*/
:root{
	--color2:black;
	--color3:lightblue;
}
*{
	margin: 0; 
	padding: 0; 
}
body{
	background: var(--color3);
}

header{
	background: var(--color2);
}
.nav{
	background:lightslategray;
	width: 50%;
	margin: auto;
	padding: 20px;

}
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */
/* ------------------------------------ */

.nav ul{
	list-style: none;
	width: 100%;
}
.nav ul li a{
	text-decoration: none;
	color: white;
}

.nav ul li{
	display: inline-block;
	position: relative;
	background:mediumaquamarine;
}
.nav ul ul{
	left: 0%;
}

.nav ul li:hover ul{
	display: block !important;
}
.nav ul li:hover{
	background: lightsteelblue;
}
.nav ul ul li{
	background-color: teal;
}

.nav ul ul{
	/* display: none; */
	position: absolute;
	width: 100%;
	padding: 10px;
}


/* -------------- */

.nav ul ul ul{
	top:0;
	left: 100%;
}

