/*-----------------------------------*/
/*--------agregamosVariables---------*/
/*-----------------------------------*/

:root{
	--color1:crimson;
	--color2:teal;
	--color3:black;
	--color4:gray;
	--color5:#ee7e57;
	--color6:#80c7c7;
}

*{margin: 0; padding: 0; }
/*   para comentar es ctrl + /           */
body{
	background: var(--color6);
}

header{background: var(--color2);padding: 70px 10px;margin: auto;}

/* -------------------- */
ul{
	background: magenta;
}

.nav-area{
	background: var(--color3);
	padding: 10px;
}
/*----------------------*/

.nav-area::after{
	content: '';
	clear: both;
	display: block;
}

.nav-area ul {
	list-style: none;
}
.nav-area ul li{
	display: inline-block;
	position: relative;
}
/* ------------- */
/* primera linea */
/* ------------- */


.nav-area ul li:hover ul{
	display: block !important;
}
.nav-area ul li{
	background: gray;
}
.nav-area ul li a:hover{
	background: red;
}

/* ------------- */
/* segunda linea */
/* ------------- */

.nav-area ul ul{
	position: absolute;
	/* display: none; */
	padding: 0;
	top: 100%;
	left: 0;
}
.nav-area ul ul li:hover li{
	display: block !important;
}
.nav-area ul ul li{
	background:lightcoral;
}
.nav-area ul ul li:hover{
	background: crimson;
}
/* --------------------------------- */
/* ------------- */
/* tercera linea */
/* ------------- */
.nav-area ul ul ul li{
	position: relative;
	/* display: none !important; */
}
.nav-area ul ul ul{
	top: 0;
	left: 100%;
}

.nav-area ul ul ul li:hover li{
	display: block !important;
}
.nav-area ul ul ul li{
	background: orange;
}
.nav-area ul ul ul ul:hover{
	background: magenta;
}
/* ------------- */
/* cuarta linea */
/* ------------- */

.nav-area ul ul ul ul{
	/* display: none !important; */
	
}
.nav-area ul ul ul ul{
	top: 0;
	left: 100%;
}
.nav-area ul ul ul ul{
	background: yellow;
	color: black;
}
.nav-area ul ul ul ul li:hover a{
	background: blue;
}











