*{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: Merge;
	src: url(../../../../font/merge_light.otf);
}
body{
	background: #f1f1f1;
	font-family: Merge,serif;
	font-weight: lighter !important;
	letter-spacing: 1px;
	font-size: 25px;
}

header{
	background: #252555;
	display: flex;
	padding: 0px 20px;
	text-align: center;
	justify-content: space-evenly;

}
a{
	display: inline-block;
	margin: 7px;
	border-radius: 1px;
}
header h2{
	color: white;
	padding: 10px;
}
header a{
	text-decoration: none;
	background: rgb(44,69,270);
	padding: 10px;
	color:white;
	transition-duration: 1s;
}
header a:hover{
	background: #252555;
}

main{
	border-top: 20px solid dodgerblue;
	background:#ffffff;
	box-shadow: 0px 0px 3px gray;
	margin: auto;
	width: 70%;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.personalInformation{
	border-top: 20px solid dodgerblue;
	border-bottom: 70px solid dodgerblue;
	padding: 0vh 2vw;
	background:dodgerblue;
	color:white;
	width: 30%;
}

.personalInformation div a{
	color: blue !important;
}

.personalInformation div h5{
	white-space: normal;
	Word-wrap: break-Word;
}

.personalInformation img{
	width: 20vw;
	height: 34vh;
	border-radius: 50%;
	margin-bottom: 10vh;
	margin-left: 1vw;
}

.generalInformation{
	padding: 40px;
}

.generalInformation div h5{
	white-space: normal;
	Word-wrap: break-Word;
}

footer{
	margin-top: 70px;
	background: #252555;
	padding: 20px 60px;
	color: white;
}

@media(max-width:1200px){
	body{
		font-size: 16px;
	}
}

@media(max-width:1000px){
	main{
		width: 100% !important;
	}
}

@media(max-width:700px){
	main{
		display: block;
		width: 100%;
	}
	.generalInformation, .personalInformation{
		display: block;
		width: 93%;
		text-align: left !important;
		padding: 20px;
	}
	h2{
		font-size: 20px;
	}
}
@media(max-width:400px){
	.generalInformation, .personalInformation{
		padding: 0px !important;
		width: 100%;
	}
}
