<!DOCTYPE html>

<html lang="en">

	<head>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/menu.css">

		<title>menu</title>
	</head>
		
	<body>
			<header>
				<nav class="nav">
						<div class="logo">
							<img src="../../img/flowers.jpg" alt="logo">
						</div>
						<ul>
							<li><a href="../index.html">Back</a></li>
							<li><a href="../../page.html">Menu</a></li>
							<li><a href="">SubMenu&nbsp;&#9660;</a>
								<ul>
									<li><a href="#">categoria1</a></li>
									<li><a href="#">categoria2</a></li>
									<li><a href="#">SubMenu&nbsp;&#9658;</a>
										<ul>
											<li><a href="#">SubCategoria3</a></li>
											<li><a href="#">SubCategoria3</a></li>
											<li><a href="#">SubCategoria3&nbsp;&#9658;</a>
											<ul>
												<li><a href="#">SubCategoria4</a></li>
												<li><a href="#">SubCategoria4</a></li>
												<li><a href="#">SubCategoria4</a></li>
											</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#">other</a></li>
						</ul>
					</nav>
			</header>
	</body>	
</html>


