<!DOCTYPE html>

<html lang="en">

	<head>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/menu.css">

		<title>menu</title>
	</head>
		
	<body>
			<header>
					<nav class="nav">
						<ul>
							<li><a href="../components.html">Back</a></li>
							<li><a href="../../page.html">Menu</a></li>
							<li><a href="">SubMenu</a>
								<ul>
									<li><a href="#">categoria1</a></li>
									<li><a href="#">categoria2</a></li>
									<li><a href="#">SubMenuCategoria&nbsp;&#9658;</a>
										<ul>
											<li><a href="#">SubCategoria1</a></li>
											<li><a href="#">SubCategoria2</a></li>
										</ul>
									</li>
								</ul>
								<li><a href="#">K.O</a></li>
							</li>
						</ul>
					</nav>
			</header>
	</body>	
</html>


