*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: Merge ;
    src: url("../../../font/merge_light.otf");
}
body{
    background: #f1f1f1;
    font-family: Merge;
}
main{
    background:white;
    padding:20px 20px;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    border:2px solid #e9e9e9;
    border-radius:3px;
    box-shadow: 3px 3px 1px 1px gray;
}

section{
    padding: 7px;
    font-family:Merge, serif;
    color: white;
    display: flex;
    background:#a7b7c7;
    justify-content: space-around;
    margin-bottom: 40px;
}
a{
    text-decoration: none;
    background: crimson;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    padding: 10px;
    width: 70px;
    color: white;
}
a:hover{
    background: tomato;
}

h2,p{
    color: #ee7e57;
    border-radius: 3px;
    text-shadow:1px 1px 1px black,
    1px 1px 1px skyblue;
}
h2::selection{
    background: black;
}
h2:hover::before{
    background: black;
    content: '!?';
    padding: 2px 7px;
    color: white;
    font-size: 30px;
    position: absolute;
    margin: -50px 0px 0px 30px;
    transition: margin-left 5s ease 5s;

}
h2::after{
    
}

p{ 
    width: 20%;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.container{
    background: tomato;
    padding: 7px;
    width: 99%;
}
.transition{
    border:3px solid white;

    /* background: teal; */

    display: block;
    padding: 20px;
    width: 10px;

    transition-property: border-radius,transform;
    transition-duration: 7s;
    
    /* border-radius:50%; */
    transform: translate(1250px);
    transform: rotate3d(300);
}
/* ----------------------- */
.color1{background:purple;}
.color2{background:indigo;}
.color3{background:skyblue;}
.color4{background:crimson;}
.color5{background:tomato;}
.color6{background:orange;}
.color7{background:darkorange;}
.color8{background:magenta;}
.color9{background:lime;}
.color10{background:lightseagreen;}
.color11{background:teal;}


.color11{background:#eaf0f6}
.color12{background:#2fdbb6;}
.color13{background:#1da88a;}
.color14{background:#ee7e57}
.color15{background:#80a8ff;}
.color16{background:#c792ea;}
.color17{background:#7e7e7e;}
.color18{background:#2d3e50;}
.color19{background:#1f1f1f}

.color20{background:#1277;}

.color21{background:rgba(0,188,241)}
.color22{background:rgba(0,188,124)}
.color23{background:rgb(66, 91, 118);}
.color24{background:rgba(29,59,83,.99);}
.color25{background:linear-gradient(45deg,#00a4bd,#00bda5);}
.color26{background:linear-gradient(to right,#1277,#005594,black,salmon);}




