*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
}

section{
    background: #1277;
    padding: 20px 70px;
}

.links{
    background: black;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.links h2{
    color: white;
}

p{
    background: indigo;
    color: white;
}
a{
    text-decoration: none;
    background: crimson;
    color: white;
    width: 70px;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}
a:hover{
    background:red;

}

.decoration1 {
    text-decoration: overline;
  }
  
.decoration2 {
    text-decoration: line-through;
  }
  
.decoration3 {
    text-decoration: underline;
  }

.decoration4 {
    text-decoration: underline overline;
  }