<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/login.css">
	<title>Login</title>
</head>

<body>
	<main>
		<section>
			<div class="login">
				<form action="validar.php" method="post">
				 <label for="usuario">usuario<input autofocus type="text" id="usuario" name="usuario"></label>
				 <label for="clave">clave<input type="password" id="clave" name="clave"></label>
				 <input type="submit" id="go" name="go" value="GO!">
				</form>
			</div>
		</section>
	</main>
</body>
</html>