<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/information.css">
    <title>information</title>
</head>
<body>
    <main>
        <section class="links" id="links">
            <a href="../index.html">Back</a>
            <a href="../../page.html">Menu</a>
        </section>
        <!-- /////////////////// -->
        <section class="section1">
            <div class="img1">
                <table>
                    <tr>
                        <td>
                            <img src="../../img/information/link.jpg" alt="" width="100%">
                        </td>

                        <td>
                            <h2>LINK</h2>
                            <hr>
                            
                            <ul>
                                <li>text 1</li>
                                <li>text 2</li>
                                <li>text 3
                                    <ul>
                                        <li>text 4</li>
                                        <li>texto tipo target</li>
                                    </ul>
                                </li>
                                
                            </ul>
                        </td>

                    </tr>
                </table>
            </div>

            <div class="img2">
                <table>
                    <tr>
                        <td>
                            <h2>JS</h2>
                            <p>js (motor de js)(machine code)(edge chakra)(firefox spdiermonkey)(chrome v8) interactivo</p>
                        </td>
                        <td>
                            <img src="../../img/information/js.png" alt="" width="100%">
                        </td>
                    </tr>
                </table>
            </div>

            <div class="img3">
                <table>
                    <tr>
                        <td>
                            <img src="../../img/information/node-js.svg" alt="" width="100%">
                        </td>
                    </tr>
                    <tr class="tr-bot">
                        <td>
                            <h2>NODE JS</h2>
                            <p>node js(es para ejecucion de js fuera de lso navegadores y sus interpretadores)(se tomo del v8)
                                
                                -entorno de ejecucion para js
                                -ayuda en la creacion de api
                                -esta pendiente de la cola de eventos esperando al realizar una peticion al servidor o base de datos
                                -no usar para calculos</p>
                        </td>
                    </tr>
                </table>
            </div>
            
        </section>
        <!-- /////////////////// -->
        <section class="section2">
            <div class="img4">
                <div>
                    <hr>
                    <h2>AJAX</h2>
                    <h5>js puro</h5>
                    <hr>
                    <p>ajax(sin jqueri)(javascript puro)</p>
                    <svg>
                        <path stroke="#252525" stroke-width="27" stroke-linecap="butt" stroke-dasharray="6" d="M1 27 l177 0"></path>
                    </svg>    
                </div>
            </div>
            
            <div class="img5">
                <h6></h6>
                <img src="../../img/flowers.jpg" alt="" width="100%">
                <h2>NORMALIZACION</h2>
                <p>normalizacion de base datos
                normalziar(simplificacion de los datos)
                para que(menor espacio)
                eliminar redundancia
                no debe haber perdida de informacion</p>

            </div>
   
            <div class="img6">
                <img src="../../img/cup.jpg" alt="" width="100%">
                <h2>1FN</h2>
                <p>1fn(primera forma normal) se elimina la redundancia de los datos evitando datos inecesarios sobre una misma tabla</p>

            </div>
            
        </section>
        <!-- /////////////////// -->
        <section class="section3">
            <div>
                <figure>
                    <img src="../../img/flowers.jpg" alt="" width="100%" height="100%">
                    
                    <div class="capa">
                        <h2>2FN</h2>
                        <p>2fn(segunda forma normal)(dependencias funcionales y dependencias transitivas)(identificamos las llaves primarias y foranes)(si es el caso dividimos la tabla en dos tablas relacionadas)
                            llaves primarias
                            llaves foraneas</p>
                        </div>
                    </figure>
            </div>
            
            <div>
                <figure>
                    <img src="../../img/flowers.jpg" alt="" width="100%" height="100%">
                    <div class="capa">
                        <h2>3FN</h2>
                        <p>3fn(revision de las dependencias en todas las tablas)(reducion de espacio)(ya estaria normalziada)</p>
                    </div>
                </figure>
            </div>
                
            <div>
                <figure>
                    <img src="../../img/flowers.jpg" alt="" width="100%" height="100%">
                    <div class="capa">
                        <h2>BCNF</h2>
                        <p>forma normal(boyce codd)</p>            
                    </div>
                </figure>
            </div>
        </section>
        <!-- /////////////////// -->
        <section class="container1">
            <div class="container">
                <div class="cara cara1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="cara cara2">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="texto">
                        <h2>1FN</h2>
                        <p>4fn (forma esxtendida) datos demaciado generales por ejemplo pedir solo el telefono pero no indicar si es personal de la casa o de la empresa agregar estos sub elementos en las tablas correspondientes</p>
                    </div>
                </div>
            </div>
            
            <div class="container">
                <div class="cara cara1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="cara cara2">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="texto">
                        <h2>1FN</h2>
                        <p>5fn</p>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="cara cara1">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="cara cara2">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="texto">
                        <h2>1FN</h2>
                        <p>check y like en sql server (para restricciones de insercion)</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- /////////////////// -->
        <section class="section5">
            <div class="glass">

                <div>
                    <h2>tener en cuenta</h2>
                    <p>siempre se deben dar mayor cantidad de campos necesarios al usuario en formularios si es el caso para evitar que se equivoque</p>
                </div>
    
                <div>
                    <p>agregar tablas de tipos de insercion por ejemplo una nueva carrera</p>
                </div>
    
                <div>
                    <p>validar los cambios masivos de un campo en especifico segun varios parametros de varias tablas</p>
                </div>
                
            </div>

        </section>
        <!-- /////////////////// -->
        <section class="section6">
            <div>
                <h2>modelo relacional</h2>
                <p>base de datos relacionales</p>
            </div>
            
            <div>
                <h2>MODELO DIMENCIONAL</h2>
                <P>presenta informacion estandar
                    consultas analiticas
                    buenos tiempos de respuesta
                
                    realzia distincion entre relaciones
                    tablas de hecho y de dimencion
                    modelo de  estrella y modelo de nieve
                    tabla de hechos (medidas clave)(numericas)(solo campos de otras tablas como foranes etc)
                    tabla de dimenciones(dimenciones de la empresa)(no normalizadas)(datos iniciales y secundatios)</P>
            </div>

            <div>
                <h2>MODELO MULTIDIMENCIONAL</h2>
                <p>desarrollo de aplicaciones concretas
                    cubos olap(estructura de datos que supera los limites de las base de datos relacionales)
                    estructura basica es un hipercubo
                    conformado por matrices
                        compuesto por:
                            tiempo
                            punto
                            modulo
                
                    de grandes volumenes de informacion se puede traer informacion en menor tiempo
                
                    uso:
                        aplicaciones  olap
                        grandes volumenes de informacion
                        marketing 
                        ventas etc</p>
            </div>
        </section>
        <!-- /////////////////// -->
        <section class="section7">
            <div>
                <h2>VUE o VUE JS</h2>
                <p></p>
            </div>

            <div>
                <h2>REACT</h2>
                <p></p>
            </div>

            <div>
                <h2>ANGULAR AND ANGULAR JS</h2>
                <p></p>
            </div>
        </section>
        <!-- /////////////////// -->
        <section class="section8">
            <div>
                <h2>ANIMATION VS TRANSITION</h2>
                <p>animation 

                    infinito
                    como para preview
                    pero interactividad con transition
                   
                   transition
                   
                   es necesario activar
                   no es bucle solo funciona la realizar una acitivacion</p>
            </div>

            <div>
                <h2></h2>
                <p>
                    https://github.com/akveo/ngx-admin repositorio de temas estadisticos para leguages https://www.akveo.com/ngx-admin/themes


https://www.microsoft.com/en-us/p/windows-terminal/9n0dx20hk701?activetab=pivot:overviewtab terminal para windows

https://es.wikipedia.org/wiki/DBeaver
https://es.wikipedia.org/wiki/H2_(DBMS)

hibernate

https://gitpod.io/login git pod para ver otros repositorios

https://www.ilovepdf.com/ cambio de word a pdf etc
                </p>
            </div>

            <div>
                <h2></h2>
                <p>
                    https://www.youtube.com/watch?v=z95mZVUcJ-E  js1

                    https://www.youtube.com/watch?v=xOinGb2MZSk js2

                </p>
            </div>
        </section>

        <footer>
            <div class="footer">
                <div class="up">
                    <a href="#links"></a>
                </div>
            </div>
        </footer>
    </main>
</body>
</html>