<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
</head>
<body>
    <main>
        <section>

        </section>
        <section>
            <div>
                <h2>Carousel</h2>
                <h3>in develop</h3>

                <p>resources</p>
                <p>
                    http://wallpaperswide.com/computers-desktop-wallpapers.html

                    https://www.youtube.com/watch?v=oP5472drWiI

                    https://codepen.io/JyGProyectosWeb/pen/QjBWxM

                    www.miguelmanchego.com/2015/css3-efectos-hover-para-imagenes/
                </p>
            </div>
        </section>
    </main>

</body>
</html>
